Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Fix app toggle failures from missing directories and ID/filename mismatches (#794)
  server/routes/admin/apps.js
Labels: backend, admin, api

Fix source content placeholder formatting
  server/services/PromptService.js
Labels: backend

Update systemPrompt to include sources formatting
  server/services/PromptService.js
Labels: backend

Auto-append sources to prompts when placeholder absent (#798)
  server/routes/admin/apps.js
  server/services/PromptService.js
  server/tests/auto-source-addition.test.js
Labels: backend, admin, api, testing

Fix admin direct links broken by stale base path cache and invalid route caching (#796)
  client/src/utils/runtimeBasePath.js
Labels: frontend

Add auto-send query parameter for prefilled messages (#800)
  PR_FEEDBACK_RESPONSE.md
  client/src/features/apps/pages/AppChat.jsx
  concepts/auto-send-feature/2026-02-02 auto-send-query-parameter.md
  concepts/auto-send-feature/AUTO_SEND_FEATURE.md
  concepts/auto-send-feature/AUTO_SEND_QUICK_REFERENCE.md
  concepts/auto-send-feature/AUTO_SEND_VISUAL_FLOW.md
  concepts/auto-send-feature/AUTO_SEND_VISUAL_MOCKUP.md
  concepts/auto-send-feature/IMPLEMENTATION_SUMMARY_AUTO_SEND.md
  concepts/auto-send-feature/README.md
  docs/SUMMARY.md
  docs/auto-send-feature.md
Labels: frontend, documentation

Fix: Persist encryption key to maintain API key decryptability across restarts (#802)
  .github/copilot-instructions.md
  concepts/2026-02-02 Encryption Key Persistence Migration.md
  concepts/2026-02-02 Provider API Key Persistence Fix.md
  docs/encryption-key-management.md
  server/server.js
  server/services/TokenStorageService.js
  tests/manual-test-provider-apikey-persistence-fix.js
Labels: backend, documentation, github-actions, ai-copilot

Show icons only for chat message quick actions (#804)
  client/src/features/chat/components/ChatMessage.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

Add copy link quick action for shareable auto-executable messages (#806)
  client/src/features/chat/components/ChatMessage.jsx
  concepts/2026-02-02 Copy Link Quick Action.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

Update embedded website configuration for Wikipedia
  server/defaults/apps/embedded-website-wikipedia.json
Labels: backend

removed unnecessary tools
  server/tools/answerReducer.js
  server/tools/deepResearch.js
  server/tools/evaluator.js
  server/tools/finalizer.js
  server/tools/queryRewriter.js
  server/tools/researchPlanner.js
  server/tools/webSearch.js
Labels: backend, tools

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/admin/providers.js
Labels: backend, admin, api

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/admin/providers.js
Labels: backend, admin, api

Delete custom API keys provider from config
  server/defaults/config/providers.json
Labels: backend

fix base path detection
  client/index.html
  client/src/utils/runtimeBasePath.js
  server/tools/webContentExtractor.js
Labels: frontend, backend, tools

Add admin panel configuration for websearch provider API keys with create/delete support (#816)
  .github/copilot-instructions.md
  CLAUDE.md
  GEMINI.md
  client/index.html
  client/src/App.jsx
  client/src/features/admin/pages/AdminProviderCreatePage.jsx
  client/src/features/admin/pages/AdminProvidersPage.jsx
  client/src/utils/runtimeBasePath.js
  concepts/websearch-provider-api-keys/2026-02-03 Websearch Provider API Key Configuration.md
  concepts/websearch-provider-api-keys/2026-02-03 Websearch Provider UI Screenshots.md
  concepts/websearch-provider-api-keys/IMPLEMENTATION_SUMMARY_WEBSEARCH_PROVIDERS.md
  concepts/websearch-provider-api-keys/README.md
  server/defaults/config/providers.json
  server/routes/admin/providers.js
  server/server.js
  server/services/WebSearchService.js
  server/tools/webContentExtractor.js
  server/utils/providerMigration.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/manual-test-websearch-provider-keys.js
Labels: frontend, backend, documentation, github-actions, admin, api, tools, i18n, ai-copilot

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Labels: github-actions

Update artifact upload path in static.yml
  .github/workflows/static.yml
Labels: github-actions

adjust ssl handling
  examples/config/tools.json
  server/defaults/config/tools.json
  server/utils/httpConfig.js
Labels: backend

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/swagger.js
Labels: backend, api

adjust js docs to reduce false positives
  server/utils/basePath.js
Labels: backend

moved logger.info to logger.debug for debug messages
  client/package-lock.json
  package-lock.json
  server/adapters/BaseAdapter.js
  server/adapters/openai-responses.js
  server/middleware/ntlmAuth.js
  server/middleware/setup.js
  server/package-lock.json
  server/routes/integrations/jira.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/utils/authDebug.js
Labels: frontend, backend, auth, chat, api, dependencies

simplified auth debug log
  server/routes/admin/configs.js
  server/utils/authDebug.js
  server/utils/authDebugService.js
  server/validators/platformConfigSchema.js
Labels: backend, admin, api

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/admin/backup.js
Labels: backend, admin, api

Fix authorization bypass in backup endpoints - require admin privileges (#820)
  concepts/2026-02-03 Admin API Security Audit.md
  server/routes/admin/backup.js
  server/tests/admin-endpoints-security.test.js
Labels: backend, documentation, admin, api, testing

Delete .github/workflows/static.yml
  .github/workflows/static.yml
Labels: github-actions

[WIP] Conduct security audit for admin APIs permissions (#821)
  SECURITY_AUDIT_SUMMARY.md
  concepts/2026-02-03 Admin Endpoints Security Audit.md
  package.json
  scripts/README-audit-admin-endpoints.md
  scripts/audit-admin-endpoints.js
Labels: backend, documentation, dependencies, tools

Include model parameter in message links when non-default model selected (#826)
  SECURITY_AUDIT_SUMMARY.md
  client/package-lock.json
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/canvas/components/CanvasChatPanel.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  concepts/2026-02-02 Copy Link Quick Action.md
  concepts/2026-02-03 Model Parameter in Message Links.md
  package-lock.json
  scripts/README-audit-admin-endpoints.md
  scripts/audit-admin-endpoints.js
  server/middleware/ntlmAuth.js
  server/package-lock.json
Labels: frontend, backend, documentation, auth, chat, dependencies, tools

Refactor query logging in chat request
  server/utils.js
Labels: backend

Add structured logging with component names for filterable JSON logs (#824)
  STRUCTURED_LOGGING_SUMMARY.md
  docs/logging.md
  examples/README.md
  examples/logging-demo.sh
  server/adapters/BaseAdapter.js
  server/adapters/anthropic.js
  server/adapters/google.js
  server/adapters/mistral.js
  server/adapters/openai.js
  server/adapters/vllm.js
  server/routes/admin/models.js
  server/routes/chat/dataRoutes.js
  server/server.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/services/chat/ToolExecutor.js
  server/tests/logger-structured.test.js
  server/utils.js
  server/utils/logger.js
Labels: backend, documentation, admin, chat, api, testing

Validate JWT tokens against user database for local auth (#840)
  concepts/2026-02-03 JWT User Validation Security Fix.md
  server/middleware/jwtAuth.js
  server/package-lock.json
  server/package.json
  server/tests/integration-test-jwt-validation.js
  server/tests/jwt-user-validation.test.js
  server/tests/manual-test-jwt-validation.js
Labels: backend, documentation, auth, testing, dependencies

Fix environment variable placeholders overwritten by secret sanitization (#842)
  concepts/2026-02-03 Client Secret Overwrite Fix.md
  server/middleware/jwtAuth.js
  server/routes/admin/configs.js
  tests/demo-client-secret-preservation.js
  tests/manual-test-client-secret-preservation.js
  tests/test-client-secret-preservation.js
Labels: backend, documentation, auth, admin, api

Add read-only view mode for users in admin interface (#838)
  client/src/App.jsx
  client/src/features/admin/pages/AdminUserViewPage.jsx
  client/src/features/admin/pages/AdminUsersPage.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, admin, i18n

move to debug log
  server/adapters/toolCalling/OpenAIConverter.js
Labels: backend, chat, api

Add filtering and sorting to user admin table (#836)
  client/src/features/admin/pages/AdminUsersPage.jsx
Labels: frontend, admin

fixed swagger issue
  client/package-lock.json
  package-lock.json
  server/package-lock.json
  server/routes/admin/providers.js
Labels: frontend, backend, admin, api, dependencies

Fix 7 Trivy CVEs: update glob, replace elliptic with jose (#832)
  client/package-lock.json
  concepts/2026-02-03 Trivy Security Vulnerability Remediation.md
  package-lock.json
  package.json
  server/middleware/proxyAuth.js
  server/package-lock.json
  server/package.json
  server/routes/admin/providers.js
  server/tests/jose-jwt-verification.test.js
Labels: frontend, backend, documentation, auth, admin, api, testing, dependencies

Add user ID filtering to Admin Users search (#834)
  client/src/features/admin/pages/AdminUsersPage.jsx
  tests/unit/client/admin-users-id-filtering.test.jsx
Labels: frontend, admin

Fix JSON logging field order to be consistent across all log entries (#851)
  concepts/2026-02-03 Fixed JSON Logging Field Order.md
  docs/logging.md
  package-lock.json
  server/package-lock.json
  server/tests/logger-json-field-order.test.js
  server/utils/logger.js
Labels: backend, documentation, testing, dependencies

added components to missing logs
  client/src/features/chat/components/ToolsToggle.jsx.backup
  server/configCache.js
  server/configLoader.js
  server/middleware/setup.js
  server/modelsLoader.js
  server/routes/staticRoutes.js
  server/routes/swagger.js
  server/serverHelpers.js
  server/services/TokenStorageService.js
  server/utils.js
  server/utils/ApiKeyVerifier.js
  server/utils/resourceLoader.js
  server/utils/setupUtils.js
  server/utils/versionHelper.js
Labels: frontend, backend, auth, chat, api

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
