Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(client): convert vite manualChunks to function form for Vite 8
  client/vite.config.js
  docs/releases/5.4.0/features.md
  server/migrations/V059__rebuild_agent_workflows_tripartite_memory.js
Labels: frontend, backend, documentation

feat(audit): expand audit logging to auth, OAuth, and user events
  client/src/features/admin/pages/AdminAuditLogPage.jsx
  client/src/features/admin/pages/AdminOverview.jsx
  docs/releases/5.4.0/features.md
  server/middleware/auditLogger.js
  server/middleware/oidcAuth.js
  server/middleware/setup.js
  server/migrations/V057__add_audit_options.js
  server/routes/admin/apps.js
  server/routes/admin/auditLog.js
  server/routes/admin/auth.js
  server/routes/admin/backup.js
  server/routes/admin/changes.js
  server/routes/admin/configs.js
  server/routes/admin/features.js
  server/routes/admin/groups.js
  server/routes/admin/models.js
  server/routes/admin/oauthClients.js
  server/routes/admin/prompts.js
  server/routes/admin/sources.js
  server/routes/admin/usage.js
  server/routes/auth.js
  server/server.js
  server/services/AuditLogService.js
  server/tests/auditEntrySchema.test.js
  server/tests/auditLogService.test.js
  server/utils/csv.js
  server/validators/auditEntrySchema.js
  server/validators/index.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, auth, admin, api, testing

fix(audit): linear email masking (ReDoS) + consolidate config into `audit`
  client/src/features/admin/pages/AdminAuditLogPage.jsx
  docs/releases/5.4.0/breaking-changes.md
  docs/releases/5.4.0/features.md
  server/migrations/V059__add_audit_options.js
  server/routes/admin/auditLog.js
  server/server.js
  server/services/AuditLogService.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, admin, api

chore(migration): renumber audit-options migration to V059 after rebase
  server/migrations/V059__add_audit_options.js
Labels: backend

fix(build,audit): function-form manualChunks + drop dead username fallback
  client/vite.config.js
  server/routes/auth.js
Labels: frontend, backend, auth, api

fix(audit): address review findings (privacy, durability, CSV safety, coverage)
  docs/releases/5.4.0/features.md
  server/middleware/auditLogger.js
  server/routes/admin/auditLog.js
  server/services/AuditLogService.js
  server/tests/auditLogService.test.js
  server/tests/auditLogger.test.js
  server/tests/csv.test.js
  server/utils/csv.js
Labels: backend, documentation, auth, admin, api, testing

feat(audit): expand audit logging to auth, OAuth, and user events (#1607)
  client/src/features/admin/pages/AdminAuditLogPage.jsx
  client/src/features/admin/pages/AdminOverview.jsx
  client/vite.config.js
  docs/releases/5.4.0/breaking-changes.md
  docs/releases/5.4.0/features.md
  server/middleware/auditLogger.js
  server/middleware/oidcAuth.js
  server/middleware/setup.js
  server/migrations/V059__add_audit_options.js
  server/routes/admin/apps.js
  server/routes/admin/auditLog.js
  server/routes/admin/auth.js
  server/routes/admin/backup.js
  server/routes/admin/changes.js
  server/routes/admin/configs.js
  server/routes/admin/features.js
  server/routes/admin/groups.js
  server/routes/admin/models.js
  server/routes/admin/oauthClients.js
  server/routes/admin/prompts.js
  server/routes/admin/sources.js
  server/routes/admin/usage.js
  server/routes/auth.js
  server/server.js
  server/services/AuditLogService.js
  server/tests/auditEntrySchema.test.js
  server/tests/auditLogService.test.js
  server/tests/auditLogger.test.js
  server/tests/csv.test.js
  server/utils/csv.js
  server/validators/auditEntrySchema.js
  server/validators/index.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, auth, admin, api, testing

docs: detailed Tiptap editor implementation plan (#1609)
  concepts/2026-06-16 Tiptap Editor Implementation Plan.md
Labels: documentation

docs: OSS agentic AI layer design (no Tiptap Pro) for editor (#1609)
  concepts/2026-06-16 Tiptap Editor Implementation Plan.md
  concepts/2026-06-16 Tiptap OSS Agentic AI Layer.md
Labels: documentation

docs: detailed Tiptap editor implementation plan (#1609) (#1611)
  concepts/2026-06-16 Tiptap Editor Implementation Plan.md
  concepts/2026-06-16 Tiptap OSS Agentic AI Layer.md
Labels: documentation

Add thinking/reasoning support for OpenAI and vLLM adapters
  docs/local-llm-providers.md
  docs/models.md
  docs/releases/5.4.0/features.md
  examples/models/qwen3-vllm-reasoning.json
  server/adapters/BaseAdapter.js
  server/adapters/openai.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/VLLMConverter.js
  server/adapters/vllm.js
  server/defaults/models/gpt-oss-vllm.json
  server/tests/openai-reasoning.test.js
  server/tests/vllm-reasoning.test.js
  server/validators/modelConfigSchema.js
Labels: backend, documentation, chat, api, testing

vLLM: honor per-request thinking toggle for single-boolean chatTemplateKwargs
  docs/local-llm-providers.md
  server/adapters/vllm.js
  server/tests/vllm-reasoning.test.js
Labels: backend, documentation, chat, api, testing

Add thinking/reasoning support for OpenAI and vLLM adapters (#1612)
  docs/local-llm-providers.md
  docs/models.md
  docs/releases/5.4.0/features.md
  examples/models/qwen3-vllm-reasoning.json
  server/adapters/BaseAdapter.js
  server/adapters/openai.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/VLLMConverter.js
  server/adapters/vllm.js
  server/defaults/models/gpt-oss-vllm.json
  server/tests/openai-reasoning.test.js
  server/tests/vllm-reasoning.test.js
  server/validators/modelConfigSchema.js
Labels: backend, documentation, chat, api, testing

feat(credentials): add central credential store foundation
  server/defaults/config/credentials.json
  server/migrations/V057__centralize_credentials.js
  server/services/CredentialService.js
  server/validators/credentialSchema.js
Labels: backend

refactor(secrets): route all integrations through central credential store
  client/src/App.jsx
  client/src/api/adminApi.js
  client/src/features/admin/components/AdminSidebarNavData.js
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/admin/components/JiraConfig.jsx
  client/src/features/admin/components/OpenApiToolEditor.jsx
  client/src/features/admin/components/PlatformFormEditor.jsx
  client/src/features/admin/pages/AdminCredentialsPage.jsx
  client/src/features/admin/pages/AdminMcpServersPage.jsx
  client/src/features/admin/pages/AdminToolEditPage.jsx
  server/configCache.js
  server/middleware/ldapAuth.js
  server/middleware/ntlmAuth.js
  server/middleware/oidcAuth.js
  server/routes/admin/configs.js
  server/routes/admin/credentials.js
  server/routes/admin/integrationTest.js
  server/routes/admin/mcpServers.js
  server/routes/admin/nextcloudEmbed.js
  server/routes/adminRoutes.js
  server/services/integrations/GoogleDriveService.js
  server/services/integrations/JiraService.js
  server/services/integrations/NextcloudService.js
  server/services/integrations/Office365Service.js
  server/services/mcp/McpServerConnection.js
  server/tests/services/CredentialService.test.js
  server/tests/validators/credentialSchema.test.js
  server/utils/iFinderJwt.js
  server/utils/platformSecrets.js
  server/validators/mcpServerConfigSchema.js
Labels: frontend, backend, auth, admin, api, testing

docs(credentials): add credential store design/handoff note
  concepts/credential-store/2026-06-17 Admin Credential Store CRUD and UI.md
Labels: documentation

feat(tools): generic OpenAPI HTTP tool runner (type: openapi)
  server/package-lock.json
  server/package.json
  server/requestThrottler.js
  server/routes/admin/tools.js
  server/services/tools/OpenApiToolRunner.js
  server/tests/CredentialService.test.js
  server/tests/OpenApiToolRunner.test.js
  server/tests/validators/openApiToolDefSchema.test.js
  server/toolLoader.js
  server/validators/openApiToolDefSchema.js
Labels: backend, admin, api, testing, dependencies

docs(changelog): OpenAPI tools + central credential store
  docs/releases/5.4.0/breaking-changes.md
  docs/releases/5.4.0/features.md
Labels: documentation

fix(openapi): drop crypto hash from spec cache key (CodeQL js/insufficient-password-hash)
  server/services/tools/OpenApiToolRunner.js
Labels: backend

fix(openapi): suppress CodeQL SSRF false-positive on admin parse endpoint
  server/routes/admin/tools.js
Labels: backend, admin, api

fix(credentials,openapi): renumber migration to V060 + address review findings
  server/migrations/V060__centralize_credentials.js
Labels: backend

fix(credentials,openapi): V060 version bump + review findings (content)
  client/src/features/admin/components/OpenApiToolEditor.jsx
  docs/releases/5.4.0/breaking-changes.md
  server/migrations/V060__centralize_credentials.js
  server/routes/admin/credentials.js
  server/routes/admin/tools.js
  server/services/tools/OpenApiToolRunner.js
Labels: frontend, backend, documentation, admin, api

fix(build): convert Vite manualChunks to function form for Vite 8
  client/vite.config.js
Labels: frontend

Fix high idle GPU usage in chat by scoping layer promotion to streaming
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/StreamingMarkdown.css
  client/src/features/chat/components/StreamingMarkdown.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, chat

Fix high idle GPU usage in chat by scoping layer promotion to streaming (#1614)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/StreamingMarkdown.css
  client/src/features/chat/components/StreamingMarkdown.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, chat

feat: new start page, collapsible left sidebar, and compact apps browser
  client/src/App.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/apps/pages/StartPage.jsx
  client/src/features/chat/data/mockChats.js
  client/src/features/chat/pages/ChatHistoryPage.jsx
  client/src/shared/components/AppSidebar.jsx
  client/src/shared/components/Layout.jsx
Labels: frontend, chat, ui

feat(admin): global SSRF allowlist for internal services
  client/src/features/admin/components/SsrfConfig.jsx
  client/src/features/admin/pages/AdminSecurityPage.jsx
  docs/releases/5.4.0/features.md
  server/migrations/V061__add_ssrf_allowed_hosts.js
  server/routes/admin/ssrf.js
  server/routes/adminRoutes.js
  server/services/mcp/safeFetch.js
  server/tests/OpenApiToolRunner.test.js
  server/validators/platformConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, testing, i18n

fix(ssrf): address Copilot review on SSRF allowlist PR
  client/src/features/admin/components/SsrfConfig.jsx
  server/services/mcp/safeFetch.js
  server/tests/mcp/safeFetch.test.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, testing, i18n

feat(admin): global SSRF allowlist for internal services (#1617)
  client/src/features/admin/components/SsrfConfig.jsx
  client/src/features/admin/pages/AdminSecurityPage.jsx
  docs/releases/5.4.0/features.md
  server/migrations/V061__add_ssrf_allowed_hosts.js
  server/routes/admin/ssrf.js
  server/routes/adminRoutes.js
  server/services/mcp/safeFetch.js
  server/tests/OpenApiToolRunner.test.js
  server/tests/mcp/safeFetch.test.js
  server/validators/platformConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, testing, i18n

fix(privacy): address Copilot review on PR #1618
  docs/pii-data-handling.md
  server/feedbackStorage.js
  server/services/AuditLogService.js
  server/tests/auditLogService.test.js
  server/utils/ipAnonymizer.js
  tests/unit/server/ipAnonymizer.test.js
Labels: backend, documentation, testing

feat(admin): UI for audit.anonymizeIp and logging.anonymizeIp
  client/src/features/admin/pages/AdminLoggingPage.jsx
  docs/pii-data-handling.md
  server/routes/admin/auditLog.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

feat(privacy): IP anonymization, rollup & feedback retention
  docs/SUMMARY.md
  docs/pii-data-handling.md
  docs/releases/5.4.0/features.md
  server/defaults/config/platform.json
  server/feedbackStorage.js
  server/migrations/V060__add_privacy_options.js
  server/services/AuditLogService.js
  server/services/UsageAggregator.js
  server/tests/auditLogService.test.js
  server/utils/ipAnonymizer.js
  server/utils/logger.js
  server/validators/auditEntrySchema.js
  server/validators/platformConfigSchema.js
  tests/unit/server/ipAnonymizer.test.js
Labels: backend, documentation, testing

feat(privacy): IP anonymization, rollup & feedback retention (#1618)
  client/src/features/admin/pages/AdminLoggingPage.jsx
  docs/SUMMARY.md
  docs/pii-data-handling.md
  docs/releases/5.4.0/features.md
  server/defaults/config/platform.json
  server/feedbackStorage.js
  server/migrations/V060__add_privacy_options.js
  server/routes/admin/auditLog.js
  server/services/AuditLogService.js
  server/services/UsageAggregator.js
  server/tests/auditLogService.test.js
  server/utils/ipAnonymizer.js
  server/utils/logger.js
  server/validators/auditEntrySchema.js
  server/validators/platformConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/unit/server/ipAnonymizer.test.js
Labels: frontend, backend, documentation, admin, api, testing, i18n

fix(tools): pin DNS lookup array form & accept YAML OpenAPI docs
  server/package-lock.json
  server/package.json
  server/routes/admin/tools.js
  server/services/mcp/safeFetch.js
  server/services/tools/OpenApiToolRunner.js
Labels: backend, admin, api, dependencies

feat(tools): make OpenAPI tools usable for public APIs and relative-server specs
  client/src/features/admin/components/OpenApiToolEditor.jsx
  server/routes/admin/tools.js
  server/services/tools/OpenApiToolRunner.js
  server/validators/openApiToolDefSchema.js
Labels: frontend, backend, admin, api

fix(admin/tools): hide empty Configuration tab on OpenAPI tools
  client/src/features/admin/pages/AdminToolEditPage.jsx
Labels: frontend, admin

fix(admin/tools): use multilingual name/description in OpenAPI editor
  client/src/features/admin/components/OpenApiToolEditor.jsx
Labels: frontend, admin

fix(admin/tools): stack ID and Name vertically in OpenAPI editor
  client/src/features/admin/components/OpenApiToolEditor.jsx
Labels: frontend, admin

fix: sidebar/start-page follow-ups from design review
  client/src/features/admin/components/AdminSidebar.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/apps/pages/StartPage.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/features/chat/startChatHandoff.js
  client/src/shared/components/AppSidebar.jsx
  client/src/shared/components/Layout.jsx
  client/src/utils/favoriteItems.js
  client/src/utils/integrationSettings.js
Labels: frontend, auth, admin, chat, ui

Exclude session start from audit log to stop POST /api/session/start spam
  docs/releases/5.4.0/features.md
  server/middleware/auditLogger.js
  server/tests/auditLogger.test.js
Labels: backend, documentation, auth, testing

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
