Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

sync package lock
  client/package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Potential fix for code scanning alert no. 347: Uncontrolled data used in path expression
  server/routes/admin/prompts.js
Labels: backend, admin, api

Potential fix for pull request finding 'Property access on null or undefined'
  server/services/integrations/SharePointService.js
Labels: backend

Add proxy_buffering off and 15min timeouts for SSE streaming (#917)
  concepts/2026-02-17 Nginx Proxy Buffering and Timeout Configuration.md
  concepts/docker-support/2025-07-28 Docker Implementation Examples.md
  concepts/reverse-proxy-nginx/nginx-proxy-howto.md
  concepts/subpath-deployment/2025-08-07 Deployment Examples and Migration Guide.md
  docker/nginx.conf
  docs/production-reverse-proxy-guide.md
  nginx.conf
Labels: documentation, docker

Add agentic workflow daily-doc-updater
  .gitattributes
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Labels: github-actions

Add agentic workflow glossary-maintainer
  .gitattributes
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/glossary-maintainer.md
Labels: github-actions

Add agentic workflow daily-doc-updater
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Labels: github-actions

Add agentic workflow glossary-maintainer
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/glossary-maintainer.md
Labels: github-actions

missing import files
  .github/aw/imports/.gitattributes
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/.github_agents_technical-doc-writer.agent.md
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/skills_documentation_SKILL.md
Labels: github-actions

removed doc updater
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Labels: github-actions

Add agentic workflow daily-doc-updater
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Labels: github-actions

push
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/daily-doc-updater.lock.yml
Labels: github-actions

overwrite
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/glossary-maintainer.lock.yml
Labels: github-actions

Updated agentic workflow daily-doc-updater
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Labels: github-actions

update
  .github/aw/actions-lock.json
Labels: github-actions

updated doc updater
  .github/aw/imports/github/gh-aw/ac090214a48a1938f7abafe132460b66752261af/.github_workflows_shared_mood.md
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Labels: github-actions

Add agentic workflow daily-repo-status
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
Labels: github-actions

Fix audio/image upload by using model metadata instead of name heuristics
  IMPLEMENTATION_SUMMARY_UPLOAD_MODEL_METADATA.md
  client/src/features/apps/pages/AppChat.jsx
  client/src/shared/hooks/useFileUploadHandler.js
  server/routes/integrations/office365.js
  server/services/integrations/Office365Service.js
Labels: frontend, backend, documentation, api

Rename SharePoint to Office 365 and implement lazy-loading file browser
  CLAUDE.md
  IMPLEMENTATION_SUMMARY_OFFICE365_LAZY_LOADING.md
  IMPLEMENTATION_SUMMARY_OFFICE365_RENAME.md
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/settings/pages/IntegrationsPage.jsx
  client/src/features/upload/components/AttachedFilesList.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/Office365FileBrowser.jsx
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/components/Uploader.jsx
  client/src/features/upload/components/index.js
  client/src/features/upload/hooks/useOffice365Browser.js
  client/src/features/upload/utils/cloudFileProcessing.js
  client/src/shared/components/Icon.jsx
  client/src/shared/contexts/PlatformConfigContext.jsx
  concepts/2026-02-16 Cloud Storage Integration for File Upload.md
  docs/office365-404-errors-explained.md
  docs/office365-drive-listing-debugging.md
  docs/office365-rate-limiting-fix.md
  docs/office365-scope-update.md
  server/middleware/setup.js
  server/routes/admin/configs.js
  server/routes/auth.js
  server/routes/integrations/office365.js
  server/server.js
  server/services/integrations/Office365Service.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, auth, admin, chat, api, ui, i18n

Potential fix for code scanning alert no. 348: Missing rate limiting
  server/routes/integrations/office365.js
Labels: backend, api

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/admin/configs.js
Labels: backend, admin, api

Potential fix for code scanning alert no. 350: Sensitive data read from GET request
  server/routes/integrations/office365.js
Labels: backend, api

fixed chat input
  client/src/features/chat/components/ChatInput.jsx
Labels: frontend, chat

finish up audio extraction
  AUDIO_EXTRACTION_IMPLEMENTATION.md
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useChatMessages.js
  server/services/PromptService.js
  tests/manual/test-audio-extraction.html
Labels: frontend, backend, documentation, chat

removed gh aw agents for now
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/glossary-maintainer.md
Labels: github-actions

Fix duplicate import and export mismatch in useFeatureFlags hook
  client/src/shared/components/Layout.jsx
  client/src/shared/hooks/useFeatureFlags.js
Labels: frontend, ui

Add integrations feature flag, Jira admin config, and conditional visibility
  client/src/features/admin/components/JiraConfig.jsx
  client/src/features/admin/pages/AdminProvidersPage.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/features/settings/pages/IntegrationsPage.jsx
  client/src/shared/contexts/PlatformConfigContext.jsx
  server/featureRegistry.js
  server/middleware/setup.js
  server/routes/admin/configs.js
  server/routes/auth.js
  server/routes/integrations/jira.js
  server/routes/integrations/office365.js
  server/services/integrations/JiraService.js
Labels: frontend, backend, auth, admin, api

Encrypt platform config secrets at rest using AES-256-GCM
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  server/configCache.js
  server/routes/admin/configs.js
Labels: backend, documentation, github-actions, admin, api, ai-copilot

Encrypt platform config secrets at rest using AES-256-GCM
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  server/configCache.js
  server/routes/admin/configs.js
Labels: backend, documentation, github-actions, admin, api, ai-copilot

Fix Office 365 session not available when OIDC is enabled
  server/middleware/setup.js
Labels: backend, auth

Fix Office 365 session not available when OIDC is enabled
  server/middleware/setup.js
Labels: backend, auth

Fix workflow timeout cancellations logged as user_cancelled (#966)
  concepts/2026-02-18 Workflow Timeout Cancellation Fix.md
  server/tools/workflowRunner.js
Labels: backend, documentation, tools

Fix non-functional AI disclaimer banner when link unconfigured (#971)
  AI_DISCLAIMER_BANNER_FIX_SUMMARY.md
  ai-disclaimer-banner-fix-demo.png
  client/package-lock.json
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  concepts/2026-02-19 Fix AI Hint Click Issue.md
  docs/ui.md
  examples/config/ui.json
  package-lock.json
  server/package-lock.json
  tests/demo-ai-disclaimer-banner-fix.html
  tests/unit/client/ai-disclaimer-banner.test.jsx
Labels: frontend, backend, documentation, chat, dependencies

Add preview feature flag and rename experimentalWorkflows to workflows (#972)
  AI_DISCLAIMER_BANNER_FIX_SUMMARY.md
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminFeaturesPage.jsx
  client/src/shared/components/Layout.jsx
  concepts/2026-02-17 Feature Flag Utility Encapsulation.md
  concepts/2026-02-19 Preview Features Implementation.md
  concepts/2026-02-19 Preview Features UI Design.md
  concepts/admin-workflow-management/2026-02-16 Admin Workflow Management Pages.md
  server/defaults/config/features.json
  server/featureRegistry.js
  server/routes/workflow/workflowRoutes.js
  shared/FEATURE_FLAGS_README.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, ui, i18n

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: github-actions

Fix workflow cancellation status not propagated to chat UI (#964)
  client/src/features/chat/components/WorkflowStepIndicator.jsx
  client/src/features/chat/hooks/useAppChat.js
  concepts/2026-02-18 Workflow Cancellation Flow Details.md
  concepts/2026-02-18 Workflow Cancellation Quick Reference.md
  concepts/2026-02-18 Workflow Cancellation Status Fix.md
  concepts/2026-02-18 Workflow Cancellation Visual Summary.md
  server/tools/workflowRunner.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, chat, tools, i18n

Preserve user context after OAuth integration callback (#968)
  client/src/features/settings/pages/IntegrationsPage.jsx
  client/src/features/upload/components/Office365FileBrowser.jsx
  client/src/shared/components/Layout.jsx
  client/src/shared/hooks/useOAuthCallbackCleanup.js
  concepts/2026-02-18 OAuth Return URL After Integration Callback.md
  server/routes/integrations/jira.js
  server/routes/integrations/office365.js
Labels: frontend, backend, documentation, api, ui

removed claude for now
  .github/workflows/claude-dispatch.yml
  .github/workflows/claude.yml
Labels: github-actions

[WIP] Extend 'Add OIDC Provider' with predefined and custom selector (#975)
  CLAUDE.md
  GEMINI.md
  OIDC_IMPLEMENTATION_SUMMARY.md
  OIDC_MODAL_MOCKUP.md
  OIDC_PROVIDER_SELECTOR_FEATURE.md
  client/src/features/admin/components/PlatformFormEditor.jsx
  concepts/2026-02-19 OIDC Provider Template Selector.md
  package-lock.json
  shared/i18n/de.json
  shared/i18n/en.json
  test-oidc-provider-selector.sh
Labels: frontend, backend, documentation, admin, dependencies, tools, i18n

[WIP] Fix NTLM password configuration in Admin UI (#974)
  OIDC_IMPLEMENTATION_SUMMARY.md
  OIDC_MODAL_MOCKUP.md
  OIDC_PROVIDER_SELECTOR_FEATURE.md
  client/src/features/admin/components/PlatformFormEditor.jsx
Labels: frontend, documentation, admin
