Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(outlook): handle image attachments and clean up context UI (#1467)
  client/office/taskpane-entry.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/office/components/chat/OfficeMailContextBanner.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/utilities/buildChatApiMessages.js
  tests/unit/client/office-build-chat-api-messages.test.jsx
Labels: frontend, chat

refactor(outlook): collapsible context strip + cloud-attachment fix (#1467)
  client/office/taskpane-entry.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/office/components/OfficeChatPanel.css
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  client/src/features/office/components/chat/OfficeMailContextBanner.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  client/src/features/office/hooks/useOutlookMailContextSnapshot.js
  client/src/features/office/utilities/buildChatApiMessages.js
  tests/unit/client/office-build-chat-api-messages.test.jsx
Labels: frontend, chat

fix(adapters): wrap base64 images as data URLs for vLLM + Mistral (#1467)
  package.json
  server/adapters/mistral.js
  server/adapters/vllm.js
  server/tests/vllm-mistral-image-formatting.test.js
Labels: backend, chat, api, testing, dependencies

fix(outlook): handle image attachments and clean up context UI (#1467) (#1468)
  client/office/taskpane-entry.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/office/components/OfficeChatPanel.css
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  client/src/features/office/components/chat/OfficeMailContextBanner.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/hooks/useOutlookMailContextSnapshot.js
  client/src/features/office/utilities/buildChatApiMessages.js
  package.json
  server/adapters/mistral.js
  server/adapters/vllm.js
  server/tests/vllm-mistral-image-formatting.test.js
  tests/unit/client/office-build-chat-api-messages.test.jsx
Labels: frontend, backend, chat, api, testing, dependencies

fix(workflows): security + correctness fixes for agentic workflow PR
  client/src/features/admin/pages/WorkflowEditorPage.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
  server/routes/workflow/triggerRoutes.js
  server/routes/workflow/workflowRoutes.js
  server/services/workflow/executors/HttpNodeExecutor.js
  server/services/workflow/triggers/TriggerManager.js
  server/services/workflow/triggers/WebhookTrigger.js
  server/tests/services/workflow/WebhookTrigger.test.js
  server/validators/workflowConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, testing, i18n

fix(workflows): security + correctness fixes for PR #1139 (#1476)
  client/src/features/admin/pages/WorkflowEditorPage.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
  server/routes/workflow/triggerRoutes.js
  server/routes/workflow/workflowRoutes.js
  server/services/workflow/executors/HttpNodeExecutor.js
  server/services/workflow/triggers/TriggerManager.js
  server/services/workflow/triggers/WebhookTrigger.js
  server/tests/services/workflow/WebhookTrigger.test.js
  server/validators/workflowConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, testing, i18n

chore: refresh server/package-lock.json peer flags
  server/package-lock.json
Labels: backend, dependencies

fix(workflowRoutes): apply basename() sanitizer for CodeQL taint analysis
  server/routes/workflow/workflowRoutes.js
Labels: backend, api

chore(security): annotate CodeQL false-positive path-injection findings
  server/routes/workflow/workflowRoutes.js
  server/utils/atomicWrite.js
Labels: backend, api

Potential fix for pull request finding 'CodeQL / Uncontrolled data used in path expression'
  server/routes/workflow/workflowRoutes.js
Labels: backend, api

Potential fix for pull request finding 'CodeQL / Uncontrolled data used in path expression'
  server/routes/workflow/workflowRoutes.js
  server/utils/pathSecurity.js
Labels: backend, api

docs(workflows): add multi-perspective UI review
  concepts/2026-05-19 Workflow UI Multi-Perspective Review.md
Labels: documentation

feat(workflows): improve user-facing workflow UI
  client/src/features/workflows/components/ExecutionCard.jsx
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/components/HumanCheckpoint.jsx
  client/src/features/workflows/components/ProgressBar.jsx
  client/src/features/workflows/components/StartWorkflowModal.jsx
  client/src/features/workflows/components/StatusBadge.jsx
  client/src/features/workflows/components/TechnicalDetailsToggle.jsx
  client/src/features/workflows/components/WorkflowCard.jsx
  client/src/features/workflows/components/index.js
  client/src/features/workflows/hooks/index.js
  client/src/features/workflows/hooks/useDocumentTitleOverride.js
  client/src/features/workflows/hooks/useElapsedTime.js
  client/src/features/workflows/hooks/useTechnicalDetailsToggle.js
  client/src/features/workflows/pages/MyExecutionsTab.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/features/workflows/pages/WorkflowListTab.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
  client/src/features/workflows/utils/filterInternalFields.js
  client/src/shared/components/ConfirmDialog.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, ui, i18n

fix(server): await async resolveAndValidatePath at every call site
  server/configLoader.js
  server/routes/admin/backup.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/routes/admin/ui.js
  server/routes/workflow/workflowRoutes.js
  server/services/skillLoader.js
  server/sources/FileSystemHandler.js
  server/sources/SourceManager.js
Labels: backend, admin, api

feat(outlook): extend Outlook add-in to calendar surfaces with knowledge-base apps
  client/office/taskpane-entry.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/chat/OfficeAppointmentContextBanner.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/office/utilities/officeCapabilities.js
  client/src/features/office/utilities/outlookCalendarContext.js
  client/src/features/office/utilities/outlookMailContext.js
  server/defaults/apps/meeting-agenda-generator.json
  server/defaults/apps/meeting-briefing.json
  server/defaults/config/platform.json
  server/defaults/config/sources.json
  server/defaults/sources/meeting-knowledge-base.md
  server/migrations/V039__add_calendar_integration.js
  server/routes/integrations/officeAddin.js
Labels: frontend, backend, api

feat(outlook): extend add-in to calendar surfaces with knowledge-base apps (#1481)
  client/office/taskpane-entry.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/chat/OfficeAppointmentContextBanner.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/office/utilities/officeCapabilities.js
  client/src/features/office/utilities/outlookCalendarContext.js
  client/src/features/office/utilities/outlookMailContext.js
  server/defaults/apps/meeting-agenda-generator.json
  server/defaults/apps/meeting-briefing.json
  server/defaults/config/platform.json
  server/defaults/config/sources.json
  server/defaults/sources/meeting-knowledge-base.md
  server/migrations/V039__add_calendar_integration.js
  server/routes/integrations/officeAddin.js
Labels: frontend, backend, api

feat(workflows): input, model, download, delete, archive on executions list
  client/src/features/workflows/components/ExecutionCard.jsx
  client/src/features/workflows/hooks/useMyExecutions.js
  client/src/features/workflows/pages/MyExecutionsTab.jsx
  concepts/2026-05-19 Workflow Executions Overview Enhancements.md
  server/routes/workflow/workflowRoutes.js
  server/services/workflow/ExecutionRegistry.js
  server/services/workflow/WorkflowEngine.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, api, i18n

feat(workflows): modular form panels, node deletion, LR auto-layout
  client/src/features/workflows/components/WorkflowCard.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/nodes/WorkflowNode.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/editor/panels/forms/ArrayField.jsx
  client/src/features/workflows/editor/panels/forms/CodeForm.jsx
  client/src/features/workflows/editor/panels/forms/DecisionForm.jsx
  client/src/features/workflows/editor/panels/forms/EndForm.jsx
  client/src/features/workflows/editor/panels/forms/FormField.jsx
  client/src/features/workflows/editor/panels/forms/HttpForm.jsx
  client/src/features/workflows/editor/panels/forms/HumanForm.jsx
  client/src/features/workflows/editor/panels/forms/JoinForm.jsx
  client/src/features/workflows/editor/panels/forms/LocalizedField.jsx
  client/src/features/workflows/editor/panels/forms/LoopForm.jsx
  client/src/features/workflows/editor/panels/forms/MemoryForm.jsx
  client/src/features/workflows/editor/panels/forms/ParallelForm.jsx
  client/src/features/workflows/editor/panels/forms/PlannerForm.jsx
  client/src/features/workflows/editor/panels/forms/PromptForm.jsx
  client/src/features/workflows/editor/panels/forms/ResourcePicker.jsx
  client/src/features/workflows/editor/panels/forms/StartForm.jsx
  client/src/features/workflows/editor/panels/forms/ToolForm.jsx
  client/src/features/workflows/editor/panels/forms/TransformForm.jsx
  client/src/features/workflows/editor/panels/forms/VerifierForm.jsx
  client/src/features/workflows/editor/panels/forms/index.js
  client/src/features/workflows/editor/workflowEditorUtils.js
  client/src/features/workflows/pages/WorkflowListTab.jsx
Labels: frontend

fix(workflows): overview download serves final report; fix truncated filenames
  client/src/features/workflows/pages/MyExecutionsTab.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  concepts/2026-05-19 Workflow Executions Overview Enhancements.md
  server/routes/workflow/workflowRoutes.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, api, i18n

feat(workflows): input, model, download, delete, archive on executions list
  client/src/features/workflows/components/ExecutionCard.jsx
  client/src/features/workflows/hooks/useMyExecutions.js
  client/src/features/workflows/pages/MyExecutionsTab.jsx
  concepts/2026-05-19 Workflow Executions Overview Enhancements.md
  server/routes/workflow/workflowRoutes.js
  server/services/workflow/ExecutionRegistry.js
  server/services/workflow/WorkflowEngine.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, api, i18n

fix(server): await async resolveAndValidatePath at every call site
  server/configLoader.js
  server/routes/admin/backup.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/routes/admin/ui.js
  server/routes/workflow/workflowRoutes.js
  server/services/skillLoader.js
  server/sources/FileSystemHandler.js
  server/sources/SourceManager.js
Labels: backend, admin, api

feat(workflows): improve user-facing workflow UI
  client/src/features/workflows/components/ExecutionCard.jsx
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/components/HumanCheckpoint.jsx
  client/src/features/workflows/components/ProgressBar.jsx
  client/src/features/workflows/components/StartWorkflowModal.jsx
  client/src/features/workflows/components/StatusBadge.jsx
  client/src/features/workflows/components/TechnicalDetailsToggle.jsx
  client/src/features/workflows/components/WorkflowCard.jsx
  client/src/features/workflows/components/index.js
  client/src/features/workflows/hooks/index.js
  client/src/features/workflows/hooks/useDocumentTitleOverride.js
  client/src/features/workflows/hooks/useElapsedTime.js
  client/src/features/workflows/hooks/useTechnicalDetailsToggle.js
  client/src/features/workflows/pages/MyExecutionsTab.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/features/workflows/pages/WorkflowListTab.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
  client/src/features/workflows/utils/filterInternalFields.js
  client/src/shared/components/ConfirmDialog.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, ui, i18n

docs(workflows): add multi-perspective UI review
  concepts/2026-05-19 Workflow UI Multi-Perspective Review.md
Labels: documentation

feat(workflows): node-type form panels + editor UX polish (#1483)
  client/src/features/workflows/components/WorkflowCard.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/nodes/WorkflowNode.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/editor/panels/forms/ArrayField.jsx
  client/src/features/workflows/editor/panels/forms/CodeForm.jsx
  client/src/features/workflows/editor/panels/forms/DecisionForm.jsx
  client/src/features/workflows/editor/panels/forms/EndForm.jsx
  client/src/features/workflows/editor/panels/forms/FormField.jsx
  client/src/features/workflows/editor/panels/forms/HttpForm.jsx
  client/src/features/workflows/editor/panels/forms/HumanForm.jsx
  client/src/features/workflows/editor/panels/forms/JoinForm.jsx
  client/src/features/workflows/editor/panels/forms/LocalizedField.jsx
  client/src/features/workflows/editor/panels/forms/LoopForm.jsx
  client/src/features/workflows/editor/panels/forms/MemoryForm.jsx
  client/src/features/workflows/editor/panels/forms/ParallelForm.jsx
  client/src/features/workflows/editor/panels/forms/PlannerForm.jsx
  client/src/features/workflows/editor/panels/forms/PromptForm.jsx
  client/src/features/workflows/editor/panels/forms/ResourcePicker.jsx
  client/src/features/workflows/editor/panels/forms/StartForm.jsx
  client/src/features/workflows/editor/panels/forms/ToolForm.jsx
  client/src/features/workflows/editor/panels/forms/TransformForm.jsx
  client/src/features/workflows/editor/panels/forms/VerifierForm.jsx
  client/src/features/workflows/editor/panels/forms/index.js
  client/src/features/workflows/editor/workflowEditorUtils.js
  client/src/features/workflows/pages/WorkflowListTab.jsx
Labels: frontend

docs(admin-redesign): add documentation alignment as parallel workstream
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Draft.md
  concepts/admin-redesign-2026/README.md
Labels: documentation

docs(admin-redesign): add product strategy and IA proposal
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Product Strategy & IA.md
Labels: documentation

docs(admin-redesign): add design brief and synthesised redesign draft
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Design Brief.md
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Draft.md
  concepts/admin-redesign-2026/README.md
Labels: documentation

Admin UI redesign: enterprise-ready IA proposal (draft) (#1484)
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Design Brief.md
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Draft.md
  concepts/admin-redesign-2026/2026-05-19 Admin UI Redesign Product Strategy & IA.md
  concepts/admin-redesign-2026/README.md
Labels: documentation

docs(concept): outlook M365 personal tab integration
  concepts/outlook-personal-tab/2026-05-19 Outlook M365 Personal Tab Integration.md
  concepts/outlook-personal-tab/README.md
Labels: documentation

docs(concept): outlook M365 personal tab integration (#1482)
  concepts/outlook-personal-tab/2026-05-19 Outlook M365 Personal Tab Integration.md
  concepts/outlook-personal-tab/README.md
Labels: documentation

docs(agent-factory): V1 requirements & architecture spec
  concepts/agent-factory/2026-05-19 V1 Requirements and Architecture.md
  concepts/agent-factory/README.md
Labels: documentation

docs(agent-factory): V1 requirements & architecture spec (#1485)
  concepts/agent-factory/2026-05-19 V1 Requirements and Architecture.md
  concepts/agent-factory/README.md
Labels: documentation

docs(agent-factory): V1 slim scope revision
  concepts/agent-factory/2026-05-20 V1 Slim Scope.md
  concepts/agent-factory/README.md
Labels: documentation

docs(agent-factory): V1 slim scope revision (#1486)
  concepts/agent-factory/2026-05-20 V1 Slim Scope.md
  concepts/agent-factory/README.md
Labels: documentation

fix(agent-factory): address CodeQL findings
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/inbox/inboxStore.js
  server/agents/memory/memoryFile.js
  server/agents/runtime/appAsToolGateway.js
  server/routes/admin/agents.js
  server/routes/agents/artifacts.js
  server/tools/agentTools.js
Labels: frontend, backend, admin, api, tools

fix(agent-factory): stronger CodeQL-recognized sanitizers
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/inbox/inboxStore.js
  server/agents/memory/memoryFile.js
  server/routes/admin/agents.js
  server/routes/agents/artifacts.js
  server/tools/agentTools.js
Labels: frontend, backend, admin, api, tools

fix(agent-factory): register agentFactory/appAsTool in featureRegistry
  server/featureRegistry.js
  server/migrations/V042__add_agent_factory.js
Labels: backend

feat(agent-factory): use shared i18n components in AgentEditPage
  client/src/features/admin/pages/AdminAgentEditPage.jsx
Labels: frontend, admin

feat(agent-factory): add agent brief, inbox checklist UI
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AdminAgentInboxEditPage.jsx
  client/src/features/admin/pages/AdminAgentInboxesPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin

fix(agent-factory): accept empty localized fields on save
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
