Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Add documentation for the feedback feature (#1303)
  docs/SUMMARY.md
  docs/feedback-feature.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

[WIP] Update README.md and merge with SUMMARY.md (#1305)
  docs/README.md
Labels: documentation

fix(office): eliminate spurious JWT audience warning for Outlook add-in tokens
  server/middleware/jwtAuth.js
Labels: backend, auth

fix(office): eliminate spurious JWT audience warning for Outlook add-in tokens (#1306)
  server/middleware/jwtAuth.js
Labels: backend, auth

Add functionality to override localizations via contents folder (#1309)
  examples/locales/README.md
  examples/locales/de.json
  examples/locales/en.json
  test-locale-api.js
  test-locale-override.js
  tests/unit/server/locale-override.test.js
Labels: frontend

Add translations for missing voice modes (#1315)
  shared/i18n/de.json
  shared/i18n/en.json
Labels: i18n

Add feature flag to enable/disable export functionality per app (#1313)
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/canvas/components/ExportMenu.jsx
  client/src/features/canvas/components/QuillToolbar.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatHeader.jsx
  client/src/features/chat/components/ExportConversationMenu.jsx
  client/src/features/chat/components/ExportDialog.jsx
  concepts/2026-04-22 Export Feature Flag Implementation.md
  docs/platform.md
  server/featureRegistry.js
  shared/FEATURE_FLAGS_README.md
Labels: frontend, backend, documentation, admin, chat

fix(office): handle token expiration with silent refresh in Outlook add-in
  client/office/taskpane-entry.jsx
  client/src/api/client.js
  client/src/features/office/api/officeAuth.js
  client/src/features/office/api/officeAuthBridge.js
  client/src/shared/hooks/useEventSource.js
Labels: frontend

fix(office): address review comments on token expiration handling
  client/src/features/office/api/officeAuth.js
  client/src/features/office/api/officeAuthBridge.js
  client/src/shared/hooks/useEventSource.js
Labels: frontend

fix(office): handle token expiration with silent refresh in Outlook add-in (#1307)
  client/office/taskpane-entry.jsx
  client/src/api/client.js
  client/src/features/office/api/officeAuth.js
  client/src/features/office/api/officeAuthBridge.js
  client/src/shared/hooks/useEventSource.js
Labels: frontend

Fix duplicate quick action icons in chat input toolbar (#1317)
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
Labels: frontend, chat

custom back now with specific url through window.open
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fixing href var, getting it into a catch
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button handler
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button with localstorage set
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fix(office): skip auth-gate transform for office add-in HTML pages
  client/vite-plugins/vite-plugin-auth-gate.js
Labels: frontend

fix(office): skip auth-gate transform for office add-in HTML pages (#1320)
  client/vite-plugins/vite-plugin-auth-gate.js
Labels: frontend

feat(server): sticky-session cluster, default 4 workers
  docs/SUMMARY.md
  docs/architecture.md
  docs/scaling.md
  docs/server-config.md
  package.json
  server/clusterSticky.js
  server/config.js
  server/server.js
Labels: backend, documentation, dependencies

feat(server): sticky-session cluster, default 4 workers (#1319)
  docs/SUMMARY.md
  docs/architecture.md
  docs/scaling.md
  docs/server-config.md
  package.json
  server/clusterSticky.js
  server/config.js
  server/server.js
Labels: backend, documentation, dependencies

Fix redirect issue after OIDC authentication in Outlook integration (#1322)
  server/middleware/oidcAuth.js
Labels: backend, auth

feat(office): add offline resilience to Outlook add-in
  client/office/taskpane-entry.jsx
  client/office/taskpane.html
  client/public/office/office-sw.js
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeOfflineScreen.jsx
  server/routes/office.js
Labels: frontend, backend, api

feat(office): add offline resilience to Outlook add-in (#1323)
  client/office/taskpane-entry.jsx
  client/office/taskpane.html
  client/public/office/office-sw.js
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeOfflineScreen.jsx
  server/routes/office.js
Labels: frontend, backend, api

Revert "feat(office): add offline resilience to Outlook add-in (#1323)"
  client/office/taskpane-entry.jsx
  client/office/taskpane.html
  client/public/office/office-sw.js
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeOfflineScreen.jsx
  server/routes/office.js
Labels: frontend, backend, api

Revert "feat(office): add offline resilience to Outlook add-in" (#1324)
  client/office/taskpane-entry.jsx
  client/office/taskpane.html
  client/public/office/office-sw.js
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeOfflineScreen.jsx
  server/routes/office.js
Labels: frontend, backend, api

[WIP] Fix file upload not working with Outlook integration (#1326)
  client/src/features/office/hooks/useOfficeChatAdapter.js
  concepts/2026-04-22 Outlook File Upload Fix.md
Labels: frontend, documentation

feat(canvas): dictation-to-document workflow with auto-apply
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/canvas/components/CanvasChatPanel.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  docs/superpowers/specs/2026-04-23-dictation-app-design.md
  examples/apps/dictation-writer.json
  server/defaults/apps/dictation-writer.json
Labels: frontend, backend, documentation

fix(canvas): resolve TDZ crash preventing canvas from loading
  client/src/features/canvas/pages/AppCanvas.jsx
Labels: frontend

Fix magic prompt broken by missing await on async convertResponseToGeneric
  server/utils.js
Labels: backend

fix(office): preserve returnUrl in auth-gate so OIDC redirects back to /api/oauth/authorize
  client/src/auth-gate/auth-gate.js
Labels: frontend

fix(auth): include base path in session cookie paths for subpath deployments
  server/middleware/setup.js
Labels: backend, auth

fix(auth): set session cookie path to '/' and validate OIDC returnUrl server-side
  server/middleware/oidcAuth.js
  server/middleware/setup.js
Labels: backend, auth

fix(office): land back on /api/oauth/authorize after OIDC on first auth (#1331)
  client/src/auth-gate/auth-gate.js
  server/middleware/oidcAuth.js
  server/middleware/setup.js
Labels: frontend, backend, auth

docs: add admin rollout guide for the Outlook add-in
  docs/SUMMARY.md
  docs/outlook-add-in.md
Labels: documentation

docs: add admin rollout guide for the Outlook add-in (#1333)
  docs/SUMMARY.md
  docs/outlook-add-in.md
Labels: documentation

Fix magic prompt broken by missing await on async convertResponseToGeneric
  server/utils.js
Labels: backend

Fix magic prompt broken by missing await on async convertResponseToGeneric (#1330)
  server/utils.js
Labels: backend

fix: add missing await on async convertResponseToGeneric and processResponseBuffer
  server/services/chat/StreamingHandler.js
Labels: backend

fix: add missing await on async convertResponseToGeneric and processResponseBuffer (#1332)
  server/services/chat/StreamingHandler.js
Labels: backend

fix(outlook): open auth dialog as separate webview, not iframe
  client/src/features/office/utilities/officeAuthDialog.js
Labels: frontend
