Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Enhance Dependabot config with schedule and cooldown
  .github/dependabot.yml
Labels: github-actions

fix(workflows): harden summary.yml against prompt injection (GHSA-f79p-xmmr-m7xg)
  .github/workflows/summary.yml
Labels: github-actions

Modify issue author checks in summary workflow
  .github/workflows/summary.yml
Labels: github-actions

fix(workflows): harden summary.yml against prompt injection (GHSA-f79p-xmmr-m7xg) (#1392)
  .github/workflows/summary.yml
Labels: github-actions

fix(ReactComponentRenderer): resolve eslint static-components errors
  client/src/shared/components/ReactComponentRenderer.jsx
Labels: frontend, ui

fix(ReactComponentRenderer): resolve eslint static-components build errors (#1393)
  client/src/shared/components/ReactComponentRenderer.jsx
Labels: frontend, ui

[WIP] Add enable/disable option for iAssistant configuration (#1395)
  client/src/features/admin/components/AppFormEditor.jsx
  docs/apps.md
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, i18n

fix(oidc): read groups claim from ID token
  server/middleware/oidcAuth.js
  server/utils/oidcIdToken.js
  tests/unit/server/oidcAuth.test.js
Labels: backend, auth

fix(oidc): read groups claim from ID token (#1396)
  server/middleware/oidcAuth.js
  server/utils/oidcIdToken.js
  tests/unit/server/oidcAuth.test.js
Labels: backend, auth

feat(bedrock): add AWS Bedrock Converse API adapter (#1373)
  client/src/features/admin/components/ModelFormEditor.jsx
  docs/models.md
  examples/catalog.json
  examples/models/bedrock/README.md
  examples/models/bedrock/bedrock-claude-3-5-sonnet.json
  examples/models/bedrock/bedrock-claude-3-7-sonnet.json
  examples/models/bedrock/bedrock-claude-haiku-3-5.json
  examples/models/bedrock/bedrock-claude-sonnet-4-6.json
  examples/models/bedrock/bedrock-command-r-plus.json
  examples/models/bedrock/bedrock-llama-3-3-70b.json
  examples/models/bedrock/bedrock-llama-4-scout.json
  examples/models/bedrock/bedrock-mistral-large-2.json
  examples/models/bedrock/bedrock-nova-lite.json
  examples/models/bedrock/bedrock-nova-micro.json
  examples/models/bedrock/bedrock-nova-pro.json
  examples/models/bedrock/bedrock-pixtral-large.json
  server/adapters/BaseAdapter.js
  server/adapters/bedrock.js
  server/adapters/bedrockEventStream.js
  server/adapters/iassistant-conversation.js
  server/adapters/index.js
  server/adapters/toolCalling/BedrockConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/defaults/config/providers.json
  server/defaults/config/registries.json
  server/migrations/V034__add_bedrock_provider.js
  server/migrations/V035__add_examples_marketplace_registry.js
  server/routes/admin/providers.js
  server/services/chat/StreamingHandler.js
  server/utils/ApiKeyVerifier.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, documentation, admin, chat, api

docs: add multi-server deployment guide
  docs/SUMMARY.md
  docs/multi-server-deployment.md
Labels: documentation

docs: add multi-server deployment guide (#1402)
  docs/SUMMARY.md
  docs/multi-server-deployment.md
Labels: documentation

fix(sources): inject user context into admin test/preview endpoints
  server/routes/admin/sources.js
Labels: backend, admin, api

refactor(compare-mode): replace dual-side hook with symmetric ComparePanel
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatHeader.jsx
  client/src/features/chat/components/CompareModeToggle.jsx
  client/src/features/chat/components/CompareModeView.jsx
  client/src/features/chat/components/ComparePanel.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useCompareMode.js
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, i18n

fix(sse): abort fetch on done/error to release HTTP/1.1 connection slot
  client/src/shared/hooks/useEventSource.js
  server/routes/chat/sessionRoutes.js
Labels: frontend, backend, chat, api

fix(sse): abort fetch on done/error to release HTTP/1.1 connection slot
  client/src/shared/hooks/useEventSource.js
  server/routes/chat/sessionRoutes.js
Labels: frontend, backend, chat, api

refactor(compare-mode): replace dual-side hook with symmetric ComparePanel
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatHeader.jsx
  client/src/features/chat/components/CompareModeToggle.jsx
  client/src/features/chat/components/CompareModeView.jsx
  client/src/features/chat/components/ComparePanel.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useCompareMode.js
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, i18n

refactor(compare-mode): replace dual-side hook with symmetric ComparePanel
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatHeader.jsx
  client/src/features/chat/components/CompareModeToggle.jsx
  client/src/features/chat/components/CompareModeView.jsx
  client/src/features/chat/components/ComparePanel.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useCompareMode.js
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, i18n

fix: initial model picks from app-compatible models only
  client/src/shared/hooks/useAppSettings.js
  client/src/utils/modelFiltering.js
Labels: frontend

fix: initial model picks from app-compatible models only
  client/src/shared/hooks/useAppSettings.js
  client/src/utils/modelFiltering.js
Labels: frontend

fix(sources): inject user context into admin test/preview endpoints
  server/routes/admin/sources.js
Labels: backend, admin, api

fix(sources): use collision-resistant chatId and add regression tests
  server/routes/admin/sources.js
  server/tests/admin-sources-user-context.test.js
Labels: backend, admin, api, testing

fix(sources): inject user context into admin test/preview endpoints
  server/routes/admin/sources.js
Labels: backend, admin, api

fix(sources): use collision-resistant chatId and add regression tests
  server/routes/admin/sources.js
  server/tests/admin-sources-user-context.test.js
Labels: backend, admin, api, testing

feat(bedrock): add AWS Bedrock Converse API adapter (#1373)
  client/src/features/admin/components/ModelFormEditor.jsx
  docs/models.md
  examples/catalog.json
  examples/models/bedrock/README.md
  examples/models/bedrock/bedrock-claude-3-5-sonnet.json
  examples/models/bedrock/bedrock-claude-3-7-sonnet.json
  examples/models/bedrock/bedrock-claude-haiku-3-5.json
  examples/models/bedrock/bedrock-claude-sonnet-4-6.json
  examples/models/bedrock/bedrock-command-r-plus.json
  examples/models/bedrock/bedrock-llama-3-3-70b.json
  examples/models/bedrock/bedrock-llama-4-scout.json
  examples/models/bedrock/bedrock-mistral-large-2.json
  examples/models/bedrock/bedrock-nova-lite.json
  examples/models/bedrock/bedrock-nova-micro.json
  examples/models/bedrock/bedrock-nova-pro.json
  examples/models/bedrock/bedrock-pixtral-large.json
  server/adapters/BaseAdapter.js
  server/adapters/bedrock.js
  server/adapters/bedrockEventStream.js
  server/adapters/iassistant-conversation.js
  server/adapters/index.js
  server/adapters/toolCalling/BedrockConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/defaults/config/providers.json
  server/defaults/config/registries.json
  server/migrations/V034__add_bedrock_provider.js
  server/migrations/V035__add_examples_marketplace_registry.js
  server/routes/admin/providers.js
  server/services/chat/StreamingHandler.js
  server/utils/ApiKeyVerifier.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, documentation, admin, chat, api

fix(bedrock): address copilot review feedback on PR #1397
  client/src/features/admin/components/ModelFormEditor.jsx
  docs/models.md
  examples/models/bedrock/README.md
  package.json
  server/tests/bedrockConverter.test.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, testing, dependencies, i18n

fix(bedrock): inference profiles, region UI, test endpoint, migration versions
  CLAUDE.md
  client/src/features/admin/components/ModelFormEditor.jsx
  server/adapters/bedrock.js
  server/adapters/toolCalling/BedrockConverter.js
  server/migrations/V036__add_bedrock_provider.js
  server/migrations/V037__add_examples_marketplace_registry.js
Labels: frontend, backend, documentation, admin, chat, api

fix(bedrock): address copilot review feedback on PR #1397
  client/src/features/admin/components/ModelFormEditor.jsx
  docs/models.md
  examples/models/bedrock/README.md
  package.json
  server/tests/bedrockConverter.test.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, testing, dependencies, i18n

fix(bedrock): inference profiles, region UI, test endpoint, migration versions
  CLAUDE.md
  client/src/features/admin/components/ModelFormEditor.jsx
  server/adapters/bedrock.js
  server/adapters/toolCalling/BedrockConverter.js
  server/migrations/V036__add_bedrock_provider.js
  server/migrations/V037__add_examples_marketplace_registry.js
Labels: frontend, backend, documentation, admin, chat, api

feat(bedrock): add AWS Bedrock Converse API adapter (#1373)
  client/src/features/admin/components/ModelFormEditor.jsx
  docs/models.md
  examples/catalog.json
  examples/models/bedrock/README.md
  examples/models/bedrock/bedrock-claude-3-5-sonnet.json
  examples/models/bedrock/bedrock-claude-3-7-sonnet.json
  examples/models/bedrock/bedrock-claude-haiku-3-5.json
  examples/models/bedrock/bedrock-claude-sonnet-4-6.json
  examples/models/bedrock/bedrock-command-r-plus.json
  examples/models/bedrock/bedrock-llama-3-3-70b.json
  examples/models/bedrock/bedrock-llama-4-scout.json
  examples/models/bedrock/bedrock-mistral-large-2.json
  examples/models/bedrock/bedrock-nova-lite.json
  examples/models/bedrock/bedrock-nova-micro.json
  examples/models/bedrock/bedrock-nova-pro.json
  examples/models/bedrock/bedrock-pixtral-large.json
  server/adapters/BaseAdapter.js
  server/adapters/bedrock.js
  server/adapters/bedrockEventStream.js
  server/adapters/iassistant-conversation.js
  server/adapters/index.js
  server/adapters/toolCalling/BedrockConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/defaults/config/providers.json
  server/defaults/config/registries.json
  server/migrations/V034__add_bedrock_provider.js
  server/migrations/V035__add_examples_marketplace_registry.js
  server/routes/admin/providers.js
  server/services/chat/StreamingHandler.js
  server/utils/ApiKeyVerifier.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, documentation, admin, chat, api

feat(update): disable in-place auto-update when running in containers
  client/src/features/admin/pages/AdminSystemPage.jsx
  docker/Dockerfile
  docs/INSTALLATION.md
  server/cli/update.js
  server/routes/admin/update.js
  server/services/updateService.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, docker, admin, api, i18n

feat(update): add NO_VERSION_CHECK env var to disable release polling
  docs/INSTALLATION.md
  server/cli/update.js
  server/routes/admin/version.js
  server/services/updateService.js
Labels: backend, documentation, admin, api

feat(update): disable in-place auto-update when running in containers
  client/src/features/admin/pages/AdminSystemPage.jsx
  docker/Dockerfile
  docs/INSTALLATION.md
  server/cli/update.js
  server/routes/admin/update.js
  server/services/updateService.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, docker, admin, api, i18n

feat(update): add NO_VERSION_CHECK env var to disable release polling
  docs/INSTALLATION.md
  server/cli/update.js
  server/routes/admin/version.js
  server/services/updateService.js
Labels: backend, documentation, admin, api

fix(upload): show cloud storage actions when local file upload is disabled
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/shared/hooks/useFileUploadHandler.js
Labels: frontend, chat

fix(upload): show cloud storage actions when local file upload is disabled
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/shared/hooks/useFileUploadHandler.js
Labels: frontend, chat

fix(client): prevent infinite reload loop after version update (#1421)
  client/src/utils/forceRefresh.js
Labels: frontend

fix(client): prevent infinite reload loop after version update (#1421)
  client/src/utils/forceRefresh.js
Labels: frontend

fix(nextcloud): address Copilot review feedback
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/NextcloudFileBrowser.jsx
  docs/nextcloud-integration.md
  server/services/integrations/NextcloudService.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, i18n

fix(nextcloud): address comprehensive review (security + code quality)
  client/src/features/admin/components/CloudStorageConfig.jsx
  docs/nextcloud-integration.md
  server/routes/integrations/nextcloud.js
  server/services/integrations/NextcloudService.js
  server/tests/nextcloud-service.test.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, testing, i18n

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
