Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Style answered question like normal LLM message
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

Restore question icon for answered clarifications
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

Add ask_user tool for interactive clarification questions (#870)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/components/ClarificationCard.jsx
  client/src/features/chat/components/ClarificationChips.jsx
  client/src/features/chat/components/ClarificationDropdown.jsx
  client/src/features/chat/components/ClarificationInput.jsx
  client/src/features/chat/components/ClarificationResponse.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/shared/hooks/useEventSource.js
  concepts/2026-02-06 Interactive User Clarification Tool.md
  concepts/ask-user-tool/2026-02-06 Ask User Tool Server Implementation.md
  concepts/interactive-user-clarification/2026-02-06 Clarification UI Components Implementation.md
  concepts/interactive-user-clarification/2026-02-06 Client Integration for Clarification Flow.md
  docs/ask-user-tool.md
  server/actionTracker.js
  server/defaults/config/tools.json
  server/services/chat/ToolExecutor.js
  server/tools/askUser.js
  shared/unifiedEventSchema.js
Labels: frontend, backend, documentation, chat, tools

Add agentic workflow system foundation
  concepts/agentic-workflows/2026-02-06 Workflow API Routes Implementation.md
  concepts/agentic-workflows/README.md
  concepts/workflow-system/2026-02-06 Node Executors Implementation.md
  server/configCache.js
  server/routes/workflow/index.js
  server/routes/workflow/workflowRoutes.js
  server/server.js
  server/services/workflow/DAGScheduler.js
  server/services/workflow/StateManager.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/AgentNodeExecutor.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/DecisionNodeExecutor.js
  server/services/workflow/executors/EndNodeExecutor.js
  server/services/workflow/executors/StartNodeExecutor.js
  server/services/workflow/executors/ToolNodeExecutor.js
  server/services/workflow/executors/index.js
  server/services/workflow/index.js
  server/validators/workflowConfigSchema.js
  server/workflowsLoader.js
Labels: backend, documentation, api

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/workflow/workflowRoutes.js
Labels: backend, api

Update concept document with implementation status and testing guide
  concepts/agentic-workflows/README.md
Labels: documentation

feat: implement agentic workflows
  client/src/App.jsx
  client/src/api/endpoints/config.js
  client/src/features/workflows/components/ExecutionCard.jsx
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/components/HumanCheckpoint.jsx
  client/src/features/workflows/components/StartWorkflowModal.jsx
  client/src/features/workflows/components/WorkflowCard.jsx
  client/src/features/workflows/components/WorkflowPreview.jsx
  client/src/features/workflows/components/index.js
  client/src/features/workflows/hooks/index.js
  client/src/features/workflows/hooks/useMyExecutions.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  client/src/features/workflows/hooks/useWorkflowList.js
  client/src/features/workflows/index.js
  client/src/features/workflows/pages/MyExecutionsTab.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/features/workflows/pages/WorkflowListTab.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
  client/src/features/workflows/pages/index.js
  client/src/shared/contexts/PlatformConfigContext.jsx
  client/src/utils/cache.js
  client/src/utils/runtimeBasePath.js
  concepts/agentic-workflows/2026-02-06 Phase 2 UI and Human Checkpoints.md
  concepts/agentic-workflows/README.md
  server/adapters/google.js
  server/routes/workflow/index.js
  server/routes/workflow/workflowRoutes.js
  server/services/workflow/DAGScheduler.js
  server/services/workflow/ExecutionRegistry.js
  server/services/workflow/StateManager.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/AgentNodeExecutor.js
  server/services/workflow/executors/EndNodeExecutor.js
  server/services/workflow/executors/HumanNodeExecutor.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/services/workflow/executors/index.js
  server/services/workflow/index.js
  server/utils/deepMerge.js
  server/validators/workflowConfigSchema.js
Labels: frontend, backend, documentation, chat, api

added tests
  package.json
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/AgentNodeExecutor.js
  tests/integration/workflows/fixtures/mock-workflows.js
  tests/integration/workflows/fixtures/workflow-test-utils.js
  tests/integration/workflows/run-research-assistant.mjs
  tests/integration/workflows/run-tool-workflow-test.mjs
  tests/integration/workflows/run-workflow-integration.mjs
  tests/integration/workflows/run-workflow-test.mjs
  tests/integration/workflows/workflow-execution.test.js
  tests/integration/workflows/workflow-human-checkpoint.test.js
  tests/integration/workflows/workflow-iterative-research.test.js
  tests/integration/workflows/workflow-tool-calling.test.js
Labels: backend, dependencies

Add autoStart configuration for proactive conversation initiation (#881)
  IMPLEMENTATION_SUMMARY_AUTOSTART.md
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  concepts/2026-02-10 Auto-Start Chat Feature.md
  concepts/2026-02-10 Auto-Start Flow Diagrams.md
  concepts/2026-02-10 Auto-Start Testing Guide.md
  examples/apps/coach-dialog.json
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, chat, i18n

Add missing ModelsRoutes component and component tags to logging system (#879)
  client/src/features/admin/pages/AdminLoggingPage.jsx
  concepts/2026-02-09 Logging Components Fix.md
  server/sse.js
  server/utils/adminRescue.js
  server/utils/authDebugService.js
  server/utils/responseHelpers.js
  server/utils/sourceDependencyTracker.js
  server/utils/userManager.js
  server/validators/sourceConfigSchema.js
Labels: frontend, backend, documentation, admin

Fix share link generation to use var_ prefix for variables (#877)
  client/src/features/chat/components/ChatMessage.jsx
  concepts/2026-02-10 Share Link Variable Prefix Fix.md
Labels: frontend, documentation, chat

Add audio file upload support for Google Gemini 2.0+ models with admin configuration and playback (#883)
  TESTING_AUDIO_UPLOAD.md
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/utils/fileProcessing.js
  client/src/shared/hooks/useFileUploadHandler.js
  concepts/2026-02-10 Audio File Upload Support.md
  docs/AUDIO_UI_GUIDE.md
  docs/SUMMARY.md
  docs/audio-file-support.md
  server/adapters/BaseAdapter.js
  server/adapters/google.js
  server/defaults/apps/audio-transcription.json
  server/defaults/models/gemini-2.0-flash-exp.json
  server/defaults/models/gemini-2.0-flash-thinking-exp-01-21.json
  server/validators/appConfigSchema.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, documentation, admin, chat, api

Fix tool schema localization - prevent Google API errors with null language parameter (#886)
  concepts/2026-02-11 Tool Localization Fix.md
  server/tests/google-tool-schema-validation.test.js
  server/tests/toolLoader-localization.test.js
  server/toolLoader.js
Labels: backend, documentation, testing

Potential fix for pull request finding 'Useless assignment to local variable'
  server/services/chat/RequestBuilder.js
Labels: backend

Handle no-model scenarios with specific error codes and UI feedback (#887)
  client/src/api/utils/requestHandler.js
  client/src/features/chat/components/ChatInput.jsx
  concepts/2026-02-11 No Model Available Error Handling.md
  server/routes/chat/sessionRoutes.js
  server/services/chat/RequestBuilder.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, chat, api, i18n

Add TIFF/TIF support to File Analyzer (#891)
  client/src/features/upload/utils/fileProcessing.js
  concepts/2026-02-13 TIFF Support Implementation.md
  examples/apps/file-analysis.json
  server/defaults/apps/file-analysis.json
Labels: frontend, backend, documentation

fixed dev enviroment without jwt secret set
  .env.example
  .gitignore
  server/middleware/jwtAuth.js
  server/middleware/setup.js
  server/routes/auth.js
  server/server.js
  server/services/TokenStorageService.js
  server/utils/oauthTokenService.js
  server/utils/tokenService.js
Labels: backend, configuration, auth, api

adjusted defaults
  server/defaults/config/platform.json
Labels: backend

Fix TIFF image upload with automatic conversion to PNG, multipage splitting, and improved UI (#896)
  .env.example
  .gitignore
  client/package-lock.json
  client/package.json
  client/src/features/upload/components/ImageUploader.jsx
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/components/Uploader.jsx
  client/src/features/upload/utils/fileProcessing.js
  concepts/2026-02-13 TIF-TIFF Image Format Support Fix.md
  concepts/MANUAL_TESTING_TIFF_UPLOAD.md
  server/defaults/config/platform.json
  server/middleware/jwtAuth.js
  server/middleware/setup.js
  server/routes/auth.js
  server/server.js
  server/services/TokenStorageService.js
  server/utils/oauthTokenService.js
  server/utils/tokenService.js
Labels: frontend, backend, configuration, documentation, auth, api, dependencies

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/chat/dataRoutes.js
Labels: backend, chat, api

Add AI disclaimer below chat input with external link (#898)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  server/defaults/config/ui.json
Labels: frontend, backend, chat

Fix Firefox module loading failure with static i18n imports (#873)
  FIREFOX_FIX_SUMMARY.md
  FIREFOX_FIX_TESTING.md
  client/src/services/i18nService.js
  concepts/2026-02-06 Firefox Dynamic Import Compatibility Fix.md
Labels: frontend, documentation

Fix resend race condition for apps with required variables (#875)
  RESEND_FIX_SUMMARY.md
  client/src/features/apps/pages/AppChat.jsx
  concepts/2026-02-06 Resend Functionality Fix for Apps with Variables.md
  test-resend-fix.md
Labels: frontend, documentation

Externalize mimetype mapping with category-based configuration and admin UI (#893)
  client/src/api/endpoints/config.js
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/MimeTypeSelector.jsx
  client/src/features/upload/utils/fileProcessing.js
  client/src/utils/cache.js
  concepts/2026-02-13 Externalize Mimetype Mapping.md
  docs/SUMMARY.md
  docs/mimetypes.md
  server/configCache.js
  server/defaults/config/mimetypes.json
  server/routes/chat/dataRoutes.js
  server/validators/mimetypeConfigSchema.js
Labels: frontend, backend, documentation, admin, chat, api

docs: update agentic workflows README with Phase 2.5 status and future plans
  concepts/agentic-workflows/README.md
Labels: documentation

fix: map file data to workflow's declared file variable and improve agent file handling
  server/services/workflow/executors/AgentNodeExecutor.js
  server/tools/workflowRunner.js
Labels: backend, tools

feat: add default workflow definitions and improve document-analysis prompts
  server/defaults/workflows/approval-workflow.json
  server/defaults/workflows/document-analysis.json
  server/defaults/workflows/iterative-research-auto.json
  server/defaults/workflows/iterative-research-human.json
  server/defaults/workflows/knowledge-qa.json
  server/defaults/workflows/research-assistant.json
Labels: backend

adjust workflow handling without mentioning
  client/package-lock.json
  client/src/App.jsx
  client/src/api/endpoints/config.js
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminHome.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ExportConversationMenu.jsx
  client/src/shared/components/Layout.jsx
  client/src/shared/contexts/PlatformConfigContext.jsx
  package-lock.json
  server/adapters/toolCalling/GenericToolCalling.js
  server/configCache.js
  server/defaults/config/platform.json
  server/defaults/workflows/document-analysis.json
  server/defaults/workflows/iterative-research-human.json
  server/routes/admin/sources.js
  server/routes/adminRoutes.js
  server/routes/chat/dataRoutes.js
  server/routes/shortLinkRoutes.js
  server/routes/toolRoutes.js
  server/routes/workflow/workflowRoutes.js
  server/services/chat/RequestBuilder.js
  server/services/chat/ToolExecutor.js
  server/services/workflow/executors/AgentNodeExecutor.js
  server/toolLoader.js
  server/tools/workflowRunner.js
  server/usageTracker.js
Labels: frontend, backend, admin, chat, api, dependencies, tools, ui

adjust workflow handling without mentioning
  client/src/features/admin/pages/AdminFeaturesPage.jsx
  server/defaults/config/features.json
  server/featureRegistry.js
  server/routes/admin/features.js
Labels: frontend, backend, admin, api

fix: render image-based PDF pages for vision models when text extraction fails
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/utils/fileProcessing.js
  server/services/chat/RequestBuilder.js
  server/services/workflow/executors/AgentNodeExecutor.js
Labels: frontend, backend, chat

Potential fix for code scanning alert no. 322: Uncontrolled data used in path expression
  server/routes/workflow/workflowRoutes.js
  server/services/workflow/StateManager.js
Labels: backend, api

Potential fix for code scanning alert no. 321: Resource exhaustion
  server/services/workflow/WorkflowEngine.js
Labels: backend

Potential fix for code scanning alert no. 331: Uncontrolled data used in path expression
  server/services/workflow/StateManager.js
Labels: backend

Potential fix for code scanning alert no. 330: Prototype-polluting function
  client/src/features/admin/pages/AdminWorkflowEditPage.jsx
Labels: frontend, admin

fixed basepath usage
  SECURITY_AUDIT_SUMMARY.md
  scripts/README-audit-admin-endpoints.md
  scripts/audit-admin-endpoints.js
  server/routes/admin/apps.js
  server/routes/admin/auth.js
  server/routes/admin/backup.js
  server/routes/admin/cache.js
  server/routes/admin/configs.js
  server/routes/admin/features.js
  server/routes/admin/groups.js
  server/routes/admin/models.js
  server/routes/admin/oauthClients.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/providers.js
  server/routes/admin/schemas.js
  server/routes/admin/sources.js
  server/routes/admin/tools.js
  server/routes/admin/translate.js
  server/routes/admin/ui.js
  server/routes/admin/version.js
  server/routes/auth.js
  server/routes/chat/dataRoutes.js
  server/routes/chat/feedbackRoutes.js
  server/routes/chat/sessionRoutes.js
  server/routes/generalRoutes.js
  server/routes/magicPromptRoutes.js
  server/routes/modelRoutes.js
  server/routes/oauth.js
  server/routes/pageRoutes.js
  server/routes/sessionRoutes.js
  server/routes/shortLinkRoutes.js
  server/routes/swagger.js
  server/routes/toolRoutes.js
  server/routes/workflow/workflowRoutes.js
Labels: backend, documentation, auth, admin, chat, api, tools

lint
  client/src/features/admin/pages/AdminWorkflowEditPage.jsx
  server/routes/admin/apps.js
  server/routes/admin/auth.js
  server/routes/admin/configs.js
  server/routes/admin/groups.js
  server/routes/admin/models.js
  server/routes/admin/oauthClients.js
  server/routes/admin/prompts.js
  server/routes/admin/providers.js
  server/routes/admin/tools.js
  server/routes/admin/ui.js
  server/routes/admin/version.js
  server/routes/chat/sessionRoutes.js
  server/routes/swagger.js
  server/services/workflow/StateManager.js
  server/services/workflow/WorkflowEngine.js
Labels: frontend, backend, admin, chat, api

downgrade eslint to ^9.7.0 for plugin compatibility
  package-lock.json
  package.json
Labels: backend, dependencies

Potential fix for code scanning alert no. 336: Prototype-polluting assignment
  server/routes/admin/auth.js
Labels: backend, admin, api

Potential fix for code scanning alert no. 345: Uncontrolled data used in path expression
  server/routes/admin/ui.js
Labels: backend, admin, api

Potential fix for code scanning alert no. 343: Uncontrolled data used in path expression
  server/routes/admin/prompts.js
Labels: backend, admin, api

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
