Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(nextcloud): replace backtracking slash-trim regex with split/filter
  server/services/integrations/NextcloudService.js
Labels: backend

feat(integrations): add Nextcloud as a cloud storage provider (#1400)
  client/src/App.jsx
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/admin/pages/AdminIntegrationsNextcloudPage.jsx
  client/src/features/admin/pages/AdminIntegrationsPage.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/NextcloudFileBrowser.jsx
  client/src/features/upload/hooks/useNextcloudBrowser.js
  docs/SUMMARY.md
  docs/nextcloud-integration.md
  server/routes/integrations/nextcloud.js
  server/server.js
  server/services/integrations/NextcloudService.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

feat(cloud-storage): show live callback URL with copy button in provider editor
  client/src/features/admin/components/CloudStorageConfig.jsx
  docs/nextcloud-integration.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, admin, i18n

fix(chat): translation collision on cloudStorage.googleDrive provider label
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  concepts/2026-05-11 Cloud Storage Browser Shell Extraction.md
  concepts/2026-05-11 Cloud Storage Provider Security Parity.md
Labels: frontend, documentation, chat

fix(chat): translation collision on cloudStorage.googleDrive provider label
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  concepts/2026-05-11 Cloud Storage Browser Shell Extraction.md
  concepts/2026-05-11 Cloud Storage Provider Security Parity.md
Labels: frontend, documentation, chat

fix(nextcloud): replace backtracking slash-trim regex with split/filter
  server/services/integrations/NextcloudService.js
Labels: backend

feat(integrations): add Nextcloud as a cloud storage provider (#1400)
  client/src/App.jsx
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/admin/pages/AdminIntegrationsNextcloudPage.jsx
  client/src/features/admin/pages/AdminIntegrationsPage.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/NextcloudFileBrowser.jsx
  client/src/features/upload/hooks/useNextcloudBrowser.js
  docs/SUMMARY.md
  docs/nextcloud-integration.md
  server/routes/integrations/nextcloud.js
  server/server.js
  server/services/integrations/NextcloudService.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

feat(cloud-storage): show live callback URL with copy button in provider editor
  client/src/features/admin/components/CloudStorageConfig.jsx
  docs/nextcloud-integration.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, admin, i18n

fix(nextcloud): address comprehensive review (security + code quality)
  client/src/features/admin/components/CloudStorageConfig.jsx
  docs/nextcloud-integration.md
  server/routes/integrations/nextcloud.js
  server/services/integrations/NextcloudService.js
  server/tests/nextcloud-service.test.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, testing, i18n

fix(nextcloud): address Copilot review feedback
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/NextcloudFileBrowser.jsx
  docs/nextcloud-integration.md
  server/services/integrations/NextcloudService.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, i18n

feat(integrations): add Nextcloud embed UI (#1401)
  client/nextcloud/nextcloud.css
  client/nextcloud/taskpane-entry.jsx
  client/nextcloud/taskpane.html
  client/public/nextcloud/callback.html
  client/src/App.jsx
  client/src/features/admin/pages/AdminIntegrationsPage.jsx
  client/src/features/admin/pages/AdminNextcloudEmbedPage.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudConnection.js
  client/src/features/nextcloud-embed/utilities/nextcloudAuthDialog.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudSelectionBridge.js
  client/src/utils/runtimeBasePath.js
  client/vite.config.js
  concepts/nextcloud-embed/2026-05-11 Nextcloud Embed UI.md
  concepts/nextcloud-embed/2026-05-11 PostMessage and Hash Selection Protocol.md
  concepts/nextcloud-embed/README.md
  docs/nextcloud-integration.md
  nextcloud-app/Makefile
  nextcloud-app/README.md
  nextcloud-app/appinfo/info.xml
  nextcloud-app/appinfo/routes.php
  nextcloud-app/css/main.css
  nextcloud-app/lib/Controller/PageController.php
  nextcloud-app/src/main.js
  nextcloud-app/templates/main.php
  server/migrations/V038__add_nextcloud_embed_config.js
  server/routes/admin/nextcloudEmbed.js
  server/routes/adminRoutes.js
  server/routes/integrations/nextcloudEmbed.js
  server/routes/nextcloudEmbedPages.js
  server/routes/staticRoutes.js
  server/server.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

fix(nextcloud-embed): validate iHub base URL before iframe.src (CodeQL)
  nextcloud-app/src/main.js
Labels: none

feat(nextcloud-app): migrate to NC 33 with @nextcloud/files v4 + Vite build
  nextcloud-app/.gitignore
  nextcloud-app/Makefile
  nextcloud-app/README.md
  nextcloud-app/appinfo/info.xml
  nextcloud-app/img/app.svg
  nextcloud-app/lib/AppInfo/Application.php
  nextcloud-app/lib/Controller/PageController.php
  nextcloud-app/lib/Listener/LoadScriptsListener.php
  nextcloud-app/package-lock.json
  nextcloud-app/package.json
  nextcloud-app/src/files-init.ts
  nextcloud-app/src/main.js
  nextcloud-app/src/main.ts
  nextcloud-app/src/shared.ts
  nextcloud-app/templates/main.php
  nextcloud-app/tsconfig.json
  nextcloud-app/vite.config.ts
Labels: none

feat(nextcloud-embed): full-app OAuth embed entry for Nextcloud
  client/nextcloud/full-app-entry.jsx
  client/nextcloud/full-embed.html
  client/src/shared/contexts/AuthContext.jsx
  client/src/utils/integrationSettings.js
  client/vite.config.js
  nextcloud-app/src/files-init.ts
  nextcloud-app/src/main.ts
  nextcloud-app/src/shared.ts
  server/routes/nextcloudEmbedPages.js
Labels: frontend, backend, api

fix(cloud-storage): pass extracted text as document content
  client/src/features/upload/utils/cloudFileProcessing.js
Labels: frontend

fix(nextcloud-embed): validate stored OAuth token via userinfo probe
  client/nextcloud/full-app-entry.jsx
Labels: frontend

feat(nextcloud-embed): auto-attach Nextcloud-selected files to chat
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/nextcloud-embed/components/NextcloudSelectionBanner.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudFileMeta.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, i18n

docs(nextcloud-embed): admin install guide + CI build workflow
  .github/workflows/build-nextcloud-plugin.yml
  .gitignore
  docs/SUMMARY.md
  docs/nextcloud-embed.md
Labels: documentation, github-actions

feat(nextcloud-app): open iHub inside Nextcloud + ihub_chat/ packaging
  nextcloud-app/Makefile
  nextcloud-app/package-lock.json
  nextcloud-app/package.json
  nextcloud-app/src/files-init.ts
Labels: none

fix(nextcloud-embed): split user-controlled values out of console format strings (CodeQL)
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
Labels: frontend

fix(nextcloud-embed): address Copilot review feedback
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  docs/nextcloud-embed.md
  server/routes/integrations/nextcloudEmbed.js
  shared/i18n/en.json
Labels: frontend, backend, documentation, api, i18n

fix(nextcloud-embed): review fixes and simplification
  client/nextcloud/full-app-entry.jsx
  client/nextcloud/full-embed.html
  client/nextcloud/taskpane-entry.jsx
  client/nextcloud/taskpane.html
  client/src/features/admin/pages/AdminNextcloudEmbedPage.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudConnection.js
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudFileMeta.js
  client/src/features/nextcloud-embed/utilities/nextcloudSelectionBridge.js
  client/vite.config.js
  concepts/nextcloud-embed/2026-05-11 Nextcloud Embed UI.md
  concepts/nextcloud-embed/2026-05-11 PostMessage and Hash Selection Protocol.md
  docs/nextcloud-integration.md
  nextcloud-app/README.md
  nextcloud-app/src/main.ts
  server/routes/admin/nextcloudEmbed.js
  server/routes/integrations/nextcloudEmbed.js
  server/routes/nextcloudEmbedPages.js
  server/utils/platformSecrets.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

fix(tools): surface proxy/network failures instead of swallowing them
  server/services/WebSearchService.js
  server/services/chat/ToolExecutor.js
  server/toolLoader.js
Labels: backend

fix(tools): surface proxy/network failures instead of swallowing them
  server/services/WebSearchService.js
  server/services/chat/ToolExecutor.js
  server/toolLoader.js
Labels: backend

fix(connections): close remaining HTTP/1.1 slot leaks across SSE + polling
  client/src/api/adminApi.js
  client/src/features/admin/pages/AdminSystemPage.jsx
  client/src/features/admin/pages/AdminWorkflowExecutionsPage.jsx
  client/src/features/tools/pages/JobListPage.jsx
  client/src/features/workflows/hooks/useMyExecutions.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  client/src/shared/hooks/useEventSource.js
  client/src/shared/utils/parseSseStream.js
  server/routes/chat/sessionRoutes.js
  server/routes/openaiProxy.js
  server/routes/toolsService/jobStore.js
  server/routes/workflow/workflowRoutes.js
  server/serverHelpers.js
  server/sse.js
Labels: frontend, backend, admin, chat, api

fix(connections): close remaining HTTP/1.1 slot leaks across SSE + polling
  client/src/api/adminApi.js
  client/src/features/admin/pages/AdminSystemPage.jsx
  client/src/features/admin/pages/AdminWorkflowExecutionsPage.jsx
  client/src/features/tools/pages/JobListPage.jsx
  client/src/features/workflows/hooks/useMyExecutions.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  client/src/shared/hooks/useEventSource.js
  client/src/shared/utils/parseSseStream.js
  server/routes/chat/sessionRoutes.js
  server/routes/openaiProxy.js
  server/routes/toolsService/jobStore.js
  server/routes/workflow/workflowRoutes.js
  server/serverHelpers.js
  server/sse.js
Labels: frontend, backend, admin, chat, api

fix(nextcloud-embed): review fixes and simplification
  client/nextcloud/full-app-entry.jsx
  client/nextcloud/full-embed.html
  client/nextcloud/taskpane-entry.jsx
  client/nextcloud/taskpane.html
  client/src/features/admin/pages/AdminNextcloudEmbedPage.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudConnection.js
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudFileMeta.js
  client/src/features/nextcloud-embed/utilities/nextcloudSelectionBridge.js
  client/vite.config.js
  concepts/nextcloud-embed/2026-05-11 Nextcloud Embed UI.md
  concepts/nextcloud-embed/2026-05-11 PostMessage and Hash Selection Protocol.md
  docs/nextcloud-integration.md
  nextcloud-app/README.md
  nextcloud-app/src/main.ts
  server/routes/admin/nextcloudEmbed.js
  server/routes/integrations/nextcloudEmbed.js
  server/routes/nextcloudEmbedPages.js
  server/utils/platformSecrets.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

feat(nextcloud-embed): full-app OAuth embed entry for Nextcloud
  client/nextcloud/full-app-entry.jsx
  client/nextcloud/full-embed.html
  client/src/shared/contexts/AuthContext.jsx
  client/src/utils/integrationSettings.js
  client/vite.config.js
  nextcloud-app/src/files-init.ts
  nextcloud-app/src/main.ts
  nextcloud-app/src/shared.ts
  server/routes/nextcloudEmbedPages.js
Labels: frontend, backend, api

feat(nextcloud-embed): auto-attach Nextcloud-selected files to chat
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/nextcloud-embed/components/NextcloudSelectionBanner.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudFileMeta.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, i18n

feat(nextcloud-app): open iHub inside Nextcloud + ihub_chat/ packaging
  nextcloud-app/Makefile
  nextcloud-app/package-lock.json
  nextcloud-app/package.json
  nextcloud-app/src/files-init.ts
Labels: none

fix(cloud-storage): pass extracted text as document content
  client/src/features/upload/utils/cloudFileProcessing.js
Labels: frontend

fix(nextcloud-embed): validate stored OAuth token via userinfo probe
  client/nextcloud/full-app-entry.jsx
Labels: frontend

fix(nextcloud-embed): split user-controlled values out of console format strings (CodeQL)
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
Labels: frontend

feat(integrations): add Nextcloud embed UI (#1401)
  client/nextcloud/nextcloud.css
  client/nextcloud/taskpane-entry.jsx
  client/nextcloud/taskpane.html
  client/public/nextcloud/callback.html
  client/src/App.jsx
  client/src/features/admin/pages/AdminIntegrationsPage.jsx
  client/src/features/admin/pages/AdminNextcloudEmbedPage.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudConnection.js
  client/src/features/nextcloud-embed/utilities/nextcloudAuthDialog.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudSelectionBridge.js
  client/src/utils/runtimeBasePath.js
  client/vite.config.js
  concepts/nextcloud-embed/2026-05-11 Nextcloud Embed UI.md
  concepts/nextcloud-embed/2026-05-11 PostMessage and Hash Selection Protocol.md
  concepts/nextcloud-embed/README.md
  docs/nextcloud-integration.md
  nextcloud-app/Makefile
  nextcloud-app/README.md
  nextcloud-app/appinfo/info.xml
  nextcloud-app/appinfo/routes.php
  nextcloud-app/css/main.css
  nextcloud-app/lib/Controller/PageController.php
  nextcloud-app/src/main.js
  nextcloud-app/templates/main.php
  server/migrations/V038__add_nextcloud_embed_config.js
  server/routes/admin/nextcloudEmbed.js
  server/routes/adminRoutes.js
  server/routes/integrations/nextcloudEmbed.js
  server/routes/nextcloudEmbedPages.js
  server/routes/staticRoutes.js
  server/server.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

docs(nextcloud-embed): admin install guide + CI build workflow
  .github/workflows/build-nextcloud-plugin.yml
  .gitignore
  docs/SUMMARY.md
  docs/nextcloud-embed.md
Labels: documentation, github-actions

fix(nextcloud-embed): validate iHub base URL before iframe.src (CodeQL)
  nextcloud-app/src/main.js
Labels: none

fix(nextcloud-embed): review fixes and simplification
  client/nextcloud/full-app-entry.jsx
  client/nextcloud/full-embed.html
  client/nextcloud/taskpane-entry.jsx
  client/nextcloud/taskpane.html
  client/src/features/admin/pages/AdminNextcloudEmbedPage.jsx
  client/src/features/nextcloud-embed/hooks/useNextcloudConnection.js
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  client/src/features/nextcloud-embed/utilities/nextcloudDocumentContext.js
  client/src/features/nextcloud-embed/utilities/nextcloudFileMeta.js
  client/src/features/nextcloud-embed/utilities/nextcloudSelectionBridge.js
  client/vite.config.js
  concepts/nextcloud-embed/2026-05-11 Nextcloud Embed UI.md
  concepts/nextcloud-embed/2026-05-11 PostMessage and Hash Selection Protocol.md
  docs/nextcloud-integration.md
  nextcloud-app/README.md
  nextcloud-app/src/main.ts
  server/routes/admin/nextcloudEmbed.js
  server/routes/integrations/nextcloudEmbed.js
  server/routes/nextcloudEmbedPages.js
  server/utils/platformSecrets.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

feat(nextcloud-app): migrate to NC 33 with @nextcloud/files v4 + Vite build
  nextcloud-app/.gitignore
  nextcloud-app/Makefile
  nextcloud-app/README.md
  nextcloud-app/appinfo/info.xml
  nextcloud-app/img/app.svg
  nextcloud-app/lib/AppInfo/Application.php
  nextcloud-app/lib/Controller/PageController.php
  nextcloud-app/lib/Listener/LoadScriptsListener.php
  nextcloud-app/package-lock.json
  nextcloud-app/package.json
  nextcloud-app/src/files-init.ts
  nextcloud-app/src/main.js
  nextcloud-app/src/main.ts
  nextcloud-app/src/shared.ts
  nextcloud-app/templates/main.php
  nextcloud-app/tsconfig.json
  nextcloud-app/vite.config.ts
Labels: none

fix(nextcloud-embed): address Copilot review feedback
  client/src/features/nextcloud-embed/hooks/useNextcloudEmbedAttachments.js
  docs/nextcloud-embed.md
  server/routes/integrations/nextcloudEmbed.js
  shared/i18n/en.json
Labels: frontend, backend, documentation, api, i18n

refactor(cloud-storage): introduce useCloudStorageBrowser factory + CloudFileBrowserShell, migrate Nextcloud
  client/src/features/upload/components/CloudFileBrowserShell.jsx
  client/src/features/upload/components/NextcloudFileBrowser.jsx
  client/src/features/upload/hooks/useCloudStorageBrowser.js
  client/src/features/upload/hooks/useNextcloudBrowser.js
Labels: frontend

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
