Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

feat(cloud-storage): per-provider token scoping with eager startup migration
  client/src/features/upload/components/CloudFileBrowserShell.jsx
  client/src/features/upload/hooks/useCloudStorageBrowser.js
  client/src/features/upload/hooks/useGoogleDriveBrowser.js
  client/src/features/upload/hooks/useNextcloudBrowser.js
  client/src/features/upload/hooks/useOffice365Browser.js
  docs/google-drive-integration.md
  docs/nextcloud-integration.md
  docs/office365-integration.md
  server/routes/integrations/googledrive.js
  server/routes/integrations/nextcloud.js
  server/routes/integrations/office365.js
  server/server.js
  server/services/TokenStorageService.js
  server/services/integrations/GoogleDriveService.js
  server/services/integrations/NextcloudService.js
  server/services/integrations/Office365Service.js
Labels: frontend, backend, documentation, api

refactor(cloud-storage): migrate Google Drive to shared browser shell
  client/src/features/upload/components/GoogleDriveFileBrowser.jsx
  client/src/features/upload/hooks/useGoogleDriveBrowser.js
Labels: frontend

fix(integrations): port Nextcloud security hardening to Office 365, Google Drive, and Jira
  server/routes/integrations/googledrive.js
  server/routes/integrations/jira.js
  server/routes/integrations/nextcloud.js
  server/routes/integrations/office365.js
  server/services/integrations/GoogleDriveService.js
  server/services/integrations/NextcloudService.js
  server/services/integrations/Office365Service.js
  server/tests/boundedBodyReader.test.js
  server/tests/oauthReturnUrl.test.js
  server/tests/safeContentDisposition.test.js
  server/utils/boundedBodyReader.js
  server/utils/oauthReturnUrl.js
  server/utils/safeContentDisposition.js
Labels: backend, api, testing

docs(cloud-storage): refresh references to reflect shared browser shell
  client/src/features/upload/components/CloudStoragePicker.jsx
  docs/google-drive-integration.md
  docs/office365-integration.md
Labels: frontend, documentation

refactor(cloud-storage): migrate Office 365 to shared browser shell
  client/src/features/upload/components/Office365FileBrowser.jsx
  client/src/features/upload/hooks/useOffice365Browser.js
Labels: frontend

fix(token-storage): validate filename components to block path-traversal (CodeQL)
  server/services/TokenStorageService.js
Labels: backend

fix(token-storage): add path-containment check so CodeQL recognises the sanitiser
  server/services/TokenStorageService.js
Labels: backend

feat(cloud-storage): per-provider token scoping with eager startup migration
  client/src/features/upload/components/CloudFileBrowserShell.jsx
  client/src/features/upload/hooks/useCloudStorageBrowser.js
  client/src/features/upload/hooks/useGoogleDriveBrowser.js
  client/src/features/upload/hooks/useNextcloudBrowser.js
  client/src/features/upload/hooks/useOffice365Browser.js
  docs/google-drive-integration.md
  docs/nextcloud-integration.md
  docs/office365-integration.md
  server/routes/integrations/googledrive.js
  server/routes/integrations/nextcloud.js
  server/routes/integrations/office365.js
  server/server.js
  server/services/TokenStorageService.js
  server/services/integrations/GoogleDriveService.js
  server/services/integrations/NextcloudService.js
  server/services/integrations/Office365Service.js
Labels: frontend, backend, documentation, api

refactor(cloud-storage): introduce useCloudStorageBrowser factory + CloudFileBrowserShell, migrate Nextcloud
  client/src/features/upload/components/CloudFileBrowserShell.jsx
  client/src/features/upload/components/NextcloudFileBrowser.jsx
  client/src/features/upload/hooks/useCloudStorageBrowser.js
  client/src/features/upload/hooks/useNextcloudBrowser.js
Labels: frontend

fix(token-storage): add path-containment check so CodeQL recognises the sanitiser
  server/services/TokenStorageService.js
Labels: backend

fix(integrations): port Nextcloud security hardening to Office 365, Google Drive, and Jira
  server/routes/integrations/googledrive.js
  server/routes/integrations/jira.js
  server/routes/integrations/nextcloud.js
  server/routes/integrations/office365.js
  server/services/integrations/GoogleDriveService.js
  server/services/integrations/NextcloudService.js
  server/services/integrations/Office365Service.js
  server/tests/boundedBodyReader.test.js
  server/tests/oauthReturnUrl.test.js
  server/tests/safeContentDisposition.test.js
  server/utils/boundedBodyReader.js
  server/utils/oauthReturnUrl.js
  server/utils/safeContentDisposition.js
Labels: backend, api, testing

refactor(cloud-storage): migrate Office 365 to shared browser shell
  client/src/features/upload/components/Office365FileBrowser.jsx
  client/src/features/upload/hooks/useOffice365Browser.js
Labels: frontend

refactor(cloud-storage): migrate Google Drive to shared browser shell
  client/src/features/upload/components/GoogleDriveFileBrowser.jsx
  client/src/features/upload/hooks/useGoogleDriveBrowser.js
Labels: frontend

docs(cloud-storage): refresh references to reflect shared browser shell
  client/src/features/upload/components/CloudStoragePicker.jsx
  docs/google-drive-integration.md
  docs/office365-integration.md
Labels: frontend, documentation

fix(token-storage): validate filename components to block path-traversal (CodeQL)
  server/services/TokenStorageService.js
Labels: backend

fix: add uuid as explicit server dependency
  server/package.json
Labels: backend, dependencies

fix: update server/package-lock.json to register uuid as direct dependency
  server/package-lock.json
Labels: backend, dependencies

fix: add uuid as explicit server dependency
  server/package.json
Labels: backend, dependencies

fix: update server/package-lock.json to register uuid as direct dependency
  server/package-lock.json
Labels: backend, dependencies

docs: rewrite upload feature documentation to cover all upload types
  docs/file-upload-feature.md
  docs/image-upload-feature.md
Labels: documentation

docs: rewrite upload feature documentation to cover all upload types
  docs/file-upload-feature.md
  docs/image-upload-feature.md
Labels: documentation

feat(logging): auto-inject userId, oauthClientId, ip per request
  docs/logging.md
  server/middleware/setup.js
  server/utils/logger.js
  server/utils/requestContext.js
Labels: backend, documentation, auth

feat(logging): auto-inject userId, oauthClientId, ip per request
  docs/logging.md
  server/middleware/setup.js
  server/utils/logger.js
  server/utils/requestContext.js
Labels: backend, documentation, auth

docs(concepts): start astron-agent vs ihub-apps gap analysis
  concepts/astron-comparison/01-workflow-engine.md
Labels: documentation

docs(concepts): add astron-agent gap analysis reports 03, 04, 06
  concepts/astron-comparison/03-agent-tools-plugins-rpa.md
  concepts/astron-comparison/04-knowledge-memory-rag.md
  concepts/astron-comparison/06-tenant-collab-observability.md
Labels: documentation

docs(concepts): finalize knowledge/RAG/memory gap report
  concepts/astron-comparison/04-knowledge-memory-rag.md
Labels: documentation

docs(concepts): add interfaces/console/API gap report
  concepts/astron-comparison/04-knowledge-memory-rag.md
  concepts/astron-comparison/05-interfaces-console-api.md
Labels: documentation

docs(concepts): expand knowledge/RAG/memory report to full depth
  concepts/astron-comparison/04-knowledge-memory-rag.md
Labels: documentation

docs(concepts): add astron-agent model report + master roadmap
  concepts/astron-comparison/00-roadmap.md
  concepts/astron-comparison/02-model-abstraction.md
Labels: documentation

feat(office): favourite apps in Outlook add-in
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/apps-dialog/index.jsx
  client/src/features/office/utilities/officeFavorites.js
  client/src/shared/components/AppCard.jsx
  client/src/shared/components/AppListPanel.jsx
Labels: frontend, ui

fix(office): make Outlook task pane usable at 280–360 px widths (#1449)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeChatPanel.css
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/apps-dialog/index.jsx
  client/src/features/office/components/chat/ChatHeader.jsx
  client/src/features/office/components/settings-dialog/index.jsx
  client/src/features/office/components/variables-dialog/index.jsx
Labels: frontend, chat

feat(outlook): promote insert action to labelled primary button (#1450)
  client/office/taskpane-entry.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

fix(outlook): handle PDF/Word/.eml attachments gracefully (#1451)
  client/src/features/office/components/MailAttachmentStatusBanner.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/hooks/useMailAttachmentStatuses.js
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/office/utilities/outlookMailContext.js
  concepts/2026-05-13 Outlook Attachment Robustness.md
  tests/unit/client/outlook-mail-attachments.test.jsx
Labels: frontend, documentation

fix(office): make Outlook task pane usable at 280–360 px widths (#1449)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeChatPanel.css
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/apps-dialog/index.jsx
  client/src/features/office/components/chat/ChatHeader.jsx
  client/src/features/office/components/settings-dialog/index.jsx
  client/src/features/office/components/variables-dialog/index.jsx
Labels: frontend, chat

feat(office): favourite apps in Outlook add-in (#1454)
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/apps-dialog/index.jsx
  client/src/features/office/utilities/officeFavorites.js
  client/src/shared/components/AppCard.jsx
  client/src/shared/components/AppListPanel.jsx
Labels: frontend, ui

feat(outlook): promote "Add to email" to primary CTA (#1450) (#1456)
  client/office/taskpane-entry.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

feat(outlook): show email body + attachments as reviewable cards before send
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/chat/OfficeMailContextBanner.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/hooks/useOutlookMailContextSnapshot.js
Labels: frontend

feat(outlook): show email body + attachments as reviewable cards before send
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/chat/OfficeMailContextBanner.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/hooks/useOutlookMailContextSnapshot.js
Labels: frontend

feat(office): support attaching multiple emails to a single chat
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/office/utilities/officeCapabilities.js
  client/src/features/office/utilities/outlookMailContext.js
  server/routes/integrations/officeAddin.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, api, i18n

feat(office): attach multiple emails to a single Outlook chat (#1459)
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/office/utilities/officeCapabilities.js
  client/src/features/office/utilities/outlookMailContext.js
  server/routes/integrations/officeAddin.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, api, i18n

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
