Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Add indication of answer source for user clarity (#1273)
  client/src/features/chat/components/AnswerSourceBadge.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/shared/hooks/useEventSource.js
  server/actionTracker.js
  server/adapters/google.js
  server/services/PromptService.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  shared/i18n/de.json
  shared/i18n/en.json
  shared/unifiedEventSchema.js
Labels: frontend, backend, chat, api, i18n

fix: allow SSL-whitelisted domains to bypass SSRF check in web content extractor
  server/tools/webContentExtractor.js
Labels: backend, tools

fix: allow SSL-whitelisted domains to bypass SSRF check (#1274)
  server/tools/webContentExtractor.js
Labels: backend, tools

docs: update web search documentation for v5.2.10-v5.2.12 changes
  docs/apps.md
  docs/tool-calling.md
  docs/web-tools.md
Labels: documentation

fix: resolve admin platform config 500 and silent error logging
  server/routes/admin/configs.js
  server/tests/logger-error-serialization.test.js
  server/utils/logger.js
Labels: backend, admin, api, testing

fix: resolve admin platform config 500 and silent error logging (#1277)
  server/routes/admin/configs.js
  server/tests/logger-error-serialization.test.js
  server/utils/logger.js
Labels: backend, admin, api, testing

fix: address code review findings for NTLM LDAP group lookup
  server/middleware/ldapAuth.js
  server/middleware/ntlmAuth.js
Labels: backend, auth

fix: avoid duplicate LDAP lookup on NTLM login endpoint
  server/middleware/ntlmAuth.js
Labels: backend, auth

feat: add LDAP group lookup for NTLM-authenticated users
  client/src/features/admin/components/PlatformFormEditor.jsx
  client/src/features/admin/pages/AdminAuthPage.jsx
  docs/ldap-ntlm-authentication.md
  server/middleware/ldapAuth.js
  server/middleware/ntlmAuth.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, auth, admin

Add LDAP group lookup support for NTLM authentication (#1278)
  client/src/features/admin/components/PlatformFormEditor.jsx
  client/src/features/admin/pages/AdminAuthPage.jsx
  docs/ldap-ntlm-authentication.md
  server/middleware/ldapAuth.js
  server/middleware/ntlmAuth.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, auth, admin

fix: graceful handling of VPN/network loss for internal deployments
  client/src/App.jsx
  client/src/features/apps/components/AppProviders.jsx
  client/src/shared/components/ErrorBoundary.jsx
  client/src/shared/components/OfflineOverlay.jsx
  client/src/shared/hooks/useNetworkStatus.jsx
  client/src/utils/lazyWithRetry.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, ui, i18n

fix: address review findings in network status handling
  client/src/App.jsx
  client/src/shared/hooks/useNetworkStatus.jsx
Labels: frontend

Refactor web search to unified configuration model (#1281)
  docs/apps.md
  docs/tool-calling.md
  docs/web-tools.md
Labels: documentation

feat: enable iFinder/iAssistant JWT signing via iHub OIDC keypair
  client/src/features/admin/components/IFinderConfig.jsx
  server/defaults/config/platform.json
  server/migrations/V027__add_ifinder_oidc_keypair.js
  server/services/integrations/iAssistantService.js
  server/utils/iFinderJwt.js
Labels: frontend, backend, admin

custom back now with specific url through window.open
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fixing href var, getting it into a catch
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button with localstorage set
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button handler
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

feat: iFinder/iAssistant JWT signing via iHub OIDC keypair (#1283)
  client/src/features/admin/components/IFinderConfig.jsx
  server/defaults/config/platform.json
  server/migrations/V027__add_ifinder_oidc_keypair.js
  server/services/integrations/iAssistantService.js
  server/utils/iFinderJwt.js
Labels: frontend, backend, admin

Fix DOMPurify's ADD_TAGS function bypassing FORBID_TAGS (#1284)
  client/package-lock.json
  client/package.json
Labels: frontend, dependencies

fix(a11y): fix keyboard navigation, i18n, and security issues from code review
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ModelSelector.jsx
  client/src/shared/components/StarRating.jsx
  client/src/shared/hooks/useKeyboardNavigation.js
  server/middleware/setup.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, auth, admin, chat, ui, i18n

fix(a11y): WCAG 2.1 Level AA keyboard navigation improvements (#1228)
  client/src/App.css
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/auth/components/LoginForm.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/components/ModelSelector.jsx
  client/src/services/i18nService.js
  client/src/shared/components/DisclaimerPopup.jsx
  client/src/shared/components/DynamicLanguageEditor.jsx
  client/src/shared/components/LanguageSelector.jsx
  client/src/shared/components/Layout.jsx
  client/src/shared/components/LoadingSpinner.jsx
  client/src/shared/components/SearchModal.jsx
  client/src/shared/components/StarRating.jsx
  client/src/shared/hooks/useFocusTrap.js
  client/src/shared/hooks/useKeyboardNavigation.js
  docs/SUMMARY.md
  docs/accessibility.md
  package-lock.json
  package.json
  server/middleware/setup.js
  server/routes/oauthAuthorize.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/e2e/accessibility.spec.js
Labels: frontend, backend, documentation, auth, admin, chat, api, dependencies, ui, i18n

fix: address review findings in network status handling
  client/src/App.jsx
  client/src/shared/hooks/useNetworkStatus.jsx
Labels: frontend

fix: graceful handling of VPN/network loss for internal deployments
  client/src/App.jsx
  client/src/features/apps/components/AppProviders.jsx
  client/src/shared/components/ErrorBoundary.jsx
  client/src/shared/components/OfflineOverlay.jsx
  client/src/shared/hooks/useNetworkStatus.jsx
  client/src/utils/lazyWithRetry.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, ui, i18n

fix: address 3 review findings from manual code review
  client/src/shared/hooks/useNetworkStatus.jsx
  client/src/utils/lazyWithRetry.js
  server/routes/generalRoutes.js
Labels: frontend, backend, api

fix: graceful handling of VPN/network loss for internal deployments (#1279)
  client/src/App.jsx
  client/src/features/apps/components/AppProviders.jsx
  client/src/shared/components/ErrorBoundary.jsx
  client/src/shared/components/OfflineOverlay.jsx
  client/src/shared/hooks/useNetworkStatus.jsx
  client/src/utils/lazyWithRetry.js
  server/routes/generalRoutes.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, api, ui, i18n

merge missing changes
  client/src/utils/lazyWithRetry.js
Labels: frontend

added missing concepts and updated gitignore
  .gitignore
  concepts/2026-03-10 Frontend Optimization Plan.md
  concepts/2026-03-10 Per-User Rate Limiting Proposal.md
  concepts/2026-04-15 OpenSearch Cluster Analysis.md
  concepts/documentation-audit-workstream-c/2026-03-10 Implementation Notes.md
  concepts/documentation-audit-workstream-c/README.md
  concepts/documentation-audit/2026-03-10 Workstream A Documentation Audit.md
Labels: documentation

Add missing translations for model configuration in admin (#1291)
  shared/i18n/de.json
  shared/i18n/en.json
Labels: i18n

adjust to the normal app
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/components/ModelSelector.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/chat/ChatHeader.jsx
Labels: frontend, chat

fix(office): address PR review comments
  client/src/features/office/api/officeAuthBridge.js
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/OfficeLogin.jsx
  client/src/features/office/components/variables-dialog/index.jsx
  client/src/features/office/utilities/officeLocale.js
  client/src/features/upload/utils/fileProcessing.js
  client/src/shared/components/AppCard.jsx
  client/src/shared/components/AppListPanel.jsx
  client/src/shared/hooks/useEventSource.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, ui, i18n

feat(office): simplify Outlook integration by reusing main chat infrastructure
  client/office/taskpane-entry.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/office/api/officeAuthBridge.js
  client/src/features/office/api/officeChat.js
  client/src/features/office/components/AppCard.jsx
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeAppSelection.jsx
  client/src/features/office/components/OfficeChat.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/apps-dialog/index.jsx
  client/src/features/office/components/chat/ChatInput.jsx
  client/src/features/office/components/chat/ChatMessage.jsx
  client/src/features/office/components/chat/LoadingIndicator.jsx
  client/src/features/office/components/chat/PromptButton.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/shared/components/AppCard.jsx
  client/src/shared/components/AppListPanel.jsx
  client/src/shared/hooks/useEventSource.js
  client/src/shared/utils/parseSseStream.js
Labels: frontend, chat, ui

Remove the separator in the + menu in chat (#1294)
  client/src/features/chat/components/ChatInputActionsMenu.jsx
Labels: frontend, chat

feat(office): make Outlook starter prompts configurable and auto-firing
  client/src/features/admin/pages/AdminOfficeIntegrationPage.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  server/defaults/config/platform.json
  server/migrations/V030__add_office_integration_starter_prompts.js
  server/routes/admin/officeIntegration.js
  server/routes/integrations/officeAddin.js
Labels: frontend, backend, admin, api

fix(office): harden starter prompt validation, keys, and i18n
  client/src/features/admin/pages/AdminOfficeIntegrationPage.jsx
  server/routes/admin/officeIntegration.js
  server/routes/integrations/officeAddin.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

feat(office): configurable Outlook starter prompts with auto-fire (#1300)
  client/src/features/admin/pages/AdminOfficeIntegrationPage.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  server/defaults/config/platform.json
  server/migrations/V030__add_office_integration_starter_prompts.js
  server/routes/admin/officeIntegration.js
  server/routes/integrations/officeAddin.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

fix(oauth): drop unused authConfig argument from hasAdminAccess call
  server/utils/authorization.js
Labels: backend, auth

fix(oauth): address review feedback on PR #1301
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  server/middleware/jwtAuth.js
  server/routes/admin/oauthClients.js
  server/utils/authorization.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, auth, admin, api, i18n

fix(oauth): apply client allow-list as filter on user permissions for authorization_code flow
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  concepts/2026-04-21 OAuth Client Permission Filter for Authorization Code Flow.md
  server/middleware/jwtAuth.js
  server/routes/admin/oauthClients.js
  server/tests/oauth-authz-code-permission-filter.test.js
  server/utils/authorization.js
  server/utils/oauthClientManager.js
Labels: frontend, backend, documentation, auth, admin, api, testing

fix(oauth): apply client allow-list as filter for authorization_code flow (#1299) (#1301)
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  concepts/2026-04-21 OAuth Client Permission Filter for Authorization Code Flow.md
  server/middleware/jwtAuth.js
  server/routes/admin/oauthClients.js
  server/tests/oauth-authz-code-permission-filter.test.js
  server/utils/authorization.js
  server/utils/oauthClientManager.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, auth, admin, api, testing, i18n
