Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Fix .msg body extraction for HTML-only Outlook emails (#1652)
  client/package-lock.json
  client/package.json
  client/src/features/upload/utils/fileProcessing.js
  docs/file-upload-feature.md
  docs/releases/5.4.0/features.md
  tests/config/jest.setup.js
  tests/unit/client/msg-file-extraction.test.jsx
Labels: frontend, documentation, dependencies

fix(agent): de-duplicate citations and fix the inline-citation numbering contract
  server/agents/profile/profileWorkflowSerializer.js
  server/defaults/workflows/claude-style-agent-phased.json
  server/services/workflow/citationUtils.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/agent-citation-contract.test.js
  server/tests/citation-utils.test.js
Labels: backend, testing

fix(agent): circuit-break rate-limited tools + global Brave rate-limit & query cache
  server/defaults/config/tools.json
  server/services/WebSearchService.js
  server/services/searchCache.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/agent-tool-circuit-breaker.test.js
  server/tests/search-cache.test.js
Labels: backend, testing

fix(agent): circuit-break repeated tool failures (any error) and signal it
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/agent-tool-circuit-breaker.test.js
Labels: backend, testing

fix(renderer): pin classic JSX runtime for dynamic component compilation
  client/src/shared/components/ReactComponentRenderer.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, ui

fix(renderer): pin classic JSX runtime so dynamic components render (#1653)
  client/src/shared/components/ReactComponentRenderer.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, ui

docs: document iFinder document and output/history chat URL parameters
  docs/auto-send-feature.md
Labels: documentation

docs: document iFinder and output/history chat URL parameters (#1654)
  docs/auto-send-feature.md
Labels: documentation

feat(agent): give workflow nodes date context + cap review rounds
  docs/releases/5.4.0/features.md
  server/agents/profile/profileWorkflowSerializer.js
  server/defaults/agents/profiles/claude-style-agent-phased.json
  server/defaults/workflows/claude-style-agent-phased.json
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/tests/agent-synthesizer-anti-hallucination.test.js
  server/tests/agent-temporal-context.test.js
Labels: backend, documentation, testing

feat(chat): add ephemeral option so chats are never stored
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  client/src/features/apps/components/AppConfigForm.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/CompareModeView.jsx
  client/src/features/chat/components/ComparePanel.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useChatMessages.js
  client/src/shared/hooks/useAppSettings.js
  docs/apps.md
  docs/releases/5.4.0/features.md
  server/adapters/iassistant-conversation.js
  server/defaults/apps/ifinder-document-actions.json
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, chat, api, i18n

feat(chat): add ephemeral option so chats are never stored (#1656)
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  client/src/features/apps/components/AppConfigForm.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/CompareModeView.jsx
  client/src/features/chat/components/ComparePanel.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useChatMessages.js
  client/src/shared/hooks/useAppSettings.js
  docs/apps.md
  docs/releases/5.4.0/features.md
  server/adapters/iassistant-conversation.js
  server/defaults/apps/ifinder-document-actions.json
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, chat, api, i18n

fix(agent): address PR review findings — races, citation dedup, resume budget, token accounting
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/utils/tokenStats.js
  client/src/features/admin/utils/tokenStats.test.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/taskRecord.js
  server/defaults/workflows/claude-style-agent-phased.json
  server/server.js
  server/services/WebSearchService.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/InboxFinalizeNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/services/workflow/orphanSweeper.js
  server/services/workflow/triggers/schedulerLock.js
  server/tests/orphan-sweeper-gate.test.js
  server/tests/workflow-llm-retry.test.js
  server/tools/agentTools.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin, testing, tools

Fix broken login dialog on non-existent URLs
  client/index.html
  client/src/utils/runtimeBasePath.js
  docs/releases/5.4.0/features.md
  server/routes/staticRoutes.js
  server/services/pwa/PwaService.js
Labels: frontend, backend, documentation, api

feat(ocr): limit custom OCR prompt by tokens instead of characters
  client/src/features/tools/pages/OcrPage.jsx
  docs/releases/5.4.0/features.md
  server/routes/toolsService/ocrRoutes.js
Labels: frontend, backend, documentation, api

Fix: label uploaded files as file source, not email
  client/src/features/chat/components/AnswerSourceBadge.jsx
  docs/releases/5.4.0/features.md
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, chat, i18n

Fix: label uploaded files as "file" source, not "email" (#1659)
  client/src/features/chat/components/AnswerSourceBadge.jsx
  docs/releases/5.4.0/features.md
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, chat, i18n

feat(ocr): limit custom OCR prompt by tokens instead of characters (#1658)
  client/src/features/tools/pages/OcrPage.jsx
  docs/releases/5.4.0/features.md
  server/routes/toolsService/ocrRoutes.js
Labels: frontend, backend, documentation, api

Fix broken login dialog on non-existent URLs (#1657)
  client/index.html
  client/src/utils/runtimeBasePath.js
  docs/releases/5.4.0/features.md
  server/routes/staticRoutes.js
  server/services/pwa/PwaService.js
Labels: frontend, backend, documentation, api

custom back now with specific url through window.open
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button handler
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fixing href var, getting it into a catch
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button with localstorage set
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

feat(workflows): per-node thinking control + fix stellungnahmen-ifinder refine dead-end
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/defaults/workflows/stellungnahmen-review-ifinder.json
  server/migrations/V065__fix_stellungnahmen_ifinder_refine_decision.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/adapterOptions.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/QueryPlanNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/services/workflow/thinkingOptions.js
  server/validators/workflowConfigSchema.js
  tests/unit/server/workflow/nodeThinkingSchema.test.js
  tests/unit/server/workflow/thinkingOptions.test.js
  tests/unit/server/workflow/workflowLlmHelper.thinking.test.js
Labels: backend, documentation

feat(workflows): per-node thinking control + fix stellungnahmen-ifinder refine dead-end (#1661)
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/defaults/workflows/stellungnahmen-review-ifinder.json
  server/migrations/V065__fix_stellungnahmen_ifinder_refine_decision.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/adapterOptions.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/QueryPlanNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/services/workflow/thinkingOptions.js
  server/validators/workflowConfigSchema.js
  tests/unit/server/workflow/nodeThinkingSchema.test.js
  tests/unit/server/workflow/thinkingOptions.test.js
  tests/unit/server/workflow/workflowLlmHelper.thinking.test.js
Labels: backend, documentation

docs: add dedicated customization guide for contents-folder overrides
  docs/README.md
  docs/SUMMARY.md
  docs/customization.md
Labels: documentation

docs: add dedicated customization guide for contents-folder overrides (#1663)
  docs/README.md
  docs/SUMMARY.md
  docs/customization.md
Labels: documentation

fix(outlook): keep email + attachment context in sync when switching mails
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/hooks/useOutlookMailContextSnapshot.js
  client/src/features/office/utilities/outlookMailContext.js
  docs/releases/5.5.0/breaking-changes.md
  docs/releases/5.5.0/features.md
  tests/config/jest.config.js
  tests/unit/client/outlook-mail-context.test.jsx
  tests/unit/client/use-outlook-mail-context-snapshot.test.jsx
Labels: frontend, documentation

fix(outlook): close review gaps — lock the item-type dispatch, catch switchback truncation
  client/src/features/office/utilities/outlookMailContext.js
  tests/config/jest.config.js
  tests/unit/client/outlook-mail-context.test.jsx
Labels: frontend

fix(outlook): keep email + attachment context in sync when switching mails (#1664)
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/hooks/useOutlookMailContextSnapshot.js
  client/src/features/office/utilities/outlookMailContext.js
  docs/releases/5.5.0/breaking-changes.md
  docs/releases/5.5.0/features.md
  tests/config/jest.config.js
  tests/unit/client/outlook-mail-context.test.jsx
  tests/unit/client/use-outlook-mail-context-snapshot.test.jsx
Labels: frontend, documentation

fix(outlook/upload): extract PPTX text, count attachments in token estimate, fix answer-source badge with tools
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/upload/utils/fileProcessing.js
  docs/releases/5.5.0/features.md
  server/services/chat/ToolExecutor.js
  tests/unit/client/office-build-chat-api-messages.test.jsx
  tests/unit/client/pptx-file-extraction.test.jsx
  tests/unit/server/tool-executor-knowledge-sources.test.js
Labels: frontend, backend, documentation

fix(outlook/upload): extract PPTX text, count attachments in token estimate, fix answer-source badge with tools (#1665)
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/utilities/buildChatApiMessages.js
  client/src/features/upload/utils/fileProcessing.js
  docs/releases/5.5.0/features.md
  server/services/chat/ToolExecutor.js
  tests/unit/client/office-build-chat-api-messages.test.jsx
  tests/unit/client/pptx-file-extraction.test.jsx
  tests/unit/server/tool-executor-knowledge-sources.test.js
Labels: frontend, backend, documentation

Make ephemeral chat a first-class toggle below the chat input
  client/src/features/apps/components/AppConfigForm.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/shared/components/Icon.jsx
  docs/apps.md
  docs/releases/5.5.0/features.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, ui, i18n

Rename ephemeral chat toggle label to "Incognito mode"
  client/src/features/chat/components/ChatInput.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

Fix js-yaml v5 import crash in OpenApiToolRunner
  server/services/tools/OpenApiToolRunner.js
Labels: backend

Tighten vertical space around the chat input
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  client/src/features/chat/components/ChatInput.jsx
Labels: frontend, chat

Make ephemeral chat a first-class toggle below the chat input (#1666)
  client/src/features/apps/components/AppConfigForm.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/shared/components/Icon.jsx
  docs/apps.md
  docs/releases/5.5.0/features.md
  server/services/tools/OpenApiToolRunner.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, chat, ui, i18n

fix(outlook): catch JS errors with error page + serve Office.js locally (#1671)
  client/office/commands.html
  client/office/taskpane.html
  client/package-lock.json
  client/package.json
  client/public/office/callback.html
  client/src/features/admin/pages/AdminOfficeIntegrationPage.jsx
  client/vite.config.js
  concepts/2026-07-06 Offline Office.js and Error Handling.md
  server/defaults/config/platform.json
  server/migrations/V066__office_use_local_officejs.js
  server/routes/admin/officeIntegration.js
  server/routes/office.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, dependencies, i18n

fix(chat): emit answer-source badge on every completion path
  docs/releases/5.5.0/features.md
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  tests/unit/server/tool-executor-knowledge-sources.test.js
Labels: backend, documentation

fix(prompt): fold uploaded document text into the {{content}} template variable
  docs/releases/5.5.0/features.md
  server/services/PromptService.js
  server/services/chat/RequestBuilder.js
  tests/unit/server/prompt-file-content-injection.test.js
Labels: backend, documentation

revert {{content}} file folding; don't show answer-source badge on error turns
  docs/releases/5.5.0/features.md
  server/services/PromptService.js
  server/services/chat/RequestBuilder.js
  server/services/chat/StreamingHandler.js
  tests/unit/server/prompt-file-content-injection.test.js
Labels: backend, documentation
