Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix: support non-Anthropic plugin repos in marketplace skill resolution
  server/services/marketplace/RegistryService.js
Labels: backend

fix: handle direct-skill plugin layout in marketplace tree scan
  server/services/marketplace/RegistryService.js
Labels: backend

fix: marketplace skill installation and display issues
  client/src/features/admin/components/marketplace/MarketplaceItemCard.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  client/src/features/admin/pages/AdminSkillEditPage.jsx
  server/services/marketplace/ContentInstaller.js
  server/services/marketplace/RegistryService.js
  server/validators/catalogSchema.js
Labels: frontend, backend, admin

fix: companion fallback, YAML frontmatter parsing, and relative link rewriting in marketplace
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  server/routes/admin/skills.js
  server/services/marketplace/ContentInstaller.js
  server/services/marketplace/RegistryService.js
Labels: frontend, backend, admin, api

feat: add 'View Skill' button in marketplace and sync skill deletion to installations
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  server/routes/admin/skills.js
Labels: frontend, backend, admin, api

feat: iHub Marketplace — registry-based content discovery and installation (#1000)
  .agents/skills/claude-automation-recommender/SKILL.md
  .agents/skills/claude-automation-recommender/references/hooks-patterns.md
  .agents/skills/claude-automation-recommender/references/mcp-servers.md
  .agents/skills/claude-automation-recommender/references/plugins-reference.md
  .agents/skills/claude-automation-recommender/references/skills-reference.md
  .agents/skills/claude-automation-recommender/references/subagent-templates.md
  .gitignore
  client/src/App.jsx
  client/src/api/adminApi.js
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemCard.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  client/src/features/admin/components/marketplace/MarketplaceTypeTabs.jsx
  client/src/features/admin/components/marketplace/RegistryFormDialog.jsx
  client/src/features/admin/pages/AdminHome.jsx
  client/src/features/admin/pages/AdminMarketplacePage.jsx
  client/src/features/admin/pages/AdminMarketplaceRegistriesPage.jsx
  client/src/features/admin/pages/AdminSkillEditPage.jsx
  concepts/marketplace/2026-02-24 Backend Implementation Summary.md
  concepts/marketplace/2026-02-24 Marketplace Frontend Implementation.md
  server/configCache.js
  server/defaults/config/installations.json
  server/defaults/config/registries.json
  server/featureRegistry.js
  server/migrations/V005__add_marketplace.js
  server/routes/admin/marketplace.js
  server/routes/admin/skills.js
  server/routes/adminRoutes.js
  server/services/marketplace/ContentInstaller.js
  server/services/marketplace/RegistryService.js
  server/validators/catalogSchema.js
  server/validators/registryConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

Replace all inline path checks with centralized pathSecurity.js
  .claude/skills/api-security/SKILL.md
  server/configLoader.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/services/skillLoader.js
  server/sources/FileSystemHandler.js
  server/sources/PageHandler.js
  server/sources/SourceManager.js
  server/utils/pathSecurity.js
Labels: backend, admin, api

chore: auto-format markdown tables and update lockfiles
  package-lock.json
  server/package-lock.json
Labels: backend, dependencies

Harden admin pages routes against stored path traversal
  server/routes/admin/pages.js
Labels: backend, admin, api

Centralize input sanitization into pathSecurity.js
  server/routes/admin/backup.js
  server/routes/admin/pages.js
  server/routes/admin/ui.js
  server/routes/chat/dataRoutes.js
  server/routes/modelRoutes.js
  server/routes/pageRoutes.js
  server/routes/rendererRoutes.js
  server/routes/toolRoutes.js
  server/toolLoader.js
  server/utils/pathSecurity.js
Labels: backend, admin, chat, api

Fix broken validateIdForPath calls in oauthClients routes
  server/routes/admin/oauthClients.js
Labels: backend, admin, api

Enhance path security validation and improve markdown formatting (#1002)
  .claude/skills/api-security/SKILL.md
  package-lock.json
  server/configLoader.js
  server/package-lock.json
  server/routes/admin/backup.js
  server/routes/admin/oauthClients.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/routes/admin/ui.js
  server/routes/chat/dataRoutes.js
  server/routes/modelRoutes.js
  server/routes/pageRoutes.js
  server/routes/rendererRoutes.js
  server/routes/toolRoutes.js
  server/services/skillLoader.js
  server/sources/FileSystemHandler.js
  server/sources/PageHandler.js
  server/sources/SourceManager.js
  server/toolLoader.js
  server/utils/pathSecurity.js
Labels: backend, admin, chat, api, dependencies

feat: add 'View Skill' button in marketplace and sync skill deletion to installations
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  server/routes/admin/skills.js
Labels: frontend, backend, admin, api

feat: add 'View Skill' button in marketplace and sync skill deletion to installations (#1004)
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  server/routes/admin/skills.js
Labels: frontend, backend, admin, api

Expose JWT well-known endpoints with RS256 as default for external token validation (#1003)
  concepts/2026-02-24 JWT Well-Known Endpoints Implementation.md
  docs/SUMMARY.md
  docs/jwt-well-known-endpoints.md
  server/defaults/config/platform.json
  server/migrations/V005__jwt_rs256_algorithm.js
  server/routes/wellKnown.js
  server/server.js
  server/services/TokenStorageService.js
  server/utils/tokenService.js
Labels: backend, documentation, api

fix: add missing basePath parameter to registerStaticRoutes destructuring
  server/routes/staticRoutes.js
Labels: backend, api

Add basePath parameter to registerStaticRoutes function (#1005)
  server/routes/staticRoutes.js
Labels: backend, api

fix: replace default MemoryStore with memorystore to prevent session memory leak
  server/middleware/setup.js
  server/package-lock.json
  server/package.json
Labels: backend, auth, dependencies

fix: replace default MemoryStore with memorystore to prevent session … (#1006)
  server/middleware/setup.js
  server/package-lock.json
  server/package.json
Labels: backend, auth, dependencies

feat: add iHub Official Marketplace as default registry
  server/defaults/config/registries.json
  server/migrations/V006__add_ihub_official_registry.js
Labels: backend

fix: sync marketplace installation tracking on admin deletion
  server/routes/admin/apps.js
  server/routes/admin/models.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/routes/workflow/workflowRoutes.js
  server/utils/installationCleanup.js
Labels: backend, admin, api

Delete docs/office365-teams-drive-fix.md
  docs/office365-teams-drive-fix.md
Labels: documentation

Fix Teams drive empty list - incorrect API endpoint after admin rights removal (#1008)
  concepts/2026-02-24 Office 365 Teams Drive 404 Error Fix.md
  concepts/2026-02-24 Office 365 Teams Drive Empty After Admin Rights Removal Fix.md
  docs/office365-admin-consent-removal.md
  package-lock.json
  server/package-lock.json
  server/services/integrations/Office365Service.js
  server/tests/office365-old-token-migration.test.js
Labels: backend, documentation, testing, dependencies

Fix skills cache to only refresh when content changes (#1011)
  server/configCache.js
Labels: backend

Remove JWT_SECRET requirement from Docker entrypoint (#1015)
  .env.example
  README.md
  concepts/2026-02-25 Docker JWT_SECRET Requirement Removal.md
  docker/DOCKER.md
  docker/docker-entrypoint.sh
  docs/AUTHENTICATION_QUICK_START.md
  docs/DOCKER-QUICK-REFERENCE.md
  docs/INSTALLATION.md
  docs/authentication-architecture.md
  docs/external-authentication.md
Labels: configuration, documentation, docker

chore: update package-lock.json after install
  package-lock.json
  server/package-lock.json
Labels: backend, dependencies

feat: implement OAuth 2.0 Authorization Code Flow with PKCE
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  docs/SUMMARY.md
  docs/ihub-as-oidc-idp.md
  docs/jwt-well-known-endpoints.md
  docs/oauth-authorization-code.md
  docs/oauth-integration-guide.md
  examples/oauth-client/.env.example
  examples/oauth-client/README.md
  examples/oauth-client/package.json
  examples/oauth-client/public/dashboard.html
  examples/oauth-client/public/index.html
  examples/oauth-client/server.js
  server/defaults/config/platform.json
  server/middleware/jwtAuth.js
  server/middleware/rateLimiting.js
  server/middleware/setup.js
  server/migrations/V007__add_oauth_authorization_code.js
  server/migrations/V008__add_oauth_rate_limit.js
  server/routes/admin/oauthClients.js
  server/routes/oauth.js
  server/routes/oauthAuthorize.js
  server/routes/wellKnown.js
  server/server.js
  server/utils/authorizationCodeStore.js
  server/utils/consentStore.js
  server/utils/oauthClientManager.js
  server/utils/pkceUtils.js
  server/utils/refreshTokenStore.js
  tests/oauth-auth-code-unit.js
Labels: frontend, backend, documentation, auth, admin, api

fix: resolve OAuth Authorization Code Flow token exchange failures
  server/routes/integrations/office365.js
  server/routes/oauth.js
  server/utils/tokenService.js
Labels: backend, api

feat: add LoginPage, fix OAuth redirect path, and renumber migrations
  client/src/App.jsx
  client/src/pages/LoginPage.jsx
  concepts/2026-02-24 OAuth Authorization Code Flow PRD.md
  concepts/oauth-authorization-code-flow/2026-02-24 Migration V007 and OAuth Client Schema Extension.md
  concepts/oauth-authorization-code-flow/2026-02-25 Admin UI Extension for OAuth Authorization Code Flow.md
  concepts/oauth-authorization-code-flow/2026-02-25 Authorization Code Store and PKCE Utils.md
  concepts/oauth-authorization-code-flow/2026-02-25 Authorize Endpoint and Consent Screen.md
  concepts/oauth-authorization-code-flow/2026-02-25 Consent Store.md
  concepts/oauth-authorization-code-flow/2026-02-25 Implementation Task Breakdown.md
  concepts/oauth-authorization-code-flow/2026-02-25 Integration Tests for OAuth Authorization Code Flow.md
  concepts/oauth-authorization-code-flow/2026-02-25 Token Endpoint Extension authorization_code and refresh_token grants.md
  concepts/oauth-authorization-code-flow/2026-02-25 Well-Known Discovery Updates.md
  concepts/oauth-authorization-code-flow/2026-02-25 jwtAuth RS256 Fix and oauth_authorization_code authMode.md
  concepts/oauth-authorization-code-flow/README.md
  examples/oauth-client/package-lock.json
  server/migrations/V009__jwt_rs256_algorithm.js
  server/migrations/V010__remove_jwt_secret.js
  server/routes/oauthAuthorize.js
Labels: frontend, backend, documentation, api

Fix JWT authentication failure with RS256 algorithm configuration (#1017)
  client/package-lock.json
  concepts/2026-02-25 JWT RS256 HS256 Authentication Fix.md
  package-lock.json
  server/middleware/jwtAuth.js
  server/package-lock.json
  server/tests/jwt-algorithm-verification.test.js
  server/utils/oauthTokenService.js
Labels: frontend, backend, documentation, auth, testing, dependencies

Potential fix for code scanning alert no. 389: Missing rate limiting
  examples/oauth-client/package.json
  examples/oauth-client/server.js
Labels: none

Potential fix for code scanning alert no. 393: Reflected cross-site scripting
  server/routes/oauthAuthorize.js
Labels: backend, api

Potential fix for code scanning alert no. 388: Missing rate limiting
  examples/oauth-client/server.js
Labels: none

feat: add first-class Progressive Web App (PWA) support
  client/public/icons/icon-192.png
  client/public/icons/icon-512.png
  client/src/features/admin/components/PwaCustomization.jsx
  client/src/features/admin/pages/AdminUICustomization.jsx
  client/src/services/swRegistration.js
  client/src/shared/contexts/UIConfigContext.jsx
  client/vite.config.js
  server/defaults/config/ui.json
  server/migrations/V011__add_pwa_config.js
  server/routes/admin/ui.js
  server/routes/pwaRoutes.js
  server/routes/staticRoutes.js
  server/server.js
  server/services/pwa/PwaService.js
Labels: frontend, backend, admin, api

feat: add first-class Progressive Web App (PWA) support (#1029)
  client/public/icons/icon-192.png
  client/public/icons/icon-512.png
  client/src/features/admin/components/PwaCustomization.jsx
  client/src/features/admin/pages/AdminUICustomization.jsx
  client/src/services/swRegistration.js
  client/src/shared/contexts/UIConfigContext.jsx
  client/vite.config.js
  server/defaults/config/ui.json
  server/migrations/V011__add_pwa_config.js
  server/routes/admin/ui.js
  server/routes/pwaRoutes.js
  server/routes/staticRoutes.js
  server/server.js
  server/services/pwa/PwaService.js
Labels: frontend, backend, admin, api

Add UX improvements bundle for auto-resize textarea and more (#1030)
  client/package-lock.json
  client/src/features/admin/components/PwaCustomization.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/shared/components/DocumentTitle.jsx
  package-lock.json
  server/package-lock.json
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, chat, dependencies, ui, i18n

fix(pwa): inject manifest link statically and guard effect against null config
  client/index.html
  client/src/shared/contexts/UIConfigContext.jsx
Labels: frontend

clean up
  .claude/commands/clean.md
  .claude/commands/summarize.md
  .claude/launch.json
  examples/oauth-client/package-lock.json
Labels: none

feat: add pre-auth bundle loading gate
  client/index.html
  client/package.json
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/auth-gate/i18n.js
  client/src/features/auth/components/AuthGuard.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/shared/contexts/AuthContext.jsx
  client/vite-plugins/vite-plugin-auth-gate.js
  client/vite.config.js
  server/routes/auth.js
Labels: frontend, backend, auth, api, dependencies

feat: add pre-auth bundle loading gate (#1031)
  .claude/commands/clean.md
  .claude/commands/summarize.md
  .claude/launch.json
  client/index.html
  client/package.json
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/auth-gate/i18n.js
  client/src/features/auth/components/AuthGuard.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/shared/contexts/AuthContext.jsx
  client/vite-plugins/vite-plugin-auth-gate.js
  client/vite.config.js
  examples/oauth-client/package-lock.json
  server/routes/auth.js
Labels: frontend, backend, auth, api, dependencies

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
