Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Add user-configurable aspect ratio and quality for image generation (#849)
  .github/instructions/server-code.instructions.md
  client/package-lock.json
  client/src/features/apps/components/AppConfigForm.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ImageGenerationControls.jsx
  client/src/features/chat/components/NextGenChatInput.jsx
  client/src/features/chat/components/ToolsToggle.jsx.backup
  client/src/shared/hooks/useAppSettings.js
  server/adapters/google.js
  server/configCache.js
  server/configLoader.js
  server/defaults/apps/image-generator.json
  server/defaults/models/gemini-2.5-flash-image.json
  server/defaults/models/gemini-3-pro-image.json
  server/middleware/setup.js
  server/modelsLoader.js
  server/routes/chat/sessionRoutes.js
  server/routes/staticRoutes.js
  server/routes/swagger.js
  server/serverHelpers.js
  server/services/TokenStorageService.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/utils.js
  server/utils/ApiKeyVerifier.js
  server/utils/resourceLoader.js
  server/utils/setupUtils.js
  server/utils/versionHelper.js
  server/validators/appConfigSchema.js
  server/validators/index.js
  server/validators/modelConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, github-actions, auth, chat, api, dependencies, i18n

Fix chat scroll behavior for user messages and mobile
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessageList.jsx
Labels: frontend, chat

Fix chat scroll behavior for user messages and mobile (#852)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessageList.jsx
Labels: frontend, chat

Fix stream compatibility with proxy/SSL and tool filtering for Mistral
  server/adapters/toolCalling/MistralConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/routes/openaiProxy.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/services/integrations/iAssistantService.js
  server/tests/openai-websearch-filtering.test.js
  server/tests/provider-specific-tool-filtering.test.js
  server/tools/iAssistant.js
  server/utils/streamUtils.js
Labels: backend, chat, api, testing, tools

Fix stream compatibility with proxy/SSL and tool filtering for Mistral (#856)
  server/adapters/toolCalling/MistralConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/routes/openaiProxy.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/services/integrations/iAssistantService.js
  server/tests/openai-websearch-filtering.test.js
  server/tests/provider-specific-tool-filtering.test.js
  server/tools/iAssistant.js
  server/utils/streamUtils.js
Labels: backend, chat, api, testing, tools

added claude instructions
  CLAUDE.md
Labels: documentation

Add JSDoc documentation and fix minor code issues
  client/src/shared/contexts/PlatformConfigContext.jsx
  client/src/shared/contexts/UIConfigContext.jsx
  client/src/shared/hooks/useClipboard.js
  client/src/shared/hooks/useFileUploadHandler.js
  client/src/shared/hooks/useMagicPrompt.js
  server/tools/braveSearch.js
  server/tools/enhancedWebSearch.js
  server/tools/entraPeopleSearch.js
  server/tools/iAssistant.js
  server/tools/iFinder.js
  server/tools/playwrightScreenshot.js
  server/tools/seleniumScreenshot.js
  server/tools/tavilySearch.js
  server/tools/webContentExtractor.js
  server/validators/validate.js
Labels: frontend, backend, tools

Add JSDoc documentation and fix minor code issues (#855)
  CLAUDE.md
  client/src/shared/contexts/PlatformConfigContext.jsx
  client/src/shared/contexts/UIConfigContext.jsx
  client/src/shared/hooks/useClipboard.js
  client/src/shared/hooks/useFileUploadHandler.js
  client/src/shared/hooks/useMagicPrompt.js
  server/tools/braveSearch.js
  server/tools/enhancedWebSearch.js
  server/tools/entraPeopleSearch.js
  server/tools/iAssistant.js
  server/tools/iFinder.js
  server/tools/playwrightScreenshot.js
  server/tools/seleniumScreenshot.js
  server/tools/tavilySearch.js
  server/tools/webContentExtractor.js
  server/validators/validate.js
Labels: frontend, backend, documentation, tools

Add domain whitelist for SSL certificate validation with secure default (#859)
  client/package-lock.json
  client/src/features/admin/components/SSLConfig.jsx
  client/src/features/admin/pages/AdminSystemPage.jsx
  concepts/2026-02-05 SSL Certificate Domain Whitelist.md
  docs/ssl-certificates.md
  examples/config/platform.json
  package-lock.json
  server/defaults/config/platform.json
  server/package-lock.json
  server/routes/admin/ssl.js
  server/routes/adminRoutes.js
  server/utils/httpConfig.js
  server/validators/platformConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, dependencies, i18n

Fix user menu hidden when using NTLM or LDAP authentication
  client/src/features/auth/components/UserAuthMenu.jsx
Labels: frontend, auth

Always show Users and Groups in admin navigation
  client/src/features/admin/components/AdminNavigation.jsx
Labels: frontend, admin

Fix NTLM user persistence and JWT validation
  server/middleware/jwtAuth.js
  server/utils/userManager.js
Labels: backend, auth

Default NTLM and proxy auth to allow self-signup
  server/middleware/ntlmAuth.js
  server/utils/userManager.js
Labels: backend, auth

Enforce NTLM user persistence and make email optional
  client/src/features/admin/components/UserFormEditor.jsx
  server/middleware/ntlmAuth.js
Labels: frontend, backend, auth, admin

Fix DualModeEditor mode switch error and schema validation for empty strings
  client/src/shared/components/DualModeEditor.jsx
  client/src/utils/schemaValidation.js
Labels: frontend, ui

Fix null value handling in user schema validation
  client/src/utils/schemaValidation.js
  server/validators/userConfigSchema.js
Labels: frontend, backend

Persist NTLM users to database for admin visibility and group management (#867)
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/shared/components/DualModeEditor.jsx
  client/src/utils/schemaValidation.js
  concepts/2026-02-05 NTLM User Persistence.md
  server/middleware/jwtAuth.js
  server/middleware/ntlmAuth.js
  server/routes/auth.js
  server/utils/userManager.js
  server/validators/userConfigSchema.js
Labels: frontend, backend, documentation, auth, admin, api, ui

Fix user creation UX issues
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  client/src/shared/components/MonacoJsonEditor.jsx
Labels: frontend, admin, ui

Add auth method selector for new users
  client/src/features/admin/components/UserFormEditor.jsx
Labels: frontend, admin

Fix backend user creation to support non-local auth methods
  server/routes/admin/auth.js
Labels: backend, admin, api

Add admin rescue feature for NTLM/external auth users
  server/utils/userManager.js
Labels: backend

Fix admin rescue to check enabled auth methods
  server/utils/userManager.js
Labels: backend

Implement admin rescue system for first user assignment and last admin protection (#866)
  concepts/2026-02-05 Admin Rescue System.md
  server/middleware/localAuth.js
  server/routes/admin/auth.js
  server/tests/adminRescue.test.js
  server/utils/adminRescue.js
  server/utils/userManager.js
Labels: backend, documentation, auth, admin, api, testing

Copilot/add ntlm user registration (#868)
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  client/src/shared/components/MonacoJsonEditor.jsx
  server/routes/admin/auth.js
  server/utils/userManager.js
Labels: frontend, backend, admin, api, ui

Fix admin rescue to check enabled auth methods and allow NTLM admin assignment
  server/tests/adminRescue.test.js
  server/utils/adminRescue.js
Labels: backend, testing

Add centralized logging configuration admin page with component filtering (#864)
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/pages/AdminHome.jsx
  client/src/features/admin/pages/AdminLoggingPage.jsx
  client/src/features/admin/pages/AdminSystemPage.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  concepts/2026-02-05 Logging Configuration Admin Page.md
  concepts/2026-02-05 Logging Page UI Structure.md
  server/middleware/jwtAuth.js
  server/routes/admin/auth.js
  server/routes/admin/logging.js
  server/utils/logger.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, auth, admin, api, i18n

Add ask_user tool for interactive clarification questions
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/components/ClarificationCard.jsx
  client/src/features/chat/components/ClarificationChips.jsx
  client/src/features/chat/components/ClarificationDropdown.jsx
  client/src/features/chat/components/ClarificationInput.jsx
  client/src/features/chat/components/ClarificationResponse.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/shared/hooks/useEventSource.js
  concepts/2026-02-06 Interactive User Clarification Tool.md
  concepts/ask-user-tool/2026-02-06 Ask User Tool Server Implementation.md
  concepts/interactive-user-clarification/2026-02-06 Clarification UI Components Implementation.md
  concepts/interactive-user-clarification/2026-02-06 Client Integration for Clarification Flow.md
  server/actionTracker.js
  server/defaults/config/tools.json
  server/services/chat/ToolExecutor.js
  server/tools/askUser.js
  shared/unifiedEventSchema.js
Labels: frontend, backend, documentation, chat, tools

Fix clarification response handling and field naming
  client/src/features/chat/hooks/useAppChat.js
  server/services/chat/ToolExecutor.js
Labels: frontend, backend, chat

Add ask_user tool documentation
  docs/ask-user-tool.md
Labels: documentation

Fix input_type mapping between server and client
  server/services/chat/ToolExecutor.js
Labels: backend

Improve ask_user tool descriptions to encourage options usage
  server/defaults/config/tools.json
Labels: backend

Fix empty options causing blocked UI in clarification
  client/src/features/chat/components/ClarificationCard.jsx
  server/tools/askUser.js
Labels: frontend, backend, chat, tools

Optimize clarification data storage to reduce duplication
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useAppChat.js
Labels: frontend, chat

Hide clarification answer user messages from chat display
  client/src/features/chat/components/ChatMessageList.jsx
Labels: frontend, chat

Revert "Hide clarification answer user messages from chat display"
  client/src/features/chat/components/ChatMessageList.jsx
Labels: frontend, chat

Show question only in assistant message, full Q+A in user message
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useAppChat.js
Labels: frontend, chat

Simplify user message to show just the answer
  client/src/features/chat/hooks/useAppChat.js
Labels: frontend, chat

Remove chat bubble wrapper for pending clarifications
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

Fix clarification card alignment and answered question spacing
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ClarificationCard.jsx
Labels: frontend, chat

Move answered question to top of chat bubble
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
