Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

feat(ui): header logo redesign — icon + split title + tagline
  client/src/features/admin/components/HeaderCustomization.jsx
  client/src/shared/components/Layout.jsx
  server/defaults/config/ui.json
  server/migrations/V012__header_logo_redesign.js
Labels: frontend, backend, admin, ui

feat(ui): header logo redesign — icon + split title + tagline (#1033)
  client/src/features/admin/components/HeaderCustomization.jsx
  client/src/shared/components/Layout.jsx
  server/defaults/config/ui.json
  server/migrations/V012__header_logo_redesign.js
Labels: frontend, backend, admin, ui

Fix user group membership loss on edit (#1035)
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
Labels: frontend, admin

feat(ui): add apps list logo config to admin panel
  client/src/features/admin/components/ContentEditor.jsx
  client/src/shared/components/Icon.jsx
  docs/ui.md
Labels: frontend, documentation, admin, ui

fix(security): sanitize Icon img src against unsafe protocols
  client/src/shared/components/Icon.jsx
Labels: frontend, ui

feat(ui): add apps list logo config to admin panel (#1048)
  client/src/features/admin/components/ContentEditor.jsx
  client/src/shared/components/Icon.jsx
  docs/ui.md
Labels: frontend, documentation, admin, ui

fix(auth): break infinite /status loop when auth method is disabled
  client/src/api/client.js
  client/src/shared/contexts/AuthContext.jsx
  server/middleware/jwtAuth.js
Labels: frontend, backend, auth

Fix concurrent token expiration handling and auth status checks (#1051)
  client/src/api/client.js
  client/src/shared/contexts/AuthContext.jsx
  server/middleware/jwtAuth.js
Labels: frontend, backend, auth

Migrate to ESLint 10
  eslint.config.js
  package-lock.json
  package.json
Labels: frontend, backend, dependencies

Add npm overrides for ESLint plugin peer deps
  package-lock.json
  package.json
Labels: backend, dependencies

Upgrade ESLint to v10 and apply plugin compatibility fixes (#1052)
  eslint.config.js
  package-lock.json
  package.json
Labels: frontend, backend, dependencies

Add OAuth Authorization Server implementation review
  concepts/2026-03-05 OAuth Authorization Server Implementation Review.md
Labels: documentation

Update OAuth review with critical bugs found in deep analysis
  concepts/2026-03-05 OAuth Authorization Server Implementation Review.md
Labels: documentation

Fix 4 critical OAuth authorization code flow bugs
  server/middleware/jwtAuth.js
  server/routes/oauth.js
  server/utils/oauthTokenService.js
  server/utils/tokenService.js
Labels: backend, auth, api

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/routes/oauth.js
Labels: backend, api

Fix OAuth authorization code flow token verification bugs (#1056)
  concepts/2026-03-05 OAuth Authorization Server Implementation Review.md
  server/middleware/jwtAuth.js
  server/routes/oauth.js
  server/utils/oauthTokenService.js
  server/utils/tokenService.js
Labels: backend, documentation, auth, api

Fix ReferenceError: setSelectedImage is not defined in clearChat
  client/src/features/apps/pages/AppChat.jsx
Labels: frontend

Potential fix for pull request finding 'Unused variable, import, function or class'
  client/src/features/apps/pages/AppChat.jsx
Labels: frontend

Add JetBrains Mono fonts
  client/public/fonts/JetBrains Mono/AUTHORS.txt
  client/public/fonts/JetBrains Mono/JetBrainsMono-Bold.woff2
  client/public/fonts/JetBrains Mono/JetBrainsMono-BoldItalic.woff2
  client/public/fonts/JetBrains Mono/JetBrainsMono-Italic.woff2
  client/public/fonts/JetBrains Mono/JetBrainsMono-Regular.woff2
  client/public/fonts/JetBrains Mono/OFL.txt
  client/public/fonts/JetBrains Mono/jetbrains-mono.css
  docs/configuration-migrations.md
Labels: frontend, documentation

Refactor uploader cleanup logic into handler methods (#1061)
  client/src/features/apps/pages/AppChat.jsx
Labels: frontend

added concept for enhanced usage
  concepts/2026-02-27 Enhanced Usage Tracking.md
Labels: documentation

Add JetBrains Mono fonts
  client/public/fonts/JetBrains Mono/AUTHORS.txt
  client/public/fonts/JetBrains Mono/JetBrainsMono-Bold.woff2
  client/public/fonts/JetBrains Mono/JetBrainsMono-BoldItalic.woff2
  client/public/fonts/JetBrains Mono/JetBrainsMono-Italic.woff2
  client/public/fonts/JetBrains Mono/JetBrainsMono-Regular.woff2
  client/public/fonts/JetBrains Mono/OFL.txt
  client/public/fonts/JetBrains Mono/jetbrains-mono.css
  docs/configuration-migrations.md
Labels: frontend, documentation

Potential fix for pull request finding 'Unused variable, import, function or class'
  client/src/features/apps/pages/AppChat.jsx
Labels: frontend

fix: security hardening and missing i18n keys for iFinder/iAssistant integration (#1062)
  client/src/features/chat/components/StreamingMarkdown.jsx
  server/routes/integrations/ifinder.js
  server/services/integrations/iFinderService.js
  server/utils/iFinderJwt.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, api, i18n

feat(i18n): add thinking phase and citation translation keys
  shared/i18n/de.json
  shared/i18n/en.json
Labels: i18n

feat(i18n): add thinking phase and citation translation keys (#1057)
  shared/i18n/de.json
  shared/i18n/en.json
Labels: i18n

Fix Office 365 admin consent prompt blocking regular users
  docs/office365-admin-consent-removal.md
  server/services/integrations/Office365Service.js
Labels: backend, documentation

Fix Office365 admin consent issues by enforcing minimal permissions (#1065)
  docs/office365-admin-consent-removal.md
  server/services/integrations/Office365Service.js
Labels: backend, documentation

merge
  client/src/features/settings/pages/IntegrationsPage.jsx
  server/routes/integrations/office365.js
  server/services/integrations/Office365Service.js
Labels: frontend, backend, api

Add authorization server configuration UI to OAuth admin page
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
Labels: frontend, admin

Add OAuth authorization server settings UI and endpoints display (#1067)
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
Labels: frontend, admin

Separate authorization server config into its own page
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
Labels: frontend, admin

Claude/ihub resource server config v9 x ud (#1068)
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  server/routes/integrations/office365.js
Labels: frontend, backend, admin, api

Reorganize OAuth admin settings into overview page with server/client subpages
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
Labels: frontend, admin

Update package-lock.json after dependency install
  package-lock.json
Labels: backend, dependencies

Refactor OAuth admin pages into separate server and clients views (#1069)
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  package-lock.json
Labels: frontend, backend, admin, dependencies

Add missing Swagger docs for chat, feedback, and conversation endpoints (#1072)
  concepts/api-documentation-analysis/2025-01-07 API Documentation Status Report.md
  server/package-lock.json
  server/routes/chat/conversationRoutes.js
  server/routes/chat/feedbackRoutes.js
  server/routes/chat/sessionRoutes.js
Labels: backend, documentation, chat, api, dependencies

Add usability simplification roadmap concept document
  concepts/2026-03-09 Usability Simplification Roadmap.md
Labels: documentation

Add CLI & distribution details to roadmap + issue creation script
  concepts/2026-03-09 Usability Simplification Roadmap.md
  scripts/create-usability-issues.sh
Labels: documentation, tools

Add usability simplification roadmap and issue generation script (#1075)
  concepts/2026-03-09 Usability Simplification Roadmap.md
  scripts/create-usability-issues.sh
Labels: documentation, tools

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
