Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Fix feedback system issues: accept half-star ratings and map legacy data
  client/src/features/admin/pages/AdminUsageReports.jsx
  server/validators/index.js
Labels: frontend, backend, admin

added support for legacy format
  server/usageTracker.js
Labels: backend

adjust design of the feedback areas
  client/src/features/admin/pages/AdminUsageReports.jsx
Labels: frontend, admin

adjusted email composer to support file upload
  configs/apps/email-composer.json
  server/defaults/apps/email-composer.json
Labels: backend, configuration

adjusted file analyser to support file upload
  configs/apps/file-analysis.json
  server/defaults/apps/file-analysis.json
Labels: backend, configuration

Delete .github/workflows/stale.yml
  .github/workflows/stale.yml
Labels: github-actions

Improve NTLM handlign and fine a way to make it possible to test in dev mode
  server/middleware/ntlmAuth.js
  server/middleware/setup.js
Labels: backend, auth

cleanup
  .claude/settings.local.json
  bash.exe.stackdump
  configs/apps/nda-risk-analyzer.json
  package.json
Labels: backend, configuration, dependencies

adding app config to server
  server/defaults/apps/nda-risk-analyzer.json
Labels: backend

adding gpt-oss config
  server/defaults/models/gpt-oss-vllm.json
Labels: backend

improved NLTM auth
  server/middleware/ntlmAuth.js
  server/services/chat/RequestBuilder.js
  server/utils/authorization.js
Labels: backend, auth

set node env to dev for dev run
  package.json
Labels: backend, dependencies

improved file resend - fixes #517
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/hooks/useAppChat.js
Labels: frontend, chat

fixed #516 and improves template handling as well as refactor the file uploader to reduce legacy
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  client/src/features/apps/components/AppCreationWizard.jsx
  client/src/features/upload/components/FileUploader.jsx
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/components/Uploader.jsx
  client/src/features/upload/components/index.js
  client/src/features/upload/utils/fileProcessing.js
  client/src/shared/hooks/useFileUploadHandler.js
  examples/apps/app-generator-json.json
  examples/apps/deep-researcher.json
  examples/apps/email-composer.json
  examples/apps/faq-bot.json
  examples/apps/file-analysis.json
  examples/apps/gdpr-anonymizer.json
  examples/apps/joker.json
  examples/apps/key-info-extractor.json
  server/defaults/apps/email-composer.json
  server/defaults/apps/ifinder-document-actions.json
  server/defaults/apps/ihub-support-bot.json
  server/defaults/apps/intrafind-websites-bot.json
  server/validators/appConfigSchema.js
  shared/validationPatterns.js
  tests/unit/client/admin-app-cleanup.test.jsx
Labels: frontend, backend, admin

Update contact email for enterprise support
  README.md
Labels: documentation

Add image to README for visual enhancement
  README.md
Labels: documentation

Fix OIDC session middleware path mismatch causing authentication failures
  server/middleware/setup.js
Labels: backend, auth

increased rate limiting
  server/defaults/config/platform.json
  server/middleware/rateLimiting.js
Labels: backend, auth

junit tests
  .gitignore
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/shared/components/CustomResponseRenderer.jsx
  client/src/shared/components/renderers/NDAResultsRenderer.jsx
  package.json
  server/defaults/apps/nda-risk-analyzer.json
  server/tests/nda-risk-analyzer.test.js
  server/validators/appConfigSchema.js
Labels: frontend, backend, chat, testing, dependencies, ui

documentation added
  client/src/features/chat/components/GreetingView.jsx
  configs/config/ui.json
  server/defaults/apps/nda-risk-analyzer.json
  server/defaults/config/ui.json
  server/defaults/pages/de/nda-guide.md
  server/defaults/pages/en/nda-guide.md
Labels: frontend, backend, configuration, chat

Fix static asset authentication bypass for direct route navigation
  server/middleware/setup.js
Labels: backend, auth

Fix direct route navigation with OIDC by handling base path and static assets
  client/index.html
  server/middleware/setup.js
  server/routes/staticRoutes.js
Labels: frontend, backend, auth, api

fix: Add cross-env for Windows compatibility
  package-lock.json
  package.json
Labels: backend, dependencies

Preserve original URL for all authentication methods, not just OIDC
  client/src/shared/contexts/AuthContext.jsx
Labels: frontend

prompt changes
  client/src/shared/components/renderers/NDAResultsRenderer.jsx
  package.json
  server/defaults/apps/nda-risk-analyzer.json
  server/defaults/pages/de/nda-guide.md
  server/defaults/pages/en/nda-guide.md
  server/tests/nda-risk-analyzer.test.js
  test-nda-prompt.js
Labels: frontend, backend, testing, dependencies, ui

transport json into server/app
  server/defaults/apps/nda-risk-analyzer.json
Labels: backend

adjusted custom css support
  client/src/features/chat/components/MessageVariables.jsx
  client/src/shared/contexts/UIConfigContext.jsx
Labels: frontend, chat

fixed ntlm support locally
  server/middleware/setup.js
Labels: backend, auth

added docs
  docs/AUTHENTICATION_QUICK_START.md
  docs/authentication-architecture.md
  docs/ntlm-technical-reference.md
  docs/per-user-rate-limiting-proposal.md
Labels: documentation

Adding FAQ File
  docs/ihub-faq-en.md
Labels: documentation

adding german version of faqs
  docs/ihub-faq-de.md
Labels: documentation

Enhance SSL configuration logging and handling for proxy support
  server/utils/httpConfig.js
Labels: backend

improved file handling
  client/src/features/apps/pages/AppChat.jsx
  client/src/shared/hooks/useEventSource.js
Labels: frontend

adding new epub and markdown
  .github/workflows/mdbook.yml
  docs/README.md
  docs/book-epub.toml
  docs/theme/head.hbs
  examples/apps/meeting-analyser.json
  package.json
  scripts/export-docs-markdown.js
  server/services/chat/StreamingHandler.js
Labels: backend, documentation, github-actions, dependencies, tools

removed epub
  docs/book-epub.toml
  docs/book.toml
  docs/book.toml.bak
  package.json
Labels: backend, documentation, dependencies

Potential fix for code scanning alert no. 261: Use of externally-controlled format string
  server/utils.js
Labels: backend

Refactor API key handling: remove unnecessary encrypted flag and streamline decryption process
  concepts/2025-11-28 API Key Configuration for Models.md
  server/routes/admin/models.js
  server/services/TokenStorageService.js
  server/utils.js
  server/validators/modelConfigSchema.js
Labels: backend, documentation, admin, api

remove epub
  .github/workflows/build-binaries.yml
  .github/workflows/mdbook.yml
  build.sh
  docs/book.toml
  package.json
Labels: backend, documentation, github-actions, dependencies, tools

adjust docs generation
  docs/book.toml
Labels: documentation

added image generator and image models to default for every installation
  server/defaults/apps/image-generator.json
  server/defaults/models/gemini-2.5-flash-image.json
  server/defaults/models/gemini-3-pro-image-preview.json
Labels: backend
