Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

feat: Route iAssistant feedback to iFinder API (#1222)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useAppChat.js
  concepts/2026-04-01 iAssistant Feedback Integration.md
  server/feedbackStorage.js
  server/routes/chat/feedbackRoutes.js
  server/services/chat/StreamingHandler.js
  server/services/integrations/ConversationApiService.js
Labels: frontend, backend, documentation, chat, api

package lock sync
  server/package-lock.json
Labels: backend, dependencies

Potential fix for code scanning alert no. 442: Workflow does not contain permissions
  .github/workflows/build-client-binaries.yml
Labels: github-actions

new workflow for custom builds
  .github/workflows/build-client-binaries.yml
Labels: github-actions

new workflow for custom builds (#1223)
  .github/workflows/build-client-binaries.yml
Labels: github-actions

Addressing PR comments (#1227)
  client/src/features/chat/components/ChatHeader.jsx
  concepts/2026-04-01 Burger Menu Refactoring.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

feat(a11y): WCAG 2.1 AA accessibility remediation (Phases 0-2)
  client/src/App.css
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/auth/components/LoginForm.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/services/i18nService.js
  client/src/shared/components/DisclaimerPopup.jsx
  client/src/shared/components/DynamicLanguageEditor.jsx
  client/src/shared/components/LanguageSelector.jsx
  client/src/shared/components/Layout.jsx
  client/src/shared/components/LoadingSpinner.jsx
  client/src/shared/components/SearchModal.jsx
  client/src/shared/hooks/useFocusTrap.js
  client/src/shared/hooks/useKeyboardNavigation.js
  docs/SUMMARY.md
  docs/accessibility.md
  eslint.config.js
  package-lock.json
  package.json
  server/middleware/setup.js
  server/routes/oauthAuthorize.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/e2e/accessibility.spec.js
Labels: frontend, backend, documentation, auth, admin, chat, api, dependencies, ui, i18n

fix for app heade icon to allow custom icons / paths
  client/src/features/apps/components/SharedAppHeader.jsx
Labels: frontend

fix for app heade icon to allow custom icons / paths (#1229)
  client/src/features/apps/components/SharedAppHeader.jsx
Labels: frontend

fix: client binaries workflow OS selection and align artifacts with release
  .github/workflows/build-client-binaries.yml
Labels: github-actions

fix translation
  package-lock.json
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, dependencies, i18n

Addressing PR comments (#1240)
  concepts/2026-04-07 Blocking Operations Fix for Image Generation.md
  server/adapters/anthropic.js
  server/adapters/google.js
  server/adapters/index.js
  server/adapters/mistral.js
  server/adapters/openai-responses.js
  server/adapters/openai.js
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/MistralConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/adapters/toolCalling/VLLMConverter.js
  server/adapters/vllm.js
  server/routes/openaiProxy.js
  server/routes/toolsService/processors/ocrProcessor.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/services/workflow/WorkflowLLMHelper.js
  server/tests/gemini3-tool-calling.test.js
  server/utils/asyncJson.js
Labels: backend, documentation, chat, api, testing

[WIP] Add support for mp4 audio format (#1251)
  examples/apps/audio-from-video-example.json
  server/defaults/apps/audio-transcription.json
  server/defaults/config/mimetypes.json
Labels: backend

Add ADFS support for authentication (#1252)
  concepts/2026-04-14 ADFS Authentication Support Analysis.md
  docs/ADFS-AUTHENTICATION-GUIDE.md
  docs/SUMMARY.md
  docs/oidc-authentication.md
Labels: documentation

Remove and redact api keys from logs (#1261)
  concepts/2026-04-14 API Key Logging Redaction Fix.md
  server/services/chat/StreamingHandler.js
  server/tests/issue-apikey-logging-fix.test.js
  server/tests/logRedactor.test.js
  server/tests/logger-redaction.test.js
  server/tests/logger-url-redaction.test.js
  server/utils/logRedactor.js
  server/utils/logger.js
Labels: backend, documentation, testing

Add audio/mp4 support for QuickTime-recorded audio files (#1250)
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/utils/fileProcessing.js
  client/src/shared/hooks/useFileUploadHandler.js
  docs/audio-file-support.md
  server/validators/appConfigSchema.js
Labels: frontend, backend, documentation

Add option to configure callback URL for OIDC provider (#1256)
  client/src/features/admin/components/PlatformFormEditor.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, admin, i18n

Check kerberos support in authentication implementations (#1257)
  concepts/2026-04-14 Kerberos Support Analysis.md
Labels: documentation

Fix OIDC redirect handling for subdirectory (#1259)
  TESTING_OIDC_SUBPATH.md
  server/middleware/oidcAuth.js
Labels: backend, documentation, auth

Update documentation for websearch configuration and usage (#1263)
  docs/tool-calling.md
Labels: documentation

Add test button for iFinder and iAssistant integration (#1254)
  client/src/features/admin/components/IFinderConfig.jsx
  server/routes/admin/integrationTest.js
  server/routes/adminRoutes.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

Consolidate websearch into unified app.websearch config
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/shared/components/ToolsSelector.jsx
  client/src/shared/hooks/useAppSettings.js
  server/defaults/apps/web-chat.json
  server/defaults/config/tools.json
  server/migrations/V024__migrate_websearch_tools.js
  server/routes/chat/sessionRoutes.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/toolLoader.js
  server/tools/braveSearch.js
  server/tools/enhancedWebSearch.js
  server/tools/tavilySearch.js
  server/validators/appConfigSchema.js
  server/validators/index.js
Labels: frontend, backend, admin, chat, api, tools, ui

Format: whitespace and blank line cleanup
  TESTING_OIDC_SUBPATH.md
  server/routes/admin/integrationTest.js
Labels: backend, documentation, admin, api

Address PR review comments on websearch consolidation
  server/migrations/V024__migrate_websearch_tools.js
  server/services/chat/ToolExecutor.js
  server/toolLoader.js
  server/tools/braveSearch.js
  server/tools/tavilySearch.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, tools, i18n

Format: whitespace and blank line cleanup
  TESTING_OIDC_SUBPATH.md
  server/routes/admin/integrationTest.js
Labels: backend, documentation, admin, api

Address PR review comments on websearch consolidation
  server/migrations/V024__migrate_websearch_tools.js
  server/services/chat/ToolExecutor.js
  server/toolLoader.js
  server/tools/braveSearch.js
  server/tools/tavilySearch.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, tools, i18n

Consolidate websearch into unified app.websearch config
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/shared/components/ToolsSelector.jsx
  client/src/shared/hooks/useAppSettings.js
  server/defaults/apps/web-chat.json
  server/defaults/config/tools.json
  server/migrations/V024__migrate_websearch_tools.js
  server/routes/chat/sessionRoutes.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/toolLoader.js
  server/tools/braveSearch.js
  server/tools/enhancedWebSearch.js
  server/tools/tavilySearch.js
  server/validators/appConfigSchema.js
  server/validators/index.js
Labels: frontend, backend, admin, chat, api, tools, ui

Unify web search configuration into app-level settings (#1264)
  TESTING_OIDC_SUBPATH.md
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/shared/components/ToolsSelector.jsx
  client/src/shared/hooks/useAppSettings.js
  server/defaults/apps/web-chat.json
  server/defaults/config/tools.json
  server/migrations/V024__migrate_websearch_tools.js
  server/routes/admin/integrationTest.js
  server/routes/chat/sessionRoutes.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/services/chat/ToolExecutor.js
  server/toolLoader.js
  server/tools/braveSearch.js
  server/tools/enhancedWebSearch.js
  server/tools/tavilySearch.js
  server/validators/appConfigSchema.js
  server/validators/index.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, chat, api, tools, ui, i18n

Add unit tests for resolveWebsearchTool()
  server/tests/toolLoader-websearch.test.js
  server/toolLoader.js
Labels: backend, testing

feat: add multi-provider audio support and admin configurability
  client/src/features/admin/components/ModelFormEditor.jsx
  client/src/shared/hooks/useFileUploadHandler.js
  docs/audio-file-support.md
  server/adapters/openai.js
  server/defaults/apps/audio-transcription.json
  server/defaults/models/gemini-3-pro-image.json
  server/defaults/models/gemini-3.1-flash-image.json
  server/defaults/models/gemini-3.1-flash-lite.json
  server/defaults/models/gemini-3.1-pro.json
  server/defaults/models/gemini-flash-latest.json
  server/defaults/models/gemini-flash-lite-latest.json
  server/defaults/models/gpt-5.json
  server/migrations/V026__add_audio_vision_support_flags.js
Labels: frontend, backend, documentation, admin, chat, api

fixed migrations
  server/migrations/V023__migrate_microphone_mode.js
  server/migrations/V024__rename_model_files_to_match_ids.js
  server/migrations/V025__migrate_websearch_tools.js
Labels: backend

adressed cves
  package-lock.json
Labels: backend, dependencies

fix test url
  server/routes/admin/integrationTest.js
Labels: backend, admin, api

feat: multi-provider audio support with admin configurability (#1266)
  client/src/features/admin/components/ModelFormEditor.jsx
  client/src/shared/hooks/useFileUploadHandler.js
  docs/audio-file-support.md
  package-lock.json
  server/adapters/openai.js
  server/defaults/apps/audio-transcription.json
  server/defaults/models/gemini-3-pro-image.json
  server/defaults/models/gemini-3.1-flash-image.json
  server/defaults/models/gemini-3.1-flash-lite.json
  server/defaults/models/gemini-3.1-pro.json
  server/defaults/models/gemini-flash-latest.json
  server/defaults/models/gemini-flash-lite-latest.json
  server/defaults/models/gpt-5.json
  server/migrations/V023__migrate_microphone_mode.js
  server/migrations/V024__rename_model_files_to_match_ids.js
  server/migrations/V025__migrate_websearch_tools.js
  server/migrations/V026__add_audio_vision_support_flags.js
  server/routes/admin/integrationTest.js
Labels: frontend, backend, documentation, admin, chat, api, dependencies

Delete docs/JIRA_CONFIG_EXAMPLE.env
  docs/JIRA_CONFIG_EXAMPLE.env
Labels: documentation

fix: resolve OIDC TypeError by passing callbackURL as authenticate option (#1259)
  server/middleware/oidcAuth.js
Labels: backend, auth

fix: resolve OIDC TypeError for subpath callback URL (#1268)
  server/middleware/oidcAuth.js
Labels: backend, auth

fix: convert glob patterns to regex in migration listFiles
  server/migrations/runner.js
Labels: backend

fix: convert glob patterns to regex in migration listFiles (#1269)
  server/migrations/runner.js
Labels: backend

remove top margin
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
