Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Stop audit log spam from session start (POST /api/session/start) (#1621)
  docs/releases/5.4.0/features.md
  server/middleware/auditLogger.js
  server/tests/auditLogger.test.js
Labels: backend, documentation, auth, testing

fix: sidebar/auth/admin follow-ups + chat history feature flag
  client/src/features/admin/components/AdminSidebar.jsx
  client/src/features/admin/components/StartPageCustomization.jsx
  client/src/features/admin/pages/AdminUICustomization.jsx
  client/src/features/apps/pages/StartPage.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/shared/components/AppSidebar.jsx
  client/src/shared/components/LanguageSelector.jsx
  server/featureRegistry.js
Labels: frontend, backend, auth, admin, ui

fix: start-page default-app toggle, model/mic, compact language selector
  client/index.html
  client/src/features/admin/components/StartPageCustomization.jsx
  client/src/features/apps/pages/StartPage.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/shared/components/LanguageSelector.jsx
  client/src/utils/runtimeBasePath.js
Labels: frontend, auth, admin, ui

refactor: address review + Copilot comments, a11y, dedup, mobile nav
  client/src/features/admin/components/AdminSidebar.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/apps/pages/StartPage.jsx
  client/src/features/chat/data/mockChats.js
  client/src/features/chat/pages/ChatHistoryPage.jsx
  client/src/shared/components/AppSidebar.jsx
  client/src/shared/components/IHubLogo.jsx
  client/src/shared/components/LanguageSelector.jsx
  client/src/shared/components/Layout.jsx
  client/src/shared/hooks/useApps.js
  client/src/shared/hooks/useFavorites.js
  client/src/utils/pageAccess.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, admin, chat, ui, i18n

docs: add vLLM server start parameters guide for tools, images, audio
  docs/SUMMARY.md
  docs/local-llm-providers.md
  docs/vllm-server-parameters.md
Labels: documentation

Remove Tavily web search implementation
  README.md
  client/src/features/admin/components/AppFormEditor.jsx
  config.env
  docs/apps.md
  docs/models.md
  docs/proxy-configuration.md
  docs/proxy-testing-guide.md
  docs/releases/5.4.0/breaking-changes.md
  docs/server-config.md
  docs/tool-calling.md
  docs/tools.md
  docs/web-tools.md
  examples/config/tools.json
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/config.js
  server/defaults/config/providers.json
  server/defaults/config/tools.json
  server/migrations/V062__remove_tavily_websearch.js
  server/services/WebSearchService.js
  server/services/chat/ToolExecutor.js
  server/tests/anthropic-tool-name.test.js
  server/tests/openai-websearch-filtering.test.js
  server/toolLoader.js
  server/tools/tavilySearch.js
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/manual-test-websearch-provider-keys.js
Labels: frontend, backend, configuration, documentation, admin, chat, api, testing, tools, i18n

Remove Tavily web search implementation (#1623)
  README.md
  client/src/features/admin/components/AppFormEditor.jsx
  config.env
  docs/apps.md
  docs/models.md
  docs/proxy-configuration.md
  docs/proxy-testing-guide.md
  docs/releases/5.4.0/breaking-changes.md
  docs/server-config.md
  docs/tool-calling.md
  docs/tools.md
  docs/web-tools.md
  examples/config/tools.json
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/config.js
  server/defaults/config/providers.json
  server/defaults/config/tools.json
  server/migrations/V062__remove_tavily_websearch.js
  server/services/WebSearchService.js
  server/services/chat/ToolExecutor.js
  server/tests/anthropic-tool-name.test.js
  server/tests/openai-websearch-filtering.test.js
  server/toolLoader.js
  server/tools/tavilySearch.js
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/manual-test-websearch-provider-keys.js
Labels: frontend, backend, configuration, documentation, admin, chat, api, testing, tools, i18n

docs: add vLLM server start parameters guide (tools, images, audio) (#1622)
  docs/SUMMARY.md
  docs/local-llm-providers.md
  docs/vllm-server-parameters.md
Labels: documentation

[WIP] Fix 5.4.0-RC2 won't start due to missing package (#1627)
  package.json
  server/package-lock.json
  server/package.json
  shared/tokenEstimator.js
Labels: backend, dependencies

fix: use `github.event.release.tag_name` instead of `GITHUB_REF` for release version sync (#1628)
  .github/workflows/docker-ci.yml
Labels: github-actions

fix: pass explicit tag_name to action-gh-release to prevent "requires a tag" failure (#1629)
  .github/workflows/build-nextcloud-plugin.yml
Labels: github-actions

fix: "Attach to Release" job failing with "GitHub Releases requires a tag" (#1630)
  .github/workflows/build-binaries.yml
Labels: github-actions

fix: resolve [object Object] in admin page title for localized header config
  client/src/features/admin/pages/AdminOverview.jsx
Labels: frontend, admin

custom back button handler
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button with localstorage set
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fixing href var, getting it into a catch
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back now with specific url through window.open
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fix: resolve [object Object] in admin overview page title (#1633)
  client/src/features/admin/pages/AdminOverview.jsx
Labels: frontend, admin

fix: download WinSW at build time, not at install time on the server
  build-sea.cjs
  docs/windows-service.md
Labels: backend, documentation

feat: bundle WinSW-based Windows service support into binary zip
  build-sea.cjs
  docs/SUMMARY.md
  docs/windows-service.md
Labels: backend, documentation

feat: Windows Service support via WinSW (bundled in binary zip) (#1634)
  build-sea.cjs
  docs/SUMMARY.md
  docs/windows-service.md
Labels: backend, documentation

Update windows-service.md to remove API keys
  docs/windows-service.md
Labels: documentation

adjusted migrations and workflow
  server/defaults/workflows/stellungnahmen-review-ifinder.json
  server/migrations/V061__centralize_credentials.js
  server/migrations/V062__add_ssrf_allowed_hosts.js
  server/migrations/V063__remove_tavily_websearch.js
Labels: backend

feat(office): always show Add email button in context strip header
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

feat(agent): harden claude-style autonomous agent (loop, model, audit, citations)
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/workflows/hooks/useWorkflowExecution.js
  docs/agents.md
  docs/superpowers/plans/2026-06-25-phased-step-by-step-agent.md
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/taskRecord.js
  server/routes/agents/runs.js
  server/server.js
  server/services/WebSearchService.js
  server/services/workflow/ContextSummarizer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/InboxFinalizeNodeExecutor.js
  server/services/workflow/executors/InboxLoadNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/services/workflow/orphanSweeper.js
  server/services/workflow/resumeManager.js
  server/services/workflow/triggers/TriggerManager.js
  server/services/workflow/triggers/schedulerLock.js
  server/tests/agent-adversarial-verifier.test.js
  server/tests/agent-audit-trail.test.js
  server/tests/agent-budget-loop.test.js
  server/tests/agent-context-management.test.js
  server/tests/agent-inbox-load.test.js
  server/tests/agent-living-plan.test.js
  server/tests/agent-node-models.test.js
  server/tests/agent-plan-reconciliation.test.js
  server/tests/agent-verifier-tools.test.js
  server/tests/claude-style-agent-profile.test.js
  server/tests/scheduler-lock.test.js
  server/tests/workflow-resume.test.js
  server/tools/agentTools.js
  server/utils/authorization.js
  server/validators/agentProfileSchema.js
  server/validators/workflowConfigSchema.js
Labels: frontend, backend, documentation, auth, admin, api, testing, tools

feat(agent): verifier advances review round on retry to drive planner re-planning
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/tests/agent-verifier-replan.test.js
Labels: backend, testing

feat(agent): phased plan→execute→compose→verify external workflow
  server/tests/agent-phased-workflow.test.js
Labels: backend, testing

test(agent): assert per-task auditability survives the review loop
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/tests/agent-phased-audit.test.js
Labels: backend, testing

revert: undo auto-lint formatting of unrelated workflow JSON
  server/defaults/workflows/stellungnahmen-review-ifinder.json
Labels: backend

test(agent): validate phased agent profile wiring
  server/tests/claude-style-agent-phased-profile.test.js
Labels: backend, testing

fix(agent): 30min default node timeout for agent runs; tighten audit test
  server/routes/agents/runs.js
  server/server.js
  server/tests/agent-phased-audit.test.js
Labels: backend, api, testing

feat(office): always show Add email button in context strip header (#1635)
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  server/defaults/workflows/stellungnahmen-review-ifinder.json
Labels: frontend, backend

fix(outlook): guard split-button dropdown on email label key
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

feat(outlook): add split button with New Email option on Add to email
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/utilities/replyForm.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

feat(outlook): split button for "Add to email" with New Email option (#1637)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/utilities/replyForm.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

chore: update package-lock.json (platform libc field cleanup)
  package-lock.json
Labels: backend, dependencies

docs: fix stale comment in ChatInput context-usage estimate
  client/src/features/chat/components/ChatInput.jsx
Labels: frontend, chat

fix: include Outlook email context in live token-count estimate
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
Labels: frontend, chat

style: apply Prettier formatting (remove redundant parens)
  client/src/features/office/components/OfficeChatPanel.jsx
Labels: frontend

fix: include Outlook email context in live token-count estimate (#1636)
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  package-lock.json
Labels: frontend, backend, chat, dependencies
