Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Redact API keys from logs (#706)
  concepts/2026-01-21 Log Redaction for API Keys.md
  server/adapters/anthropic.js
  server/adapters/google.js
  server/adapters/mistral.js
  server/adapters/openai.js
  server/adapters/vllm.js
  server/services/chat/StreamingHandler.js
  server/tests/logRedactor.test.js
  server/utils/logRedactor.README.md
  server/utils/logRedactor.js
Labels: backend, documentation, chat, api, testing

Delete .gitignore
  .gitignore
Labels: none

Fix SPA routing for direct links to admin pages (#712)
  .gitignore
  server/routes/staticRoutes.js
Labels: backend, api

Move providers navigation item to security group
  client/src/features/admin/components/AdminNavigation.jsx
Labels: frontend, admin

Add configuration for provider keys in admin UI (#714)
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminProviderEditPage.jsx
  client/src/features/admin/pages/AdminProvidersPage.jsx
  server/configCache.js
  server/defaults/config/providers.json
  server/routes/admin/providers.js
  server/routes/adminRoutes.js
  server/utils.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

Fix model API key persistence bug - read from disk instead of cache (#717)
  concepts/2026-01-21 Model API Key Storage Fix.md
  server/routes/admin/models.js
  tests/manual-test-apikey-persistence.js
Labels: backend, documentation, admin, api

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/telemetry/GenAIInstrumentation.js
Labels: backend

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/routes/openaiProxy.js
Labels: backend, api

Increase PNG export resolution for Mermaid diagrams to match PDF quality (#728)
  client/package-lock.json
  client/src/hooks/useMermaidRenderer.js
  server/package-lock.json
Labels: frontend, backend, dependencies

Potential fix for pull request finding 'Unused variable, import, function or class'
  client/src/features/apps/components/AppConfigForm.jsx
Labels: frontend

[WIP] Fix missing translations for model admin page (#732)
  shared/i18n/de.json
  shared/i18n/en.json
Labels: i18n

Add enable/disable tools functionality with unified actions menu, single action optimization, and usage tracking (#724)
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ToolsToggle.jsx.backup
  client/src/features/voice/components/VoiceInput.css
  client/src/shared/hooks/useAppSettings.js
  client/src/utils/toolUsageTracker.js
  server/routes/chat/sessionRoutes.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/toolLoader.js
  server/validators/index.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, api, i18n

restored gitignore and package-lock
  .gitignore
  client/package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

reduced logging
  server/adapters/toolCalling/VLLMConverter.js
Labels: backend, chat, api

adjust tool filtering and handling for vllm
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/adapters/toolCalling/VLLMConverter.js
  server/adapters/vllm.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/utils/authorization.js
Labels: backend, auth, chat, api

Fix handling of overridden fields for apps (#741)
  client/src/features/admin/pages/AdminProviderEditPage.jsx
  client/src/features/admin/pages/AdminProvidersPage.jsx
  client/src/features/apps/components/AppCreationWizard.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  server/adapters/toolCalling/VLLMConverter.js
  server/routes/admin/models.js
  server/toolLoader.js
  tests/manual-test-apikey-persistence.js
  tests/unit/client/app-creation-wizard-overridden-fields.test.jsx
Labels: frontend, backend, admin, chat, api

Fix tools selector empty in admin with anonymousAuth enabled (#749)
  client/src/api/endpoints/admin.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/adapters/vllm.js
  server/utils/authorization.js
  tests/unit/client/app-creation-wizard-overridden-fields.test.jsx
Labels: frontend, backend, auth, chat, api

Replace bcrypt with bcryptjs to eliminate native dependencies (#744)
  OAUTH_IMPLEMENTATION_SUMMARY.md
  concepts/2025-07-18 External Authentication Integration.md
  concepts/2025-07-20-Final-Authentication-Security-Implementation.md
  concepts/2026-01-19 OAuth2 Client Credentials External API Authentication.md
  concepts/authentication-authorization-concept.md
  docs/external-authentication.md
  docs/security.md
  server/middleware/adminAuth.js
  server/middleware/localAuth.js
  server/package-lock.json
  server/package.json
  server/tests/authentication-integration.test.js
  server/utils/oauthClientManager.js
  server/utils/rehashPasswords.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, documentation, auth, testing, dependencies, i18n

Add interactive pan-zoom controls to Mermaid diagrams (#738)
  client/package-lock.json
  client/package.json
  client/src/features/chat/components/ChatMessage.css
  client/src/hooks/useMermaidRenderer.js
  concepts/2026-01-23 Interactive Diagrams.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, dependencies, i18n

fix tool selector
  client/src/shared/components/ToolsSelector.jsx
Labels: frontend, ui

Potential fix for pull request finding 'Useless conditional'
  client/src/features/admin/pages/IntegrationsPage.jsx
Labels: frontend, admin

Potential fix for pull request finding 'Property access on null or undefined'
  client/src/features/admin/pages/IntegrationsPage.jsx
Labels: frontend, admin

Potential fix for pull request finding 'Property access on null or undefined'
  client/src/features/admin/pages/IntegrationsPage.jsx
Labels: frontend, admin

Consolidate chat input controls into unified two-line component (#753)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ModelSelector.jsx
  client/src/features/chat/components/NextGenChatInput.jsx
  client/src/shared/components/Icon.jsx
  concepts/2026-01-25 Next-Gen Chat Input Component.md
  concepts/2026-01-25 NextGenChatInput Implementation Summary.md
  concepts/2026-01-25 NextGenChatInput Visual Layout.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, ui, i18n

Fix PDF export settings menu cutoff on right edge (#755)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ExportConversationMenu.jsx
  client/src/features/chat/components/NextGenChatInput.jsx
Labels: frontend, chat

Hide footer on app pages to maximize screen space (#757)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  client/src/shared/components/Layout.jsx
Labels: frontend, ui

Fix base path detection treating admin routes as deployment subpaths (#748)
  .github/copilot-instructions.md
  CLAUDE.md
  GEMINI.md
  LLM_GUIDELINES.md
  client/src/utils/runtimeBasePath.js
Labels: frontend, documentation, github-actions, ai-copilot

Fix provider API key loss on update operations (#759)
  server/routes/admin/providers.js
  tests/manual-test-provider-apikey-persistence.js
  tests/manual-test-provider-apikey-ttl-restart.js
Labels: backend, admin, api

build: upgrade to Node.js 24 and update electron-builder
  client/package-lock.json
  docker/Dockerfile
  package-lock.json
  package.json
  server/package-lock.json
Labels: frontend, backend, docker, dependencies

Fix model testing with provider-specific API keys (#767)
  IMPLEMENTATION_SUMMARY.md
  package-lock.json
  server/package-lock.json
  server/routes/admin/models.js
  server/routes/admin/prompts.js
  server/routes/admin/translate.js
  server/utils.js
  tests/MODEL_TESTING_PROVIDER_KEY_FIX.md
  tests/manual-test-model-with-provider-key.js
Labels: backend, documentation, admin, api, dependencies

Fix forced auto-scroll during message streaming (#769)
  client/package-lock.json
  client/src/features/chat/components/ChatMessageList.jsx
Labels: frontend, chat, dependencies

Fix duplicate action icons in NextGenChatInput (#771)
  IMPLEMENTATION_SUMMARY.md
  client/src/features/chat/components/NextGenChatInput.jsx
  server/routes/admin/translate.js
  tests/MODEL_TESTING_PROVIDER_KEY_FIX.md
  tests/manual-test-model-with-provider-key.js
Labels: frontend, backend, documentation, admin, chat, api

Backend model filtering to enforce app capability requirements (#773)
  concepts/2026-01-27 Model Filtering and Fallback Logic.md
  examples/apps/image-generator.json
  server/defaults/apps/image-generator.json
  server/services/chat/RequestBuilder.js
  tests/manual-test-model-filtering.js
Labels: backend, documentation

Fix image streaming, tool calling, and native tool prioritization for LLM providers (#775)
  concepts/2026-01-27 Image Generation with google_search Fix.md
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/services/chat/ToolExecutor.js
  server/tests/gemini3-stop-with-toolcalls.test.js
  server/tests/googleImageGenerationWithSearch.test.js
  server/tests/openai-websearch-filtering.test.js
Labels: backend, documentation, chat, api, testing

Fix source creation with empty description and improve validation error messages (#779)
  client/src/features/admin/pages/AdminSourceEditPage.jsx
Labels: frontend, admin

Fix 500 error when creating filesystem sources without content (#785)
  client/src/features/admin/components/SourceConfigForm.jsx
  server/routes/admin/sources.js
  server/tests/source-validation.test.js
Labels: frontend, backend, admin, api, testing

Simplify save image warning message in German
  shared/i18n/de.json
Labels: i18n

Update save image warning message
  shared/i18n/en.json
Labels: i18n

Fix SessionStorage quota exceeded error in image generator app (#787)
  INVESTIGATION_UPDATE.md
  QUOTA_FIX.md
  client/src/features/admin/components/SourceConfigForm.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useChatMessages.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, admin, chat, i18n

Fix Gemini 3 tool calling by preserving thoughtSignature metadata through streaming (#783)
  concepts/2026-01-28 gemini-thought-signature-fix.md
  server/adapters/google.js
  server/adapters/toolCalling/GoogleConverter.js
  server/services/chat/ToolExecutor.js
  server/tests/gemini-thought-signature.test.js
Labels: backend, documentation, chat, api, testing

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
