Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(outlook): open auth dialog as separate webview, not iframe (#1342)
  client/src/features/office/utilities/officeAuthDialog.js
Labels: frontend

feat(chat): polished edit-and-resend UX in web UI and Outlook
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  concepts/2026-04-28 Chat Message Edit UX and Outlook Resend.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

feat: add server-configured quick actions to Outlook ribbon
  client/office/taskpane-entry.jsx
  client/src/features/admin/pages/AdminOfficeIntegrationPage.jsx
  client/src/features/office/components/OfficeApp.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  server/migrations/V031__add_office_quick_actions.js
  server/routes/admin/officeIntegration.js
  server/routes/integrations/officeAddin.js
Labels: frontend, backend, admin, api

fix(outlook): restore manual uploads on resend
  client/src/features/office/components/OfficeChatPanel.jsx
  concepts/2026-04-28 Chat Message Edit UX and Outlook Resend.md
Labels: frontend, documentation

feat(chat): polished edit-and-resend UX in web UI and Outlook (#1345)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  concepts/2026-04-28 Chat Message Edit UX and Outlook Resend.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

feat(auth): include request method and path in JwtAuth log
  server/middleware/jwtAuth.js
Labels: backend, auth

feat(auth): include request method and path in JwtAuth log (#1348)
  server/middleware/jwtAuth.js
Labels: backend, auth

fix(chat): raise SSE connection timeout and heartbeat to 60s
  client/src/shared/hooks/useEventSource.js
Labels: frontend

fix(chat): raise SSE connection timeout and heartbeat to 60s (#1349)
  client/src/shared/hooks/useEventSource.js
Labels: frontend

Fix YAML errors in feedbackRoutes.js (#1351)
  server/routes/chat/feedbackRoutes.js
Labels: backend, chat, api

docs(concepts): plan iHub browser extension reusing Outlook OAuth flow
  concepts/browser-extension/2026-04-28 Browser Extension Plan.md
  concepts/browser-extension/README.md
Labels: documentation

docs(concepts): plan iHub browser extension reusing Outlook OAuth flow (#1352)
  concepts/browser-extension/2026-04-28 Browser Extension Plan.md
  concepts/browser-extension/README.md
Labels: documentation

fix(telemetry): decouple ActivityTracker from telemetry SDK init
  server/server.js
Labels: backend

fix(telemetry): finish v2 migration - logs via NodeSDK, SpanKind enum
  server/telemetry.js
  server/telemetry/GenAIInstrumentation.js
Labels: backend

fix(telemetry): emit startup log for activity summary, accept nested resource attrs
  server/telemetry.js
  server/telemetry/ActivityTracker.js
Labels: backend

fix(telemetry): use resourceFromAttributes for @opentelemetry/resources v2
  server/telemetry.js
Labels: backend

fix(telemetry): resolve \${VAR:-default} placeholders in resource attributes
  server/configCache.js
  server/telemetry.js
Labels: backend

fix(telemetry): allow-list metric labels to bound Prometheus cardinality
  server/routes/openaiProxy.js
  server/services/chat/StreamingHandler.js
  server/telemetry/llmInstrumentation.js
  server/telemetry/metrics.js
  server/tests/telemetry-metrics.test.js
Labels: backend, api, testing

Update provider name mappings in providerMap.js
  server/telemetry/providerMap.js
Labels: backend

feat: complete OpenTelemetry gen-ai instrumentation (#721)
  .env.example
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminTelemetryPage.jsx
  docs/SUMMARY.md
  docs/telemetry.md
  server/defaults/config/platform.json
  server/migrations/V031__expand_telemetry_config.js
  server/package.json
  server/routes/admin/configs.js
  server/routes/openaiProxy.js
  server/server.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/telemetry.js
  server/telemetry/ActivityTracker.js
  server/telemetry/GenAIInstrumentation.js
  server/telemetry/attributes.js
  server/telemetry/events.js
  server/telemetry/exporters.js
  server/telemetry/llmInstrumentation.js
  server/telemetry/metrics.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, configuration, documentation, admin, api, dependencies, i18n

package lock
  server/package-lock.json
Labels: backend, dependencies

fix(telemetry): acquire meters via the @opentelemetry/api global API
  server/telemetry.js
  server/telemetry/metrics.js
Labels: backend

fix(telemetry): address Copilot review comments on PR #1337
  client/src/features/admin/pages/AdminTelemetryPage.jsx
  docs/telemetry.md
  server/services/chat/StreamingHandler.js
  server/telemetry.js
  server/telemetry/ActivityTracker.js
  server/telemetry/GenAIInstrumentation.js
  server/telemetry/events.js
  server/telemetry/exporters.js
  server/telemetry/llmInstrumentation.js
  server/telemetry/metrics.js
  server/telemetry/providerMap.js
  server/tests/telemetry-activityTracker.test.js
  server/tests/telemetry-exporters.test.js
  server/tests/telemetry-metrics.test.js
  server/tests/telemetry-providerMap.test.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, testing, i18n

chore(telemetry): print metric label allow-list at startup
  server/telemetry/metrics.js
Labels: backend

fix(admin): guard updateField path traversal against prototype pollution
  client/src/features/admin/pages/AdminTelemetryPage.jsx
Labels: frontend, admin

fix(telemetry): ihub.workers.count handles single-process mode
  server/telemetry/ProcessMetrics.js
Labels: backend

feat(telemetry): count any authenticated request as an active user
  server/middleware/setup.js
Labels: backend, auth

feat(telemetry): platform metrics (auth, rate-limit, stream, upload, sources, config, feedback) + process / runtime gauges + auto-instrumentation toggle
  client/src/features/admin/pages/AdminTelemetryPage.jsx
  docs/telemetry.md
  server/configCache.js
  server/defaults/config/platform.json
  server/middleware/jwtAuth.js
  server/middleware/rateLimiting.js
  server/migrations/V032__telemetry_auto_instrumentation_default.js
  server/requestThrottler.js
  server/routes/admin/ui.js
  server/routes/auth.js
  server/routes/toolsService/ocrRoutes.js
  server/services/chat/StreamingHandler.js
  server/sources/SourceManager.js
  server/telemetry.js
  server/telemetry/ProcessMetrics.js
  server/telemetry/metrics.js
  server/usageTracker.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, auth, admin, api, i18n

fix(telemetry): use logRecordProcessors (array) per NodeSDK deprecation
  server/telemetry.js
Labels: backend

fix(telemetry): no console span dump in Prometheus mode, flatten resource
  server/telemetry.js
  server/telemetry/exporters.js
Labels: backend

feat: add CORS configuration to admin System page
  client/src/features/admin/components/CorsConfig.jsx
  client/src/features/admin/pages/AdminSystemPage.jsx
  server/defaults/config/platform.json
  server/migrations/V033__add_cors_defaults.js
  server/routes/admin/cors.js
  server/routes/adminRoutes.js
Labels: frontend, backend, admin, api

feat: add CORS configuration to admin System page (#1354)
  client/src/features/admin/components/CorsConfig.jsx
  client/src/features/admin/pages/AdminSystemPage.jsx
  server/defaults/config/platform.json
  server/migrations/V033__add_cors_defaults.js
  server/routes/admin/cors.js
  server/routes/adminRoutes.js
Labels: frontend, backend, admin, api

feat(extension): searchable group selector + wildcard, Chrome SSL docs
  client/src/features/admin/pages/AdminBrowserExtensionPage.jsx
  docs/browser-extension.md
  server/migrations/V033__add_browser_extension_config.js
  server/routes/oauthAuthorize.js
Labels: frontend, backend, documentation, admin, api

feat(extension): backend-packaged customised browser extension downloads
  browser-extension/background.js
  browser-extension/options.html
  browser-extension/options.js
  browser-extension/runtime-config.js
  browser-extension/sidepanel.html
  client/src/features/admin/pages/AdminBrowserExtensionPage.jsx
  docs/browser-extension.md
  server/routes/admin/browserExtension.js
  server/utils/chromeExtensionId.js
Labels: frontend, backend, documentation, admin, api

refactor(extension): rename to browser-extension + add user docs
  browser-extension/README.md
  browser-extension/background.js
  browser-extension/icons/icon-128.png
  browser-extension/icons/icon-16.png
  browser-extension/icons/icon-48.png
  browser-extension/manifest.json
  browser-extension/options.html
  browser-extension/options.js
  browser-extension/sidepanel.css
  browser-extension/sidepanel.html
  browser-extension/sidepanel.js
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminBrowserExtensionPage.jsx
  client/src/features/admin/pages/AdminHome.jsx
  docs/SUMMARY.md
  docs/browser-extension.md
  server/migrations/V031__add_browser_extension_config.js
  server/routes/admin/browserExtension.js
  server/routes/adminRoutes.js
  server/routes/integrations/browserExtension.js
  server/server.js
Labels: frontend, backend, documentation, admin, api

feat(extension): add iHub browser extension MVP + server scaffolding
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminExtensionIntegrationPage.jsx
  client/src/features/admin/pages/AdminHome.jsx
  extension/README.md
  extension/background.js
  extension/icons/icon-128.png
  extension/icons/icon-16.png
  extension/icons/icon-48.png
  extension/manifest.json
  extension/options.html
  extension/options.js
  extension/sidepanel.css
  extension/sidepanel.html
  extension/sidepanel.js
  server/migrations/V031__add_extension_integration_config.js
  server/routes/admin/extensionIntegration.js
  server/routes/admin/oauthClients.js
  server/routes/adminRoutes.js
  server/routes/integrations/extension.js
  server/routes/oauthAuthorize.js
  server/server.js
  server/utils/oauthClientManager.js
Labels: frontend, backend, admin, api

fix(cors): block credentials+wildcard combo that breaks POST preflight
  docs/browser-extension.md
  server/middleware/setup.js
Labels: backend, documentation, auth

fix(cors): forgive trailing slash + path in admin allowlist entries
  server/middleware/setup.js
Labels: backend, auth

debug(extension): log token-exchange URL + fetch-level error to SW console
  browser-extension/background.js
Labels: none

fix(vite): disable Vite dev-server CORS so preflights reach Express
  client/vite.config.js
Labels: frontend

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
