Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(extension): correct chat URL, fix active-tab query, hide selection chip when no selection
  browser-extension/background.js
  browser-extension/sidepanel.js
Labels: none

Update ApiKeyVerifier to consider provider configuration (#1358)
  server/utils/ApiKeyVerifier.js
Labels: backend

Set 'allow all' as default for new OAuth clients (#1356)
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  server/routes/admin/oauthClients.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

wip(extension): EmbeddedHostContext + extension host adapter scaffolding
  client/office/taskpane-entry.jsx
  client/src/features/extension/extensionHost.js
  client/src/features/extension/installExtensionAuth.js
  client/src/features/office/components/OfficeLogin.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
Labels: frontend

feat(extension): mount the Outlook React tree in the side panel via Vite
  browser-extension/background.js
  browser-extension/manifest.json
  browser-extension/options.html
  browser-extension/options.js
  browser-extension/runtime-config.js
  browser-extension/sidepanel.css
  browser-extension/sidepanel.html
  browser-extension/sidepanel.js
  client/extension/extension.css
  client/extension/options-entry.jsx
  client/extension/options.html
  client/extension/sidepanel-entry.jsx
  client/extension/sidepanel.html
  client/public/extension/runtime-config.js
  client/tailwind.config.js
  client/vite.config.js
  server/routes/admin/browserExtension.js
Labels: frontend, backend, admin, api

fix(extension): surface Generate-signing-key action when admin enabled the integration before signing-key support shipped
  client/src/features/admin/pages/AdminBrowserExtensionPage.jsx
Labels: frontend, admin

feat(extension): unpacked-dev workflow + opt-in signing-key generation
  .gitignore
  client/src/features/admin/pages/AdminBrowserExtensionPage.jsx
  docs/browser-extension.md
  package.json
  server/routes/admin/browserExtension.js
Labels: frontend, backend, documentation, admin, api, dependencies

chore(extension): remove unused ensureSigningKey helper
  server/routes/admin/browserExtension.js
Labels: backend, admin, api

chore(eslint): ignore the unpacked-dev copy at browser-extension/{extension,assets}/
  eslint.config.js
Labels: frontend

fix(cors): always include X-Session-ID + iHub Axios client headers in preflight
  server/middleware/setup.js
  server/routes/admin/cors.js
Labels: backend, auth, admin, api

feat(extension): auto-add chrome-extension origins to CORS + replace IDs textarea with editable list
  client/src/features/admin/pages/AdminBrowserExtensionPage.jsx
  server/routes/admin/browserExtension.js
Labels: frontend, backend, admin, api

fix(extension): make buildApiUrl emit absolute iHub URLs from chrome-extension origin
  client/src/features/extension/installExtensionAuth.js
  client/src/utils/runtimeBasePath.js
Labels: frontend

feat(admin): consolidate integrations into a dedicated /admin/integrations hub
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/admin/pages/AdminHome.jsx
  client/src/features/admin/pages/AdminIntegrationsGoogleDrivePage.jsx
  client/src/features/admin/pages/AdminIntegrationsJiraPage.jsx
  client/src/features/admin/pages/AdminIntegrationsOffice365Page.jsx
  client/src/features/admin/pages/AdminIntegrationsPage.jsx
  client/src/features/admin/pages/AdminProvidersPage.jsx
Labels: frontend, admin

fix(extension): make absolute-URL override cover assets/uploads + recover from malformed baked baseUrl
  client/src/features/extension/installExtensionAuth.js
  client/src/utils/runtimeBasePath.js
  server/routes/admin/browserExtension.js
  server/routes/admin/officeIntegration.js
  server/routes/integrations/browserExtension.js
  server/routes/integrations/officeAddin.js
  server/services/integrations/Office365Service.js
  server/utils/publicBaseUrl.js
Labels: frontend, backend, admin, api

fix: support ldaps:// with self-signed/internal CA certificates for LDAP and NTLM
  client/src/features/admin/components/PlatformFormEditor.jsx
  server/middleware/ntlmAuth.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, auth, admin

fix(extension): defer i18n init + promote <all_urls> to host_permissions
  browser-extension/manifest.json
  client/extension/sidepanel-entry.jsx
  client/src/features/extension/extensionHost.js
Labels: frontend

fix: support ldaps:// with self-signed/internal CA certificates (#1359)
  client/src/features/admin/components/PlatformFormEditor.jsx
  server/middleware/ntlmAuth.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, auth, admin

feat(extension+outlook): per-message host-context toggles under chat input + menu
  client/extension/sidepanel-entry.jsx
  client/office/taskpane-entry.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/contexts/EmbeddedHostContext.jsx
  client/src/features/office/hooks/useOfficeChatAdapter.js
  client/src/shared/hooks/useAppSettings.js
Labels: frontend, chat

fix(extension): drop module-init mimetypes prefetch — fires before baseURL is set
  client/src/features/upload/utils/fileProcessing.js
Labels: frontend

fix(auth): preserve LDAP identity and groups in JWT
  server/middleware/jwtAuth.js
  server/middleware/ldapAuth.js
  server/utils/userManager.js
Labels: backend, auth

fix(auth): preserve LDAP identity and groups in JWT (#1360)
  server/middleware/jwtAuth.js
  server/middleware/ldapAuth.js
  server/utils/userManager.js
Labels: backend, auth

fix(extension): include browser extension in production builds
  build-sea.cjs
  package.json
  server/routes/admin/browserExtension.js
Labels: backend, admin, api, dependencies

fix(extension): include browser extension in production builds (#1361)
  build-sea.cjs
  package.json
  server/routes/admin/browserExtension.js
Labels: backend, admin, api, dependencies

docs(concepts): add Word support extension concept for Outlook add-in
  concepts/2026-04-30 Outlook Add-in Word Support Extension.md
Labels: documentation

fix(http): forward rejectUnauthorized to destination TLS through proxy
  server/utils/httpConfig.js
Labels: backend

test(http): regression test for TlsForwardingHttpsProxyAgent
  server/tests/httpConfig.proxy-tls.test.js
  server/utils/httpConfig.js
Labels: backend, testing

fix(http): forward rejectUnauthorized to destination TLS through proxy (#1363)
  server/tests/httpConfig.proxy-tls.test.js
  server/utils/httpConfig.js
Labels: backend, testing

fix(http): log when SSL bypass is silently skipped
  server/utils/httpConfig.js
Labels: backend

fix(http): log when SSL bypass is silently skipped (#1364)
  server/utils/httpConfig.js
Labels: backend

[WIP] Add option to disable secure cookie flag (#1366)
  client/src/features/admin/components/CookieSettingsConfig.jsx
  client/src/features/admin/pages/AdminSystemPage.jsx
  server/defaults/config/platform.json
  server/middleware/jwtAuth.js
  server/middleware/ntlmAuth.js
  server/middleware/oidcAuth.js
  server/middleware/teamsAuth.js
  server/migrations/V018__add_cookie_settings.js
  server/routes/auth.js
  server/utils/cookieSettings.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, auth, admin, api, i18n

fix(ntlm): wire debug callback and log diagnostic info on 4xx/5xx
  server/middleware/ntlmAuth.js
Labels: backend, auth

fix(ntlm): use configured scheme for 401 challenge and log effective tlsOptions
  server/middleware/ntlmAuth.js
Labels: backend, auth

fix(ntlm): wire debug callback and log diagnostics on 4xx/5xx (#1367)
  server/middleware/ntlmAuth.js
Labels: backend, auth

fix(ifinder): guard empty JWT subject and log payload for debugging
  server/utils/iFinderJwt.js
Labels: backend

fix(ifinder): guard empty JWT subject and log payload for debugging (#1381)
  server/utils/iFinderJwt.js
Labels: backend

Fix iFinder functionality with OIDC enabled (#1376)
  concepts/2026-05-06 iFinder OIDC Keypair Test Fix.md
  server/routes/admin/integrationTest.js
Labels: backend, documentation, admin, api

Fix iFinder integration error when OAuth Server is enabled (#1378)
  client/src/features/admin/components/IFinderConfig.jsx
Labels: frontend, admin

Add iAssistant configuration for app admin (#1380)
  client/src/features/admin/components/AppFormEditor.jsx
  server/adapters/iassistant-conversation.js
  server/services/integrations/ConversationApiService.js
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, chat, api, i18n

Add functionality to download PEM file for OAuth in admin (#1387)
  client/src/features/admin/components/IFinderConfig.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  server/routes/admin/oauthClients.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

Add global variable management for prompts (#1385)
  client/src/App.jsx
  client/src/features/admin/components/GlobalPromptVariablesEditor.jsx
  client/src/features/admin/pages/AdminHome.jsx
  client/src/features/admin/pages/AdminPromptsPage.jsx
  concepts/2026-05-07 Global Prompt Variables Management.md
  docs/platform.md
  server/defaults/config/platform.json
  server/migrations/V034__add_global_prompt_variables_custom_variables.js
  server/services/PromptService.js
Labels: frontend, backend, documentation, admin

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
