Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

feat(a11y): WCAG 2.2 AA tooling and remediation (#1505)
  .github/workflows/accessibility.yml
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ExportDialog.jsx
  client/src/features/upload/components/ImageUploader.jsx
  client/src/shared/components/Layout.jsx
  docs/accessibility.md
  docs/releases/5.4.0/features.md
  eslint.config.js
  package-lock.json
  package.json
  shared/i18n/de.json
  shared/i18n/en.json
  tests/e2e/accessibility.spec.js
Labels: frontend, backend, documentation, github-actions, chat, dependencies, ui, i18n

fix(a11y): meet AA color contrast on setup wizard skip buttons (#1505)
  client/src/features/setup/SetupWizard.jsx
  tests/e2e/accessibility.spec.js
Labels: frontend

feat(a11y): WCAG 2.2 AA tooling and remediation (#1505) (#1559)
  .github/workflows/accessibility.yml
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ExportDialog.jsx
  client/src/features/setup/SetupWizard.jsx
  client/src/features/upload/components/ImageUploader.jsx
  client/src/shared/components/Layout.jsx
  docs/accessibility.md
  docs/releases/5.4.0/features.md
  eslint.config.js
  package-lock.json
  package.json
  shared/i18n/de.json
  shared/i18n/en.json
  tests/e2e/accessibility.spec.js
Labels: frontend, backend, documentation, github-actions, chat, dependencies, ui, i18n

Update audio-transcription.json
  server/defaults/apps/audio-transcription.json
Labels: backend

Fix spurious unsaved-changes prompt after clicking Save
  client/src/features/admin/hooks/useUnsavedChanges.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, admin

Improve MCP admin UX: fix dialog inputs, in-dialog test + tool preview, dedicated MCP tools section in app editor
  client/src/api/endpoints/admin.js
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/McpToolsSelector.jsx
  client/src/features/admin/pages/AdminMcpServersPage.jsx
  client/src/shared/components/ToolsSelector.jsx
  server/routes/admin/mcpServers.js
  server/services/mcp/McpClientManager.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, ui, i18n

Harden MCP gateway: enforce scopes (and workflow/app permissions) at call time
  server/services/mcp/McpServerService.js
Labels: backend

docs: changelog entry for MCP setup, testing, and app tool selection improvements
  docs/releases/5.4.0/features.md
Labels: documentation

Fix spurious "unsaved changes" prompt after clicking Save (#1561)
  client/src/features/admin/hooks/useUnsavedChanges.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, admin

fix: render data table kebab menu in portal to avoid z-index clipping
  client/src/features/admin/components/data-table/DataTableKebabMenu.jsx
Labels: frontend, admin

fix: data table kebab menu hidden behind row action icons (#1560)
  client/src/features/admin/components/data-table/DataTableKebabMenu.jsx
Labels: frontend, admin

Fix chat PDF/HTML export to render markdown properly
  client/src/api/endpoints/apps.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation

Fix chat PDF/HTML export to render markdown properly (#1563)
  client/src/api/endpoints/apps.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation

Fix broken server jest config so the test suite can run
  server/jest.config.js
  server/package.json
  server/tests/mcp/resourceAdapter.test.js
  server/tests/setup.js
Labels: backend, testing, dependencies

docs: add collapsible AttachedFilesList UX/UI design brief
  concepts/attached-files-list-collapse/2026-06-02 AttachedFilesList Collapsible Redesign.md
Labels: documentation

feat(upload): collapsible, height-bounded AttachedFilesList
  client/src/features/upload/components/AttachedFilesList.jsx
  concepts/attached-files-list-collapse/2026-06-02 AttachedFilesList Collapse Redesign.md
  concepts/attached-files-list-collapse/2026-06-02 AttachedFilesList Collapsible Redesign.md
  docs/releases/5.4.0/features.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, i18n

Show which file triggers document size warning on upload
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  docs/releases/5.4.0/features.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

Collapsible AttachedFilesList: fix file upload list pushing chat input off-screen (#1564)
  client/src/features/upload/components/AttachedFilesList.jsx
  concepts/attached-files-list-collapse/2026-06-02 AttachedFilesList Collapse Redesign.md
  docs/releases/5.4.0/features.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, i18n

Improve MCP implementation: dialog fixes, in-dialog testing, app-editor MCP tools (#1562)
  client/src/api/endpoints/admin.js
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/McpToolsSelector.jsx
  client/src/features/admin/pages/AdminMcpServersPage.jsx
  client/src/shared/components/ToolsSelector.jsx
  docs/releases/5.4.0/features.md
  server/jest.config.js
  server/package.json
  server/routes/admin/mcpServers.js
  server/services/mcp/McpClientManager.js
  server/services/mcp/McpServerService.js
  server/tests/mcp/resourceAdapter.test.js
  server/tests/setup.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, testing, dependencies, ui, i18n

Show which file triggers the document size warning on upload (#1565)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  docs/releases/5.4.0/features.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

Strip unsupported JSON Schema keywords from Google tool parameters
  docs/releases/5.4.0/features.md
  server/adapters/toolCalling/GenericToolCalling.js
  server/tests/googleAdapter.test.js
Labels: backend, documentation, chat, api, testing

Fix MCP/JSON Schema tools failing on Google Gemini (400 INVALID_REQUEST) (#1566)
  docs/releases/5.4.0/features.md
  server/adapters/toolCalling/GenericToolCalling.js
  server/tests/googleAdapter.test.js
Labels: backend, documentation, chat, api, testing

Fix chat downloads not rendering tables (#1578)
  client/src/utils/exportFormats.js
Labels: frontend

Fix chat responses marked based on AI knowledge (#1575)
  client/src/features/chat/components/AnswerSourceBadge.jsx
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, i18n

Add support for downloading messages in additional formats (#1577)
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ExportDialog.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, chat, i18n

Add automatic collapse of attachments when sending message (#1580)
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

[WIP] Fix download PDF via print dialog buttons (#1585)
  client/src/App.css
  client/src/features/chat/components/ChatMessage.css
  client/src/features/chat/components/StreamingMarkdown.css
Labels: frontend, chat

fix(workflows): trim state bloat, fix Gemini grounding-URL feedback, polish admin runs table
  client/src/api/agentsAdminApi.js
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/pages/AgentRunsPage.jsx
  client/src/features/admin/pages/WorkflowEditorPage.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/editor/panels/forms/ArrayField.jsx
  client/src/features/workflows/editor/panels/forms/FormField.jsx
  client/src/features/workflows/editor/panels/forms/TransformForm.jsx
  client/src/features/workflows/editor/panels/forms/VerifierForm.jsx
  server/adapters/google.js
  server/adapters/vllm.js
  server/agents/profile/profileWorkflowSerializer.js
  server/defaults/workflows/corpus-analysis-decomposed.json
  server/defaults/workflows/corpus-analysis-direct.json
  server/defaults/workflows/stellungnahmen-review.json
  server/routes/agents/runs.js
  server/services/workflow/DAGScheduler.js
  server/services/workflow/StateManager.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tools/workflowRunner.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, admin, chat, api, tools

feat(workflows): completeness analysis primitives + audit workflows
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  concepts/2026-06-02 Completeness Analysis Workflows.md
  concepts/2026-06-03 Completeness Analysis - Handoff & Open Questions.md
  docs/releases/5.4.0/features.md
  server/defaults/config/tools.json
  server/defaults/workflows/corpus-analysis-decomposed.json
  server/defaults/workflows/corpus-analysis-direct.json
  server/defaults/workflows/stellungnahmen-review.json
  server/migrations/V051__rename_evidence_workflow_nodes.js
  server/services/auditQuotes/index.js
  server/services/auditQuotes/validateQuotes.js
  server/services/structuredRecord/collectStructuredRecord.js
  server/services/structuredRecord/index.js
  server/services/structuredRecord/schemas.js
  server/services/templating/composeReport.js
  server/services/templating/index.js
  server/services/templating/renderTemplate.js
  server/services/workflow/executors/CorpusSearchNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/ProgressNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/QueryPlanNodeExecutor.js
  server/services/workflow/executors/QuoteValidatorNodeExecutor.js
  server/services/workflow/executors/StructuredRecordNodeExecutor.js
  server/services/workflow/executors/TemplateRenderNodeExecutor.js
  server/services/workflow/executors/index.js
  server/tools/evidence.js
  server/tools/workflowRunner.js
  server/validators/evidenceRecordSchema.js
  server/validators/workflowConfigSchema.js
Labels: frontend, backend, documentation, tools

refactor(workflows): inline schema, outputVariable, drop fanout + expose-output
  server/defaults/workflows/corpus-analysis-decomposed.json
  server/defaults/workflows/corpus-analysis-direct.json
  server/defaults/workflows/stellungnahmen-review.json
  server/services/structuredRecord/collectStructuredRecord.js
  server/services/structuredRecord/jsonSchemaToZod.js
  server/services/workflow/executors/StructuredRecordNodeExecutor.js
  server/services/workflow/executors/TemplateRenderNodeExecutor.js
Labels: backend

refactor(workflows): reshape audit workflows as graph cycles
  server/defaults/workflows/corpus-analysis-decomposed.json
  server/defaults/workflows/corpus-analysis-direct.json
  server/defaults/workflows/stellungnahmen-review.json
  server/services/workflow/WorkflowEngine.js
  server/validators/workflowConfigSchema.js
Labels: backend

refactor(workflows): generalize record envelope, single-input prompt, multi-format download + viewer
  client/src/features/admin/pages/AdminAgentApprovalsPage.jsx
  client/src/features/admin/pages/AdminAgentInboxesPage.jsx
  client/src/features/admin/pages/AdminAgentMemoryPage.jsx
  client/src/features/admin/pages/AdminAgentsPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/pages/AgentRunsPage.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/shared/components/MarkdownDownloadMenu.jsx
  client/src/shared/components/MarkdownViewer.jsx
  client/src/shared/utils/markdownExports.js
  server/defaults/config/tools.json
  server/defaults/workflows/corpus-analysis-decomposed.json
  server/defaults/workflows/corpus-analysis-direct.json
  server/defaults/workflows/stellungnahmen-review.json
  server/services/structuredRecord/collectStructuredRecord.js
  server/services/structuredRecord/index.js
  server/services/structuredRecord/recordSchema.js
  server/services/structuredRecord/schemas.js
  server/services/templating/composeReport.js
  server/services/workflow/executors/QuoteValidatorNodeExecutor.js
  server/services/workflow/executors/StructuredRecordNodeExecutor.js
  server/services/workflow/executors/TemplateRenderNodeExecutor.js
  server/tools/evidence.js
  server/tools/workflowRunner.js
  server/validators/evidenceRecordSchema.js
Labels: frontend, backend, admin, tools, ui

feat(chat): descriptive filenames and titles for chat exports
  client/src/api/endpoints/apps.js
  client/src/features/chat/components/ExportDialog.jsx
  client/src/utils/exportFormats.js
Labels: frontend, chat

fix(chat): HTML-escape chat-export document title
  client/src/api/endpoints/apps.js
Labels: frontend

fix(export): make export dialog robust in Outlook and responsive mode
  client/src/api/endpoints/apps.js
  client/src/features/chat/components/ExportDialog.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, chat

fix(export): make export dialog robust in Outlook and responsive mode (#1587)
  client/src/api/endpoints/apps.js
  client/src/features/chat/components/ExportDialog.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, chat

fix(outlook): make Office task pane resolution-aware on small/high-DPI laptops
  client/office/office.css
  client/src/features/chat/components/ChatInput.jsx
  client/src/shared/components/AppCard.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, chat, ui

fix(outlook): make Office task pane resolution-aware on small/high-DPI laptops (#1588)
  client/office/office.css
  client/src/features/chat/components/ChatInput.jsx
  client/src/shared/components/AppCard.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, chat, ui

feat(agents): deterministic memory finalize + plan-and-review loop
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/agents/profile/profileWorkflowSerializer.js
  server/services/workflow/executors/MemoryFinalizeNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/index.js
  server/tests/memoryFinalizeNodeExecutor.test.js
  server/tests/planReviewLoop.test.js
  server/validators/agentProfileSchema.js
Labels: backend, documentation, testing

feat(admin): plan-and-review loop controls in agent profile editor
  client/src/features/admin/pages/AdminAgentEditPage.jsx
Labels: frontend, admin

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
