Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

added gemini 3 models to default
  server/defaults/models/gemini-2.0-flash.json
  server/defaults/models/gemini-2.5-flash-lite.json
  server/defaults/models/gemini-3-flash.json
  server/defaults/models/gemini-3-pro-image.json
  server/defaults/models/gemini-3-pro.json
Labels: backend

remove output.done - this is not a complete event
  server/adapters/toolCalling/OpenAIResponsesConverter.js
Labels: backend, chat, api

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/adapters/openai-responses.js
Labels: backend, chat, api

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/adapters/openai-responses.js
Labels: backend, chat, api

remove output.done - this is not a complete event
  server/adapters/toolCalling/OpenAIResponsesConverter.js
Labels: backend, chat, api

Potential fix for code scanning alert no. 286: Clear-text logging of sensitive information
  tests/oauth-flow-test.js
Labels: none

Implement OAuth 2.0 Client Credentials with Admin UI for external API access (#659)
  OAUTH_IMPLEMENTATION_SUMMARY.md
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  concepts/2026-01-19 OAuth2 Client Credentials External API Authentication.md
  docs/oauth-integration-guide.md
  package-lock.json
  package.json
  server/defaults/config/oauth-clients.json
  server/defaults/config/platform.json
  server/middleware/jwtAuth.js
  server/routes/admin/configs.js
  server/routes/admin/oauthClients.js
  server/routes/adminRoutes.js
  server/routes/oauth.js
  server/server.js
  server/utils/authorization.js
  server/utils/oauthClientManager.js
  server/utils/oauthTokenService.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/oauth-flow-test.js
Labels: frontend, backend, documentation, auth, admin, api, dependencies, i18n

remove output.done - this is not a complete event
  server/adapters/toolCalling/OpenAIResponsesConverter.js
Labels: backend, chat, api

Delete server/tests/openaiResponsesFinishReason.test.js
  server/tests/openaiResponsesFinishReason.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesMessageFormatting.test.js
  server/tests/openaiResponsesMessageFormatting.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesStreamingFunctionCalls.test.js
  server/tests/openaiResponsesStreamingFunctionCalls.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesStrictMode.test.js
  server/tests/openaiResponsesStrictMode.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesStrictMode.test.js
  server/tests/openaiResponsesStrictMode.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesStreamingFunctionCalls.test.js
  server/tests/openaiResponsesStreamingFunctionCalls.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesFinishReason.test.js
  server/tests/openaiResponsesFinishReason.test.js
Labels: backend, testing

Delete server/tests/openaiResponsesMessageFormatting.test.js
  server/tests/openaiResponsesMessageFormatting.test.js
Labels: backend, testing

Add native web search support for GPT-5 via Responses API (#675)
  concepts/2026-01-20 Native Web Search for GPT-5.md
  docs/tools.md
  examples/apps/gpt5-web-search.json
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/defaults/config/tools.json
Labels: backend, documentation, chat, api

Fix Google API error when combining google_search with function calling (#678)
  concepts/2026-01-16 Google Search Grounding.md
  server/adapters/toolCalling/GoogleConverter.js
  server/tests/googleSearchFunctionCallingConflict.test.js
Labels: backend, documentation, chat, api, testing

fix google function calling
  server/adapters/toolCalling/GoogleConverter.js
Labels: backend, chat, api

Fix Gemini 3.0 function calling by preserving tool_calls finishReason (#680)
  docs/gemini3-function-calling-fix.md
  server/adapters/google.js
  server/adapters/toolCalling/GoogleConverter.js
  server/tests/gemini3-converter.test.js
  server/tests/gemini3-tool-calling.test.js
Labels: backend, documentation, chat, api, testing

[WIP] Fix OAuth with long term token not working (#682)
  docs/oauth-integration-guide.md
  server/middleware/ntlmAuth.js
Labels: backend, documentation, auth

added examples to default
  server/defaults/apps/embedded-website-wikipedia.json
  server/defaults/apps/external-website-intrafind.json
  server/defaults/apps/web-chat.json
Labels: backend

Update Node.js version requirement from 20 to 22 (#686)
  .github/workflows/auto-lint-format.yml
  .github/workflows/build-binaries.yml
  .github/workflows/docker-ci.yml
  .github/workflows/mdbook.yml
  .github/workflows/test-suite.yml
  README.md
  docker/Dockerfile
  package.json
  server/defaults/apps/embedded-website-wikipedia.json
  server/defaults/apps/external-website-intrafind.json
  server/defaults/apps/web-chat.json
  server/tests/gemini3-converter.test.js
  server/tests/gemini3-tool-calling.test.js
Labels: backend, documentation, docker, github-actions, testing, dependencies

remove not existing flags
  client/src/features/apps/components/AppCreationWizard.jsx
Labels: frontend

Fix missing app parameter in continueWithToolExecution causing ReferenceError (#693)
  server/services/chat/ToolExecutor.js
Labels: backend

Fix hidden action buttons in Tool Admin table on narrow viewports (#689)
  client/src/features/admin/pages/AdminToolsPage.jsx
  package-lock.json
Labels: frontend, backend, admin, dependencies

Configurable Custom Renderer System + NDA Risk Analyzer Review (#676)
  client/src/features/apps/components/AppCreationWizard.jsx
  client/src/shared/components/CustomResponseRenderer.jsx
  package-lock.json
  server/defaults/apps/nda-risk-analyzer.json
  server/defaults/renderers/nda-results.jsx
  server/renderersLoader.js
  server/routes/rendererRoutes.js
  server/server.js
Labels: frontend, backend, api, dependencies, ui

Add UI configuration for special tool marking (#691)
  client/src/features/admin/components/ToolFormEditor.jsx
  client/src/features/admin/pages/AdminToolEditPage.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, admin, i18n

Code Review: NDA App + Custom Renderer System (#695)
  docs/SUMMARY.md
  docs/custom-renderers.md
  server/defaults/apps/nda-risk-analyzer.json
  server/defaults/renderers/nda-results.jsx
  server/renderersLoader.js
Labels: backend, documentation

[WIP] Fix NDA app rendering errors and issue feedback (#696)
  client/src/features/chat/components/ChatMessage.jsx
  server/defaults/renderers/nda-results.jsx
  server/routes/rendererRoutes.js
Labels: frontend, backend, chat, api

Fix ReactComponentRenderer import statement handling (#697)
  client/src/shared/components/ReactComponentRenderer.jsx
Labels: frontend, ui

Fix empty JSON code block showing during streaming for custom renderers (#698)
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

Fix empty JSON code block rendering before streaming content arrives (#699)
  client/src/features/chat/components/ChatMessage.jsx
Labels: frontend, chat

restored AppFormEditor from Main
  client/src/features/admin/components/AppFormEditor.jsx
Labels: frontend, admin

recreated package-lock
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Configure GitHub Copilot instructions (#701)
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
  .github/instructions/configuration-files.instructions.md
  .github/instructions/react-components.instructions.md
  .github/instructions/server-code.instructions.md
Labels: github-actions, ai-copilot

Nda app (#514)
  .gitignore
  client/package-lock.json
  client/src/features/admin/components/ToolFormEditor.jsx
  client/src/features/apps/components/AppCreationWizard.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/components/GreetingView.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/shared/components/CustomResponseRenderer.jsx
  client/src/shared/components/ReactComponentRenderer.jsx
  client/src/shared/components/renderers/NDAResultsRenderer.jsx
  docs/SUMMARY.md
  docs/custom-renderers.md
  examples/config/ui.json
  package-lock.json
  package.json
  server/defaults/apps/nda-risk-analyzer.json
  server/defaults/config/ui.json
  server/defaults/models/gpt-oss-vllm.json
  server/defaults/pages/de/nda-guide.md
  server/defaults/pages/en/nda-guide.md
  server/defaults/renderers/nda-results.jsx
  server/package-lock.json
  server/renderersLoader.js
  server/routes/rendererRoutes.js
  server/server.js
  server/tests/nda-risk-analyzer.test.js
  server/validators/appConfigSchema.js
  server/validators/modelConfigSchema.js
  test-nda-prompt.js
Labels: frontend, backend, documentation, admin, chat, api, testing, dependencies, ui

Fix structured output schema compatibility for Gemini API (#704)
  server/adapters/google.js
  server/tests/googleAdapter-additionalProperties.test.js
  server/tests/googleAdapter-nda-scenario.test.js
Labels: backend, chat, api, testing

Add search to admin users page (#710)
  client/src/features/admin/pages/AdminUsersPage.jsx
  server/tests/googleAdapter-nda-scenario.test.js
Labels: frontend, backend, admin, testing

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/adapters/google.js
Labels: backend, chat, api
