Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Remove lazy-loaded libs from manualChunks to fix static import leaks
  client/src/App.jsx
  client/vite.config.js
Labels: frontend

docs: add API curl examples cookbook for office integrations
  docs/SUMMARY.md
  docs/oauth-api-examples.md
Labels: documentation

Add comprehensive API curl examples documentation (#1164)
  docs/SUMMARY.md
  docs/oauth-api-examples.md
Labels: documentation

feat: preserve original filename in OCR download with .pdf extension
  client/src/features/tools/pages/PdfOcrPage.jsx
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, api

fix: use adapter-compatible message format for OCR vision calls
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

fix: prevent 413 errors for large PDFs by reducing OCR payload size
  client/src/features/tools/pages/PdfOcrPage.jsx
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, api

feat: add toolsService feature flag to gate OCR/tools-service endpoints
  client/src/App.jsx
  server/defaults/config/features.json
  server/featureRegistry.js
  server/migrations/V020__add_tools_service_feature_flag.js
  server/routes/toolsService/index.js
Labels: frontend, backend, api

feat: add job ownership checks and improve table OCR prompt
  server/routes/toolsService/jobRoutes.js
  server/routes/toolsService/jobStore.js
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

advanced prompt
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

fix: use adapter converter to filter thinking content from OCR output
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

feat: add Unicode font support, auto-download, and comprehensive OCR summaries
  client/src/features/tools/pages/PdfOcrPage.jsx
  server/assets/fonts/LiberationSans-Regular.ttf
  server/package-lock.json
  server/package.json
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, api, dependencies

feat: add PDF OCR endpoint and page for text layer extraction
  client/index.html
  client/src/App.jsx
  client/src/features/tools/pages/PdfOcrPage.jsx
  client/src/utils/runtimeBasePath.js
  server/package-lock.json
  server/package.json
  server/routes/pdfOcr.js
  server/server.js
Labels: frontend, backend, api, dependencies

feat: add auto-download toggle and debug mode for OCR
  client/src/features/tools/pages/PdfOcrPage.jsx
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, api

fix: prevent OCR output duplication and table truncation
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

fix: filter OCR models by user permissions and fail fast on model errors
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

refactor: extract PDF OCR into extensible tools-service architecture
  client/src/features/tools/pages/PdfOcrPage.jsx
  server/routes/pdfOcr.js
  server/routes/toolsService/index.js
  server/routes/toolsService/jobRoutes.js
  server/routes/toolsService/jobStore.js
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
  server/server.js
Labels: frontend, backend, api

package lock
  client/package-lock.json
  examples/oauth-client/package-lock.json
  package-lock.json
  server/package-lock.json
  server/routes/toolsService/ocrRoutes.js
Labels: frontend, backend, api, dependencies

feat: add PDF OCR endpoint and page for text layer extraction (#1158)
  client/index.html
  client/package-lock.json
  client/src/App.jsx
  client/src/features/tools/pages/PdfOcrPage.jsx
  client/src/utils/runtimeBasePath.js
  examples/oauth-client/package-lock.json
  package-lock.json
  server/assets/fonts/LiberationSans-Regular.ttf
  server/defaults/config/features.json
  server/featureRegistry.js
  server/migrations/V020__add_tools_service_feature_flag.js
  server/package-lock.json
  server/package.json
  server/routes/toolsService/index.js
  server/routes/toolsService/jobRoutes.js
  server/routes/toolsService/jobStore.js
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
  server/server.js
Labels: frontend, backend, api, dependencies

feat: overhaul OCR service with server-side rendering, parallelization, smart detection, and multi-doc support
  client/src/App.jsx
  client/src/features/tools/pages/JobListPage.jsx
  client/src/features/tools/pages/OcrPage.jsx
  client/src/features/tools/pages/PdfOcrPage.jsx
  client/src/utils/runtimeBasePath.js
  package-lock.json
  server/featureRegistry.js
  server/package-lock.json
  server/package.json
  server/routes/toolsService/jobRoutes.js
  server/routes/toolsService/jobStore.js
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, api, dependencies

Refactor OCR to server-side PDF rendering and multi-file support (#1165)
  client/src/App.jsx
  client/src/features/tools/pages/JobListPage.jsx
  client/src/features/tools/pages/OcrPage.jsx
  client/src/features/tools/pages/PdfOcrPage.jsx
  client/src/utils/runtimeBasePath.js
  package-lock.json
  server/featureRegistry.js
  server/package-lock.json
  server/package.json
  server/routes/toolsService/jobRoutes.js
  server/routes/toolsService/jobStore.js
  server/routes/toolsService/ocrRoutes.js
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, api, dependencies

added persistence layer concept
  concepts/persistence-layer/2026-03-18 Pluggable Persistence Layer PRD.md
  concepts/persistence-layer/README.md
Labels: documentation

docs: document available SVG icons (#1167)
  concepts/2026-03-20 Document Available SVG Icons.md
  docs/SUMMARY.md
  docs/apps.md
  docs/icons.md
  docs/ui.md
Labels: documentation

chore: add .worktrees/ to .gitignore for git worktree support
  .gitignore
Labels: none

adjusted docs
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
  docs/authentication-architecture.md
  docs/models.md
  docs/rate-limiting.md
Labels: documentation

package log
  package-lock.json
  server/package-lock.json
Labels: backend, dependencies

updated docs
  docs/SUMMARY.md
  docs/ocr-feature.md
Labels: documentation

fix: avoid ReactComponentRenderer recompilation on prop updates
  client/src/shared/components/ReactComponentRenderer.jsx
  concepts/2026-03-25 ReactComponentRenderer Recompilation Fix.md
Labels: frontend, documentation, ui

fix: add appId to handleEvent useCallback dependency array
  client/src/features/chat/hooks/useAppChat.js
Labels: frontend, chat

fix: add appId to handleEvent useCallback dependency array (#1180)
  client/src/features/chat/hooks/useAppChat.js
Labels: frontend, chat

Add Azure Speech continuous recognition support for auto/manual modes (#1183)
  client/src/features/voice/hooks/useVoiceRecognition.js
  client/src/utils/azureRecognitionService.js
  concepts/2026-03-26 Azure Speech Auto vs Manual Mode Fix.md
Labels: frontend, documentation

fix: renumber duplicate migration versions V012/V013 to V021/V022
  server/migrations/V021__header_logo_redesign.js
  server/migrations/V022__enhanced_usage_tracking.js
Labels: backend

fix: XSS sanitization, OCR error abort, and React hook correctness
  client/package-lock.json
  client/package.json
  client/src/features/chat/components/GreetingView.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/pages/UnifiedPage.jsx
  client/src/shared/components/ReactComponentRenderer.jsx
  server/routes/toolsService/processors/ocrProcessor.js
Labels: frontend, backend, chat, api, dependencies, ui

fix: separate JSX compilation from prop-passing in ReactComponentRenderer
  client/src/shared/components/ReactComponentRenderer.jsx
Labels: frontend, ui

fix: add DOMPurify sanitization to StreamingMarkdown and AdminSkillEditPage
  client/src/features/admin/pages/AdminSkillEditPage.jsx
  client/src/features/chat/components/StreamingMarkdown.jsx
Labels: frontend, admin, chat

fix: null out PDF buffer on OCR job error to prevent memory leak
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api

Fix microphone mode validation error in admin UI (#1186)
  client/src/features/admin/components/AppFormEditor.jsx
  server/migrations/V021__migrate_microphone_mode.js
  server/validators/appConfigSchema.js
Labels: frontend, backend, admin

Delete .github/aw directory
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/.github_agents_technical-doc-writer.agent.md
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/skills_documentation_SKILL.md
  .github/aw/imports/github/gh-aw/ac090214a48a1938f7abafe132460b66752261af/.github_workflows_shared_mood.md
Labels: github-actions

Delete .github/workflows/claude.yml
  .github/workflows/claude.yml
Labels: github-actions

fix: bump Node.js from 22 to 24 in build-binaries workflow (#1190)
  .github/workflows/build-binaries.yml
Labels: github-actions

sync package-lock.json
  client/package-lock.json
  package-lock.json
Labels: frontend, backend, dependencies

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
