Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(agent): keep prior-round tasks visible across re-plan rounds
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/tests/agent-plan-accumulation.test.js
Labels: frontend, backend, admin, testing

fix(vllm): stop fatal crash on malformed tool-call args; record task model
  server/adapters/toolCalling/VLLMConverter.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/vllm-toolcall-parse-error.test.js
Labels: backend, chat, api, testing

fix(agent): bubble up partial sub-workflow state on child failure
  server/services/workflow/executors/PlannerNodeExecutor.js
Labels: backend

fix(agent): make configured model durable across the whole run
  server/routes/agents/runs.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/tests/agent-durable-model-config.test.js
Labels: backend, api, testing

fix(agent): version synthesizer artifacts across review rounds
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/agent-artifact-versioning.test.js
Labels: backend, testing

fix: use isMailboxAvailable guard for new email form, not isOutlookMailItemAvailable
  client/src/features/office/utilities/replyForm.js
Labels: frontend

fix: new email button uses wrong Office.js availability guard (#1638)
  client/src/features/office/utilities/replyForm.js
Labels: frontend

fix(office): restore Add email button visibility broken by #1635
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

fix(office): restore Add email button visibility broken by #1635 (#1639)
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

fix: ensure add-email button stays visible with long email subjects
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

fix: ensure add-email button stays visible with long email subjects (#1640)
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

docs(agent): design for configurable per-agent review behavior
  docs/superpowers/specs/2026-06-25-configurable-agent-review-design.md
Labels: documentation

docs(agent): implementation plan for configurable review behavior
  docs/superpowers/plans/2026-06-25-configurable-agent-review.md
Labels: documentation

feat(agent): review strictness presets resolver + schema
  server/agents/profile/reviewSettings.js
  server/tests/agent-review-settings.test.js
  server/validators/agentProfileSchema.js
Labels: backend, testing

feat(agent): verifier acceptance gating from review knobs
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/tests/agent-adversarial-verifier.test.js
Labels: backend, testing

feat(agent): inject review settings onto verifier node + durable state
  server/routes/agents/runs.js
  server/tests/agent-review-injection.test.js
Labels: backend, api, testing

feat(agent): planner no longer emits a final-report task
  server/agents/profile/profileWorkflowSerializer.js
  server/tests/agent-planner-no-final-report.test.js
Labels: backend, testing

feat(admin): review strictness + advanced overrides in agent editor
  client/src/features/admin/pages/AdminAgentEditPage.jsx
Labels: frontend, admin

fix(admin): review override fields default blank + ungate from review.enabled
  client/src/features/admin/pages/AdminAgentEditPage.jsx
Labels: frontend, admin

chore(agent): drop dead default export + unused test import (final-review cleanup)
  server/agents/profile/reviewSettings.js
  server/tests/agent-review-settings.test.js
Labels: backend, testing

docs(agent): plan for agent input-token reduction (proactive compaction)
  docs/superpowers/plans/2026-06-26-agent-input-token-reduction.md
Labels: documentation

fix(agent): derive planner output cap from the model, not a hardcoded 8192
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/tests/planner-maxtokens.test.js
Labels: backend, testing

feat(agent): retry transient LLM errors with backoff in workflow calls
  server/services/workflow/WorkflowLLMHelper.js
  server/tests/workflow-llm-retry.test.js
Labels: backend, testing

feat(agent): threshold-gated proactive message compaction helper
  server/services/workflow/ContextSummarizer.js
  server/tests/agent-context-management.test.js
Labels: backend, testing

feat(agent): proactively compact tool history between rounds
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/agent-loop-proactive-compaction.test.js
Labels: backend, testing

feat(tools): clamp webContentExtractor output to a 10k ceiling
  server/tests/web-content-extractor-cap.test.js
  server/tools/webContentExtractor.js
Labels: backend, testing, tools

Revert "feat(tools): clamp webContentExtractor output to a 10k ceiling"
  server/tests/web-content-extractor-cap.test.js
  server/tools/webContentExtractor.js
Labels: backend, testing, tools

feat(admin): token-usage summary card + per-step tokens + readable adversarial review
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/utils/tokenStats.js
  client/src/features/admin/utils/tokenStats.test.js
Labels: frontend, admin

feat(agent): carry verifier failures into per-round history for readable review
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/tests/agent-audit-trail.test.js
Labels: backend, testing

fix: return admins to their page after mid-session re-login
  client/src/api/adminApi.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation

fix: return admins to their page after mid-session re-login (#1641)
  client/src/api/adminApi.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation

feat(agent): ship claude-style agent profiles + workflows as tracked defaults
  server/defaults/agents/profiles/claude-style-agent-phased.json
  server/defaults/agents/profiles/claude-style-agent.json
  server/defaults/workflows/claude-style-agent-phased.json
  server/defaults/workflows/claude-style-agent.json
  server/tests/agent-phased-workflow.test.js
  server/tests/claude-style-agent-phased-profile.test.js
  server/tests/claude-style-agent-profile.test.js
Labels: backend, testing

Fix MSG file uploads: load mimetypes config and dedupe Outlook MIME type
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/utils/fileProcessing.js
  docs/releases/5.4.0/features.md
  server/defaults/apps/file-analysis.json
  server/defaults/config/mimetypes.json
  server/migrations/V064__dedupe_msg_mimetype.js
Labels: frontend, backend, documentation

Fix MSG file uploads: load mimetypes config and dedupe Outlook MIME type (#1649)
  client/src/features/upload/components/UnifiedUploader.jsx
  client/src/features/upload/utils/fileProcessing.js
  docs/releases/5.4.0/features.md
  server/defaults/apps/file-analysis.json
  server/defaults/config/mimetypes.json
  server/migrations/V064__dedupe_msg_mimetype.js
Labels: frontend, backend, documentation

fix(upload): construct MsgReader across CJS/ESM interop shapes
  client/src/features/upload/utils/fileProcessing.js
Labels: frontend

docs(releases): note MSG files now process after selection
  docs/releases/5.4.0/features.md
Labels: documentation

fix(upload): construct MsgReader across CJS/ESM interop shapes (#1650)
  client/src/features/upload/utils/fileProcessing.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation

docs(concepts): add agentic-OS vision gap analysis vs iHub
  concepts/2026-06-29 Agentic OS Vision — Gap Analysis vs iHub.md
Labels: documentation

Fix .msg body extraction for HTML-only Outlook emails
  client/package-lock.json
  client/package.json
  client/src/features/upload/utils/fileProcessing.js
  docs/file-upload-feature.md
  docs/releases/5.4.0/features.md
  tests/config/jest.setup.js
  tests/unit/client/msg-file-extraction.test.jsx
Labels: frontend, documentation, dependencies

fix(agent): stop phased-run token blowup, dup-id crash, and report hallucinations
  server/agents/profile/profileWorkflowSerializer.js
  server/defaults/workflows/claude-style-agent-phased.json
  server/defaults/workflows/claude-style-agent.json
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/agent-planner-dedupe-task-ids.test.js
  server/tests/agent-run-token-budget.test.js
  server/tests/agent-synthesizer-anti-hallucination.test.js
  server/tests/agent-task-context-bound.test.js
Labels: backend, testing

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
