Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

feat(agent-factory): lifecycle redesign, grounding, observability, downloads
  client/src/features/admin/components/ArtifactDownloadMenu.jsx
  client/src/features/admin/components/ArtifactViewer.jsx
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/utils/artifactDownload.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  concepts/agent-factory/2026-05-20 Agent Lifecycle Redesign.md
  server/adapters/toolCalling/GoogleConverter.js
  server/agents/profile/profileWorkflowSerializer.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/artifactStore.js
  server/agents/runtime/titleGenerator.js
  server/middleware/authRequired.js
  server/migrations/V047__split_planner_synthesizer_and_scrub_orchestration.js
  server/routes/agents/artifacts.js
  server/routes/agents/runs.js
  server/services/workflow/ExecutionRegistry.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/InboxFinalizeNodeExecutor.js
  server/services/workflow/executors/InboxLoadNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/index.js
  server/toolLoader.js
  server/tools/agentTools.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, documentation, auth, admin, chat, api, tools

fix(agent-factory): address CodeQL findings
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/inbox/inboxStore.js
  server/agents/memory/memoryFile.js
  server/agents/runtime/appAsToolGateway.js
  server/routes/admin/agents.js
  server/routes/agents/artifacts.js
  server/tools/agentTools.js
Labels: frontend, backend, admin, api, tools

fix(workflow): break planner sub-workflow state cycle
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/utils/deepMerge.js
Labels: backend

feat(agent-factory): add agent brief, inbox checklist UI
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AdminAgentInboxEditPage.jsx
  client/src/features/admin/pages/AdminAgentInboxesPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin

fix(agent-factory): register agentFactory/appAsTool in featureRegistry
  server/featureRegistry.js
  server/migrations/V042__add_agent_factory.js
Labels: backend

fix(agent-factory): accept empty localized fields on save
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin

fix(agent-factory): wire end-to-end agent runs on Gemini, restructure planner orchestration
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/pages/AgentRunsPage.jsx
  client/src/features/workflows/hooks/useWorkflowExecution.js
  concepts/agent-factory/2026-05-20 V1 Status and Next Steps.md
  examples/agents/profiles/research-and-summarize.json
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/BedrockConverter.js
  server/adapters/toolCalling/GenericToolCalling.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/toolNameValidator.js
  server/agents/profile/profileWorkflowSerializer.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/taskRecord.js
  server/migrations/V044__normalize_agent_planner_task_template.js
  server/migrations/V045__ensure_agent_tools_registered.js
  server/migrations/V046__restore_agent_tools_after_admin_strip.js
  server/routes/admin/tools.js
  server/routes/agents/runs.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tools/agentTools.js
Labels: frontend, backend, documentation, admin, chat, api, tools

feat(apps): add Parliamentary Questions Analyzer app
  client/src/features/chat/components/ChatMessage.jsx
  client/src/shared/components/CustomResponseRenderer.jsx
  server/defaults/apps/parliamentary-questions.json
  server/defaults/renderers/parliamentary-questions-results.jsx
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, ui, i18n

fix(parliamentary-questions): icon-only action buttons
  server/defaults/renderers/parliamentary-questions-results.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, i18n

fix(chat): pass app prop to desktop standard ChatMessageList
  client/src/features/apps/pages/AppChat.jsx
Labels: frontend

Add 'enabled' field to parliamentary questions config
  server/defaults/apps/parliamentary-questions.json
Labels: backend

feat(apps): add Parliamentary Questions Analyzer app (#1530)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/shared/components/CustomResponseRenderer.jsx
  server/defaults/apps/parliamentary-questions.json
  server/defaults/renderers/parliamentary-questions-results.jsx
  server/validators/appConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, chat, ui, i18n

docs: add guide for running iHub Apps with SSL/HTTPS
  docs/SUMMARY.md
  docs/server-config.md
  docs/ssl-https-setup.md
Labels: documentation

docs: add guide for running iHub Apps with SSL/HTTPS (#1532)
  docs/SUMMARY.md
  docs/server-config.md
  docs/ssl-https-setup.md
Labels: documentation

fix(mcp): address Copilot review — auth scoping, SSRF wiring, i18n, a11y
  client/src/features/admin/pages/AdminMcpGatewayPage.jsx
  client/src/features/admin/pages/AdminMcpServersPage.jsx
  docs/mcp-integration.md
  server/migrations/V042__add_mcp_config.js
  server/routes/mcpServer.js
  server/routes/oauthAuthorize.js
  server/services/mcp/McpServerConnection.js
  server/services/mcp/McpServerService.js
  server/services/mcp/permissions.js
  server/services/mcp/resourceAdapter.js
  server/services/mcp/safeFetch.js
  server/tests/mcp/permissions.test.js
  server/validators/mcpServerConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, testing, i18n

fix(mcp): apply per-app tool gating to the A2A path
  server/services/mcp/a2aHandler.js
  server/tests/mcp/a2aHandler.test.js
Labels: backend, testing

fix(iFinder): prevent OS service account leaking into JWT sub via env var collision
  docs/platform.md
  server/configCache.js
  server/migrations/V043__fix_ifinder_jwt_subject_template.js
  server/tests/iFinderJwtSubject-securityBug.test.js
  server/utils/iFinderJwt.js
Labels: backend, documentation, testing

Fix custom template example for user attributes
  docs/platform.md
Labels: documentation

refactor(configCache): make resolveEnvVarsInObject caller-driven via skipPaths option
  server/configCache.js
  server/tests/iFinderJwtSubject-securityBug.test.js
  server/utils/iFinderJwt.js
Labels: backend, testing

fix(ntlm): read domain from ntlmUser.DomainName so domain\username template works
  server/middleware/ntlmAuth.js
  server/tests/ntlmAuth-domain.test.js
Labels: backend, auth, testing

fix(iFinder): prevent OS service account leaking into JWT sub via env var collision (#1536)
  docs/platform.md
  server/configCache.js
  server/middleware/ntlmAuth.js
  server/migrations/V043__fix_ifinder_jwt_subject_template.js
  server/tests/iFinderJwtSubject-securityBug.test.js
  server/tests/ntlmAuth-domain.test.js
  server/utils/iFinderJwt.js
Labels: backend, documentation, auth, testing

Fix settings dialog translation issue in Outlook (#1547)
  client/src/features/office/components/settings-dialog/index.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, i18n

Update email pane to always show 'Add this mail' when collapsed (#1549)
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
Labels: frontend

Fix translation for Show Task Pane in Outlook (#1550)
  server/routes/integrations/officeAddin.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, api, i18n

Fix issue with deleting username attribute in LDAP provider (#1538)
  client/src/features/admin/components/PlatformFormEditor.jsx
Labels: frontend, admin

feat(auth): autofocus login fields and add "Remember me" for username
  client/src/features/auth/components/LoginForm.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, auth, i18n

feat(auth): autofocus login fields and add Remember me (#1540)
  client/src/features/auth/components/LoginForm.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, auth, i18n

fix(office365): avoid Entra ID admin consent for personal-OneDrive-only setups
  docs/office365-integration.md
  server/services/integrations/Office365Service.js
  server/tests/office365-scope-build.test.js
Labels: backend, documentation, testing

fix(office365): avoid Entra ID admin consent for personal-OneDrive-only setups (#1539)
  docs/office365-integration.md
  server/services/integrations/Office365Service.js
  server/tests/office365-scope-build.test.js
Labels: backend, documentation, testing

fix(outlook): consolidate email pin controls into one "Add email(s)" button (#1553)
  client/office/taskpane-entry.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, i18n

fix(outlook): consolidate email pin controls into one "Add email(s)" button (#1553) (#1554)
  client/office/taskpane-entry.jsx
  client/src/features/office/components/OfficeChatPanel.jsx
  client/src/features/office/components/PinnedEmailsBar.jsx
  client/src/features/office/components/chat/OfficeContextStrip.jsx
  server/routes/integrations/officeAddin.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, api, i18n

Fix local login issue after fresh installation on Linux and Windows (#1552)
  concepts/2026-05-29 Local Login Cookie Secure Flag Fix.md
  server/middleware/jwtAuth.js
  server/middleware/ntlmAuth.js
  server/middleware/oidcAuth.js
  server/middleware/teamsAuth.js
  server/routes/auth.js
  server/utils/cookieSettings.js
Labels: backend, documentation, auth, api

chore(docs): add document-feature skill and 5.4.0 release notes
  .claude/skills/document-feature/SKILL.md
  CLAUDE.md
  docs/releases/5.4.0/breaking-changes.md
  docs/releases/5.4.0/features.md
Labels: documentation

fix(admin): address review findings — a11y, persistent highlight, simpler splits
  client/src/features/admin/components/AdminFormErrorSummary.jsx
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/GroupFormEditor.jsx
  client/src/features/admin/components/ModelFormEditor.jsx
  client/src/features/admin/components/PromptFormEditor.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/components/data-table/DataTable.jsx
  client/src/features/admin/components/data-table/DataTableCell.jsx
  client/src/features/admin/components/data-table/DataTableHeader.jsx
  client/src/features/admin/components/data-table/DataTableKebabMenu.jsx
  client/src/features/admin/components/data-table/DataTableRowActions.jsx
  client/src/features/admin/components/formValidationContext.jsx
  client/src/shared/components/DynamicLanguageEditor.jsx
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, admin, ui

feat(admin): unified DataTable + migrate all 12 admin list pages
  client/src/features/admin/components/data-table/DataTable.jsx
  client/src/features/admin/components/data-table/DataTableBody.jsx
  client/src/features/admin/components/data-table/DataTableCell.jsx
  client/src/features/admin/components/data-table/DataTableEmpty.jsx
  client/src/features/admin/components/data-table/DataTableHeader.jsx
  client/src/features/admin/components/data-table/DataTableKebabMenu.jsx
  client/src/features/admin/components/data-table/DataTableLoadingRows.jsx
  client/src/features/admin/components/data-table/DataTablePagination.jsx
  client/src/features/admin/components/data-table/DataTableRow.jsx
  client/src/features/admin/components/data-table/DataTableRowActions.jsx
  client/src/features/admin/components/data-table/filters/FilterSelect.jsx
  client/src/features/admin/components/data-table/filters/SearchInput.jsx
  client/src/features/admin/components/data-table/index.js
  client/src/features/admin/components/data-table/useTablePagination.js
  client/src/features/admin/components/data-table/useTableSort.js
  client/src/features/admin/pages/AdminAgentsPage.jsx
  client/src/features/admin/pages/AdminAppsPage.jsx
  client/src/features/admin/pages/AdminAuditLogPage.jsx
  client/src/features/admin/pages/AdminGroupsPage.jsx
  client/src/features/admin/pages/AdminModelsPage.jsx
  client/src/features/admin/pages/AdminPagesPage.jsx
  client/src/features/admin/pages/AdminPromptsPage.jsx
  client/src/features/admin/pages/AdminShortLinks.jsx
  client/src/features/admin/pages/AdminSourcesPage.jsx
  client/src/features/admin/pages/AdminToolsPage.jsx
  client/src/features/admin/pages/AdminUsersPage.jsx
  client/src/features/admin/pages/AdminWorkflowsPage.jsx
  client/src/shared/components/Icon.jsx
Labels: frontend, admin, ui

fix(setup): escape apostrophe in step3 i18n strings + wire AdminFormErrorSummary
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/GroupFormEditor.jsx
  client/src/features/admin/components/ModelFormEditor.jsx
  client/src/features/admin/components/PromptFormEditor.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/setup/SetupWizard.jsx
  client/src/shared/components/DynamicLanguageEditor.jsx
Labels: frontend, admin, ui

feat(admin): page shells, OAuth tabs, integration hub, audit retention, recent activity
  client/src/features/admin/components/AdminFormErrorSummary.jsx
  client/src/features/admin/components/AdminIntegrationHubPage.jsx
  client/src/features/admin/components/AdminListPage.jsx
  client/src/features/admin/components/AdminSettingsPage.jsx
  client/src/features/admin/components/AdminTabs.jsx
  client/src/features/admin/components/OAuthTabsHeader.jsx
  client/src/features/admin/hooks/useOverviewData.js
  client/src/features/admin/pages/AdminAuditLogPage.jsx
  client/src/features/admin/pages/AdminIntegrationsPage.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  client/src/features/admin/pages/AdminOverview.jsx
  client/src/features/admin/pages/AdminSecurityPage.jsx
  docs/releases/5.4.0/features.md
  server/migrations/V049__add_audit_log_retention.js
  server/routes/admin/auditLog.js
  server/server.js
  server/services/AuditLogService.js
Labels: frontend, backend, documentation, admin, api

docs: admin UI guide, Phase 3 release notes, and SUMMARY index update
  docs/SUMMARY.md
  docs/admin-ui.md
  docs/releases/5.4.0/features.md
Labels: documentation

fix(admin): clickable + highlighted form validation errors for localized fields
  client/src/App.css
  client/src/features/admin/components/AdminFormErrorSummary.jsx
  client/src/shared/components/DynamicLanguageEditor.jsx
Labels: frontend, admin, ui

style(mcp): format admin pages after layout migration
  client/src/features/admin/pages/AdminMcpGatewayPage.jsx
  client/src/features/admin/pages/AdminMcpServersPage.jsx
Labels: frontend, admin

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
