Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

chore: add .worktrees/ to .gitignore for git worktree support
  .gitignore
Labels: none

feat: agentic workflow platform with 8 new node types, triggers, and visual editor
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/features/admin/pages/WorkflowEditorPage.jsx
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/edges/ConditionalEdge.jsx
  client/src/features/workflows/editor/nodes/WorkflowNode.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/editor/workflowEditorUtils.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
  package-lock.json
  package.json
  server/package-lock.json
  server/routes/workflow/index.js
  server/routes/workflow/triggerRoutes.js
  server/routes/workflow/workflowRoutes.js
  server/server.js
  server/services/workflow/ContextSummarizer.js
  server/services/workflow/StateManager.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/AgentNodeExecutor.js
  server/services/workflow/executors/CodeNodeExecutor.js
  server/services/workflow/executors/HttpNodeExecutor.js
  server/services/workflow/executors/JoinNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/ParallelNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/services/workflow/executors/index.js
  server/services/workflow/triggers/ScheduleTrigger.js
  server/services/workflow/triggers/TriggerManager.js
  server/services/workflow/triggers/WebhookTrigger.js
  server/services/workflow/triggers/index.js
  server/validators/workflowConfigSchema.js
Labels: frontend, backend, admin, api, dependencies

style: fix trailing whitespace in README.md
  README.md
Labels: documentation

fix: auto-detect base path from X-Forwarded-Prefix header (#1137)
  README.md
  client/src/utils/runtimeBasePath.js
  docker/Dockerfile
  docker/docker-compose.yml
  docs/AUTHENTICATION_QUICK_START.md
  docs/authentication-architecture.md
  docs/production-reverse-proxy-guide.md
  docs/server-config.md
  server/middleware/setup.js
  server/server.js
  server/utils/basePath.js
Labels: frontend, backend, documentation, docker, auth

chore: update version to fix-issue-1137-lVuXg for release fix-issue-1137-lVuXg
  client/package.json
  docs/README.md
  docs/theme/head.hbs
  package.json
  server/package.json
Labels: frontend, backend, documentation, dependencies

Fix auth method display order to respect primary auth mode (#1145)
  README.md
  client/src/auth-gate/auth-gate.js
  client/src/features/auth/components/LoginForm.jsx
  concepts/2026-03-12 Auth Method Ordering Fix.md
Labels: frontend, documentation, auth

Decouple OAuth Clients from OAuth Authorization Server (#1143)
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  docs/platform.md
  server/defaults/config/platform.json
  server/middleware/jwtAuth.js
  server/middleware/setup.js
  server/migrations/V019__add_oauth_clients_enabled.js
  server/routes/admin/oauthClients.js
  server/routes/oauth.js
  server/routes/oauthAuthorize.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, auth, admin, api, i18n

fix: SVG icons, auth dialog logo, and manifest.json for subpath deployments (#1141)
  client/index.html
  client/src/auth-gate/auth-gate.js
  client/src/shared/components/Icon.jsx
  package-lock.json
Labels: frontend, backend, dependencies, ui

chore: update version to fix-issue-1137-lVuXg for release fix-issue-1137-lVuXg
  client/package.json
  docs/README.md
  docs/theme/head.hbs
  package.json
  server/package.json
Labels: frontend, backend, documentation, dependencies

fix: auto-detect base path from X-Forwarded-Prefix header (#1137)
  client/src/utils/runtimeBasePath.js
  docker/Dockerfile
  docker/docker-compose.yml
  docs/AUTHENTICATION_QUICK_START.md
  docs/authentication-architecture.md
  docs/production-reverse-proxy-guide.md
  docs/server-config.md
  server/middleware/setup.js
  server/server.js
  server/utils/basePath.js
Labels: frontend, backend, documentation, docker, auth

Simplify base path detection: auto-detect from X-Forwarded-Prefix header (#1140)
  client/index.html
  client/package.json
  client/src/auth-gate/auth-gate.js
  client/src/shared/components/Icon.jsx
  client/src/utils/runtimeBasePath.js
  docker/Dockerfile
  docker/docker-compose.yml
  docs/AUTHENTICATION_QUICK_START.md
  docs/README.md
  docs/authentication-architecture.md
  docs/production-reverse-proxy-guide.md
  docs/server-config.md
  docs/theme/head.hbs
  package-lock.json
  package.json
  server/middleware/setup.js
  server/package.json
  server/server.js
  server/utils/basePath.js
Labels: frontend, backend, documentation, docker, auth, dependencies, ui

[WIP] Fix missing icons and translations (#1148)
  client/package-lock.json
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/shared/components/Icon.jsx
  server/package-lock.json
  server/routes/oauth.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, dependencies, ui, i18n

Fix missing icon mappings and broken test source button in admin (#1151)
  client/src/features/admin/pages/AdminSourcesPage.jsx
  client/src/shared/components/Icon.jsx
  server/routes/oauth.js
Labels: frontend, backend, admin, api, ui

Fix onboarding wizard restart after login in nginx/subpath deployments (#1153)
  client/src/features/setup/SetupWizard.jsx
  concepts/2026-03-12 Onboarding Wizard Base Path Fix.md
Labels: frontend, documentation

chore: add .worktrees/ to .gitignore
  .gitignore
Labels: none

fix: add missing component metadata in logger calls
  server/routes/admin/apps.js
  server/routes/admin/providers.js
Labels: backend, admin, api

refactor: replace console.* with structured logger in 12 server files
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/routes/admin/apps.js
  server/routes/admin/providers.js
  server/routes/themeRoutes.js
  server/server.js
  server/services/WebSearchService.js
  server/services/chat/RequestBuilder.js
  server/services/chat/ToolExecutor.js
  server/services/workflow/executors/AgentNodeExecutor.js
  server/telemetry.js
  server/utils/providerMigration.js
Labels: backend, admin, chat, api

refactor: normalize logger metadata in server/routes
  server/routes/admin/auth.js
  server/routes/admin/backup.js
  server/routes/admin/cache.js
  server/routes/admin/configs.js
  server/routes/admin/groups.js
  server/routes/admin/logging.js
  server/routes/admin/models.js
  server/routes/admin/oauthClients.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/routes/admin/sources.js
  server/routes/admin/ssl.js
  server/routes/admin/tools.js
  server/routes/admin/translate.js
  server/routes/admin/ui.js
  server/routes/admin/update.js
  server/routes/admin/usage.js
  server/routes/admin/version.js
  server/routes/auth.js
  server/routes/chat/conversationRoutes.js
  server/routes/chat/sessionRoutes.js
  server/routes/generalRoutes.js
  server/routes/integrations/jira.js
  server/routes/magicPromptRoutes.js
  server/routes/oauth.js
  server/routes/oauthAuthorize.js
  server/routes/openaiProxy.js
  server/routes/pageRoutes.js
  server/routes/rendererRoutes.js
  server/routes/sessionRoutes.js
  server/routes/shortLinkRoutes.js
  server/routes/skillRoutes.js
  server/routes/toolRoutes.js
Labels: backend, auth, admin, chat, api

fix: normalize remaining bare error.message logger calls in routes
  server/routes/admin/backup.js
  server/routes/admin/configs.js
  server/routes/integrations/ifinder.js
  server/routes/integrations/jira.js
  server/routes/oauth.js
  server/routes/oauthAuthorize.js
Labels: backend, admin, api

refactor: fix remaining logger call issues found during verification
  server/services/UsageAggregator.js
  server/services/chat/ToolExecutor.js
  server/services/integrations/GoogleDriveService.js
  server/services/marketplace/RegistryService.js
Labels: backend

fix(routes): normalize logger calls in server/routes/ to standard style
  server/routes/admin/auth.js
  server/routes/admin/backup.js
  server/routes/admin/configs.js
  server/routes/admin/groups.js
  server/routes/admin/prompts.js
  server/routes/admin/skills.js
  server/routes/admin/ssl.js
  server/routes/admin/tools.js
  server/routes/admin/update.js
  server/routes/auth.js
  server/routes/integrations/googledrive.js
  server/routes/integrations/ifinder.js
  server/routes/integrations/jira.js
  server/routes/integrations/office365.js
  server/routes/oauth.js
  server/routes/oauthAuthorize.js
  server/routes/openaiProxy.js
  server/routes/sessionRoutes.js
Labels: backend, auth, admin, api

refactor: normalize logger calls in server/services/ to standard string-first format
  server/services/chat/ToolExecutor.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/AgentNodeExecutor.js
Labels: backend

fix: address code quality issues in routes logger calls
  server/routes/admin/backup.js
  server/routes/auth.js
  server/routes/integrations/jira.js
  server/routes/openaiProxy.js
  server/routes/toolRoutes.js
Labels: backend, auth, admin, api

refactor: normalize logger calls in server/adapters/ and server/middleware/
  server/adapters/BaseAdapter.js
  server/adapters/anthropic.js
  server/adapters/google.js
  server/adapters/iassistant-conversation.js
  server/adapters/mistral.js
  server/adapters/openai-responses.js
  server/adapters/openai.js
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/MistralConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/adapters/toolCalling/VLLMConverter.js
  server/adapters/vllm.js
  server/middleware/adminAuth.js
  server/middleware/jwtAuth.js
  server/middleware/ldapAuth.js
  server/middleware/localAuth.js
  server/middleware/ntlmAuth.js
  server/middleware/oidcAuth.js
  server/middleware/proxyAuth.js
  server/middleware/setup.js
  server/middleware/teamsAuth.js
Labels: backend, auth, chat, api

fix: complete arrow-to-function conversion in chat/apps/prompts
  client/src/features/apps/components/AppConfigForm.jsx
  client/src/features/apps/components/SharedAppHeader.jsx
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ChatHeader.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/components/ChatMessageList.jsx
  client/src/features/chat/components/ClarificationCard.jsx
  client/src/features/chat/components/ClarificationChips.jsx
  client/src/features/chat/components/ClarificationDropdown.jsx
  client/src/features/chat/components/ClarificationInput.jsx
  client/src/features/chat/components/ClarificationResponse.jsx
  client/src/features/chat/components/ImageGenerationControls.jsx
  client/src/features/chat/components/ModelSelector.jsx
  client/src/features/prompts/components/PromptSearch.jsx
Labels: frontend, chat

refactor: standardize error responses using responseHelpers
  server/routes/admin/apps.js
  server/routes/admin/auth.js
  server/routes/admin/backup.js
  server/routes/admin/cache.js
  server/routes/admin/configs.js
  server/routes/admin/features.js
  server/routes/admin/groups.js
  server/routes/admin/logging.js
  server/routes/admin/marketplace.js
  server/routes/admin/models.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/providers.js
  server/routes/admin/schemas.js
  server/routes/admin/skills.js
  server/routes/admin/ssl.js
  server/routes/admin/tools.js
  server/routes/admin/translate.js
  server/routes/admin/update.js
  server/routes/admin/usage.js
  server/routes/admin/version.js
  server/routes/auth.js
  server/routes/chat/conversationRoutes.js
  server/routes/chat/dataRoutes.js
  server/routes/chat/feedbackRoutes.js
  server/routes/chat/sessionRoutes.js
  server/routes/generalRoutes.js
  server/routes/integrations/googledrive.js
  server/routes/integrations/ifinder.js
  server/routes/integrations/jira.js
  server/routes/integrations/office365.js
  server/routes/pwaRoutes.js
  server/routes/rendererRoutes.js
  server/routes/sessionRoutes.js
  server/routes/wellKnown.js
Labels: backend, auth, admin, chat, api

refactor: convert arrow components to function declarations in shared/
  client/src/shared/components/CustomResponseRenderer.jsx
  client/src/shared/components/DarkModeToggle.jsx
  client/src/shared/components/DisclaimerPopup.jsx
  client/src/shared/components/DocumentTitle.jsx
  client/src/shared/components/ErrorBoundary.jsx
  client/src/shared/components/Icon.jsx
  client/src/shared/components/IconPicker.jsx
  client/src/shared/components/LanguageSelector.jsx
  client/src/shared/components/Layout.jsx
  client/src/shared/components/LoadingSpinner.jsx
  client/src/shared/components/MagicPromptLoader.jsx
  client/src/shared/components/MarkdownRenderer.jsx
  client/src/shared/components/ModelDetailsPopup.jsx
  client/src/shared/components/ReactComponentRenderer.jsx
  client/src/shared/components/ShortLinkDetailsPopup.jsx
  client/src/shared/components/SkillsSelector.jsx
  client/src/shared/components/SmartSearch.jsx
  client/src/shared/components/ToolsSelector.jsx
  client/src/shared/components/integrations/IntegrationAuthPrompts.jsx
  client/src/shared/components/renderers/NDAResultsRenderer.jsx
  client/src/shared/contexts/PlatformConfigContext.jsx
  client/src/shared/contexts/UIConfigContext.jsx
  client/src/shared/hooks/useAppSettings.js
  client/src/shared/hooks/useClipboard.js
  client/src/shared/hooks/useFileUploadHandler.js
  client/src/shared/hooks/useMagicPrompt.js
  client/src/shared/hooks/useOAuthCallbackCleanup.js
  client/src/shared/hooks/useSessionManagement.js
Labels: frontend, ui

fix: normalize logger calls in server/utils/, server/tools/, migrations, validators, and root files
  server/configCache.js
  server/migrations/runner.js
  server/sse.js
  server/utils/ApiKeyVerifier.js
  server/utils/adminRescue.js
  server/utils/authorization.js
  server/utils/authorizationCodeStore.js
  server/utils/consentStore.js
  server/utils/oauthTokenService.js
  server/utils/providerMigration.js
  server/utils/refreshTokenStore.js
  server/utils/rehashPasswords.js
  server/utils/resourceLoader.js
  server/utils/responseHelpers.js
  server/utils/setupUtils.js
  server/utils/sourceDependencyTracker.js
  server/utils/tokenService.js
  server/utils/userManager.js
  server/utils/versionHelper.js
  server/validators/mimetypeConfigSchema.js
  server/validators/sourceConfigSchema.js
Labels: backend, auth

fix: convert last inline 409 responses to responseHelpers
  server/routes/shortLinkRoutes.js
  server/routes/workflow/workflowRoutes.js
Labels: backend, api

refactor: convert arrow components to function declarations in chat/apps/prompts
  client/src/features/apps/components/AppCreationWizard.jsx
  client/src/features/apps/components/AppDetailsPopup.jsx
  client/src/features/apps/components/AppProviders.jsx
  client/src/features/apps/components/AppRouterWrapper.jsx
  client/src/features/apps/components/AppShareModal.jsx
  client/src/features/apps/components/AppTemplateSelector.jsx
  client/src/features/apps/components/SearchableAppsSelector.jsx
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/apps/pages/IframeApp.jsx
  client/src/features/apps/pages/RedirectApp.jsx
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  client/src/features/chat/components/CitationPanel.jsx
  client/src/features/chat/components/ExportConversationMenu.jsx
  client/src/features/chat/components/ExportDialog.jsx
  client/src/features/chat/components/GreetingView.jsx
  client/src/features/chat/components/InputVariables.jsx
  client/src/features/chat/components/MessageVariables.jsx
  client/src/features/chat/components/ModelHintBanner.jsx
  client/src/features/chat/components/NoMessagesView.jsx
  client/src/features/chat/components/StarterPromptsView.jsx
  client/src/features/chat/components/StreamingMarkdown.jsx
  client/src/features/chat/components/WorkflowStepIndicator.jsx
  client/src/features/chat/hooks/useIntegrationAuth.js
  client/src/features/prompts/components/PromptDetailsPopup.jsx
  client/src/features/prompts/components/PromptModal.jsx
  client/src/features/prompts/pages/PromptsList.jsx
Labels: frontend, chat

fix: complete error response standardization in partially-converted files
  server/routes/admin/backup.js
  server/routes/admin/models.js
  server/routes/admin/prompts.js
  server/routes/chat/dataRoutes.js
  server/routes/chat/sessionRoutes.js
  server/routes/generalRoutes.js
Labels: backend, admin, chat, api

refactor: convert arrow components to function declarations in remaining features
  client/src/features/auth/components/LoginForm.jsx
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/features/canvas/components/CanvasVoiceInput.jsx
  client/src/features/canvas/components/ExportMenu.jsx
  client/src/features/canvas/components/FloatingToolbox.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  client/src/features/settings/pages/IntegrationsPage.jsx
  client/src/features/upload/components/AttachedFilesList.jsx
  client/src/features/upload/components/GoogleDriveFileBrowser.jsx
  client/src/features/upload/components/ImageUploader.jsx
  client/src/features/voice/components/VoiceInputButton.jsx
  client/src/pages/LoginPage.jsx
  client/src/pages/UnifiedPage.jsx
  client/src/pages/error/Forbidden.jsx
  client/src/pages/error/NotFound.jsx
  client/src/pages/error/ServerError.jsx
  client/src/pages/error/Unauthorized.jsx
Labels: frontend, auth

fix: convert remaining arrow components in App.jsx
  client/src/App.jsx
Labels: frontend

chore: update lock files
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

refactor: commit remaining logger normalization and error response changes
  server/routes/magicPromptRoutes.js
  server/routes/pageRoutes.js
  server/routes/skillRoutes.js
  server/routes/staticRoutes.js
  server/routes/swagger.js
  server/routes/toolRoutes.js
  server/services/SourceResolutionService.js
  server/services/TokenStorageService.js
  server/services/UserFingerprint.js
  server/services/chat/ChatService.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/RequestBuilder.js
  server/services/chat/StreamingHandler.js
  server/services/integrations/ConversationApiService.js
  server/services/integrations/ConversationStateManager.js
  server/services/integrations/EntraService.js
  server/services/integrations/JiraService.js
  server/services/integrations/iFinderService.js
  server/services/skillLoader.js
  server/services/workflow/DAGScheduler.js
  server/services/workflow/StateManager.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/DecisionNodeExecutor.js
  server/services/workflow/executors/EndNodeExecutor.js
  server/services/workflow/executors/HumanNodeExecutor.js
  server/services/workflow/executors/StartNodeExecutor.js
  server/services/workflow/executors/ToolNodeExecutor.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/tools/askUser.js
  server/tools/braveSearch.js
  server/tools/enhancedWebSearch.js
  server/tools/jira.js
  server/tools/tavilySearch.js
  server/tools/webContentExtractor.js
  server/utils/ErrorHandler.js
  server/utils/authDebugService.js
  server/utils/basePath.js
  server/utils/httpConfig.js
  server/utils/oauthClientManager.js
Labels: backend, api, tools

fix: correct error variable reference in jwtAuth logger call
  server/middleware/jwtAuth.js
Labels: backend, auth

Defer font loading until after auth gate authentication (~500KB saved)
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/vite-plugins/vite-plugin-auth-gate.js
Labels: frontend

chore: update lockfiles after dependency install
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Optimize initial bundle: lazy-load AppCanvas, conditional Teams, filter modulePreload
  client/src/App.jsx
  client/vite.config.js
Labels: frontend

Defer font stylesheets and styles until after authentication (#1156)
  client/package-lock.json
  client/src/App.jsx
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/vite-plugins/vite-plugin-auth-gate.js
  client/vite.config.js
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
