Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

fix(agents): set execution.timeout on review-loop wrapper
  server/agents/profile/profileWorkflowSerializer.js
  server/tests/planReviewLoop.test.js
Labels: backend, testing

refactor(agents): split memory write into explicit memory-compose step
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/planReviewLoop.test.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin, testing

fix(agents): plan-and-review loop observability + Gemini structured output + decomposition
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  docs/releases/5.4.0/features.md
  server/adapters/google.js
  server/agents/profile/profileWorkflowSerializer.js
  server/migrations/V052__rebuild_embedded_agent_workflows.js
  server/migrations/V053__fix_inbox_item_text_accessor.js
  server/migrations/V054__clear_stale_planner_system_overrides.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/MemoryFinalizeNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
Labels: frontend, backend, documentation, admin, chat, api

fix(agents): address Copilot PR review findings
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/MemoryFinalizeNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/memoryFinalizeNodeExecutor.test.js
Labels: backend, documentation, testing

Add standard iHub Documentation knowledge source
  docs/releases/5.4.0/features.md
  docs/sources.md
  scripts/build-documentation-source.js
  server/defaults/config/sources.json
  server/defaults/sources/ihub-documentation.md
  server/migrations/V052__add_ihub_documentation_source.js
Labels: backend, documentation, tools

fix(agents): address PR review — per-task tools, dependsOn cross-round, parse-failure, JSON-safe previews, migration safety
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/agents/profile/profileWorkflowSerializer.js
  server/migrations/V052__rebuild_embedded_agent_workflows.js
  server/migrations/V054__clear_stale_planner_system_overrides.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/MemoryFinalizeNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/memoryFinalizeNodeExecutor.test.js
  server/tests/planReviewLoop.test.js
Labels: backend, documentation, testing

feat(agents): deterministic memory finalize + plan-and-review loop (#1589)
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/adapters/google.js
  server/agents/profile/profileWorkflowSerializer.js
  server/migrations/V052__rebuild_embedded_agent_workflows.js
  server/migrations/V053__fix_inbox_item_text_accessor.js
  server/migrations/V054__clear_stale_planner_system_overrides.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/MemoryFinalizeNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/index.js
  server/tests/memoryFinalizeNodeExecutor.test.js
  server/tests/planReviewLoop.test.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, documentation, admin, chat, api, testing

Generate iHub Documentation source at build time instead of committing it
  .gitignore
  docs/releases/5.4.0/features.md
  docs/sources.md
  package.json
  scripts/build-documentation-source.js
  scripts/export-docs-markdown.js
  server/defaults/sources/ihub-documentation.md
  server/migrations/V052__add_ihub_documentation_source.js
Labels: backend, documentation, dependencies, tools

Refresh build-managed documentation source on every startup
  docs/sources.md
  server/migrations/V052__add_ihub_documentation_source.js
  server/utils/setupUtils.js
Labels: backend, documentation

Add standard iHub Documentation knowledge source (#1591)
  .gitignore
  docs/releases/5.4.0/features.md
  docs/sources.md
  package.json
  scripts/export-docs-markdown.js
  server/defaults/config/sources.json
  server/migrations/V052__add_ihub_documentation_source.js
  server/utils/setupUtils.js
Labels: backend, documentation, dependencies, tools

feat(workflows): Stellungnahmen review from iFinder + admin-driven corpus discovery
  docs/iFinder-Integration.md
  docs/releases/5.4.0/features.md
  server/defaults/config/platform.json
  server/defaults/config/tools.json
  server/defaults/workflows/stellungnahmen-review-ifinder.json
  server/routes/admin/agents.js
  server/services/integrations/iFinderService.js
  server/services/workflow/executors/CorpusSearchNodeExecutor.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/tests/iFinderService.discover.test.js
  server/tools/iFinder.js
Labels: backend, documentation, admin, api, testing, tools

feat(ifinder): default discover facets to iFinder's .keyword fields
  server/defaults/config/tools.json
  server/services/integrations/iFinderService.js
  server/tests/iFinderService.discover.test.js
Labels: backend, testing

docs: drop stale allow-list reference in release notes
  docs/releases/5.4.0/features.md
Labels: documentation

fix: address Copilot review on PR #1590
  server/routes/admin/agents.js
  server/services/workflow/executors/CorpusSearchNodeExecutor.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, admin, api, i18n

refactor(admin): drop adminMemoryBuilderTools allow-list
  docs/iFinder-Integration.md
  docs/releases/5.4.0/features.md
  server/defaults/config/platform.json
  server/routes/admin/agents.js
Labels: backend, documentation, admin, api

feat(admin-ui): build memory section from any registered tool
  client/src/api/agentsAdminApi.js
  client/src/features/admin/pages/AdminAgentMemoryPage.jsx
Labels: frontend, admin

fix(tools): make source tools work in source-only apps
  server/sources/SourceManager.js
  server/toolLoader.js
Labels: backend

rename version
  server/migrations/V055__add_ihub_documentation_source.js
Labels: backend

added admin rework
  concepts/2026-05-28 Admin UI Phase 3 Roadmap.md
Labels: documentation

feat(workflow,ifinder): visibility, pagination, and engine fixes for iFinder workflows
  client/src/api/agentsAdminApi.js
  client/src/features/admin/pages/AdminAgentMemoryPage.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useChatMessages.js
  client/src/features/workflows/components/ExecutionProgress.jsx
  concepts/2026-06-10 Workflow Input Strategies.md
  server/defaults/config/tools.json
  server/migrations/V056__expose_ifinder_discover_function.js
  server/routes/admin/agents.js
  server/routes/workflow/workflowRoutes.js
  server/services/integrations/iFinderService.js
  server/services/workflow/DAGScheduler.js
  server/services/workflow/StateManager.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/CorpusSearchNodeExecutor.js
  server/services/workflow/executors/DecisionNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/QueryPlanNodeExecutor.js
  server/services/workflow/executors/StartNodeExecutor.js
  server/services/workflow/executors/TemplateRenderNodeExecutor.js
  server/services/workflow/executors/ToolNodeExecutor.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/services/workflow/expressionEvaluator.js
  server/tools/iFinder.js
Labels: frontend, backend, documentation, admin, chat, api, tools

feat(workflows): Stellungnahmen review from iFinder + admin-driven corpus discovery (#1590)
  client/src/api/agentsAdminApi.js
  client/src/features/admin/pages/AdminAgentMemoryPage.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/chat/hooks/useChatMessages.js
  client/src/features/workflows/components/ExecutionProgress.jsx
  concepts/2026-05-28 Admin UI Phase 3 Roadmap.md
  concepts/2026-06-10 Workflow Input Strategies.md
  docs/iFinder-Integration.md
  docs/releases/5.4.0/features.md
  server/defaults/config/tools.json
  server/defaults/workflows/stellungnahmen-review-ifinder.json
  server/migrations/V055__add_ihub_documentation_source.js
  server/migrations/V056__expose_ifinder_discover_function.js
  server/routes/admin/agents.js
  server/routes/workflow/workflowRoutes.js
  server/services/integrations/iFinderService.js
  server/services/workflow/DAGScheduler.js
  server/services/workflow/StateManager.js
  server/services/workflow/executors/BaseNodeExecutor.js
  server/services/workflow/executors/CorpusSearchNodeExecutor.js
  server/services/workflow/executors/DecisionNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/QueryPlanNodeExecutor.js
  server/services/workflow/executors/StartNodeExecutor.js
  server/services/workflow/executors/TemplateRenderNodeExecutor.js
  server/services/workflow/executors/ToolNodeExecutor.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/services/workflow/expressionEvaluator.js
  server/sources/SourceManager.js
  server/tests/iFinderService.discover.test.js
  server/toolLoader.js
  server/tools/iFinder.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, chat, api, testing, tools, i18n

Suppress CodeQL alert on admin-gated SSL-bypass line
  server/utils/httpConfig.js
Labels: backend

Fix SSRF bypass in workflow HTTP node via IPv4-mapped IPv6 (GHSA-fp9c-pq7w-vr34)
  docs/releases/5.4.0/features.md
  server/services/workflow/executors/HttpNodeExecutor.js
  server/services/workflow/executors/ssrfGuard.js
  server/utils/httpConfig.js
  tests/unit/server/httpNodeExecutorSsrf.test.js
Labels: backend, documentation

Fix SSRF bypass in workflow HTTP node via IPv4-mapped IPv6 (GHSA-fp9c-pq7w-vr34) (#1593)
  docs/releases/5.4.0/features.md
  server/services/workflow/executors/HttpNodeExecutor.js
  server/services/workflow/executors/ssrfGuard.js
  server/utils/httpConfig.js
  tests/unit/server/httpNodeExecutorSsrf.test.js
Labels: backend, documentation

Unify login UI on the auth gate as the single dialog
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/auth-gate/i18n.js
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/pages/LoginPage.jsx
  client/vite-plugins/vite-plugin-auth-gate.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, auth

Fix auth gate color contrast for WCAG AA on the login page
  client/src/auth-gate/auth-gate.css
Labels: frontend

Unify login UI on the auth gate as the single dialog (#1595)
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/auth-gate/i18n.js
  client/src/features/auth/components/UserAuthMenu.jsx
  client/src/pages/LoginPage.jsx
  client/vite-plugins/vite-plugin-auth-gate.js
  docs/releases/5.4.0/features.md
Labels: frontend, documentation, auth

Bump vLLM model defaults to 32k context / 8k output
  examples/models/local-vllm.json
  server/defaults/models/gpt-oss-vllm.json
  server/defaults/models/local-vllm.json
Labels: backend

Address PR review: memoize file tokens; remove dead useMaxTokens
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatMessage.jsx
  server/routes/chat/sessionRoutes.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/services/mcp/appInvoker.js
  server/validators/index.js
  tests/manual-test-apikey-persistence.js
Labels: frontend, backend, chat, api

feat(branding): admin-configurable favicon
  client/src/features/admin/components/HeaderCustomization.jsx
  client/src/shared/contexts/UIConfigContext.jsx
  docs/releases/5.4.0/features.md
  docs/ui.md
  server/defaults/config/ui.json
  server/migrations/V057__add_header_favicon.js
Labels: frontend, backend, documentation, admin

Lazy-load tokenizer off the eager bundle; debounce input estimation
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/shared/hooks/useEstimatedTokenCount.js
  client/src/shared/utils/tokenEstimatorClient.js
  shared/contextUsage.js
  shared/tokenEstimator.js
Labels: frontend, chat

feat(branding): admin-configurable favicon (#1502) (#1601)
  client/src/features/admin/components/HeaderCustomization.jsx
  client/src/shared/contexts/UIConfigContext.jsx
  docs/releases/5.4.0/features.md
  docs/ui.md
  server/defaults/config/ui.json
  server/migrations/V057__add_header_favicon.js
Labels: frontend, backend, documentation, admin

Renumber token-split migration V055 -> V058 to avoid version collision
  server/migrations/V058__split_token_limits.js
Labels: backend

docs: add standalone OpenAI-compatible API guide
  docs/SUMMARY.md
  docs/openai-compatible-api.md
  docs/server-config.md
Labels: documentation

feat(agents): tripartite long-term memory with source markers and snapshots
  client/src/api/agentsAdminApi.js
  client/src/features/admin/pages/AdminAgentMemoryPage.jsx
  docs/agents.md
  docs/releases/5.4.0/features.md
  server/agents/memory/memoryFile.js
  server/agents/memory/memorySections.js
  server/agents/profile/profileWorkflowSerializer.js
  server/migrations/V057__rebuild_agent_workflows_tripartite_memory.js
  server/routes/admin/agents.js
  server/services/workflow/executors/MemoryFinalizeNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tests/memoryFinalizeNodeExecutor.test.js
  server/tests/memorySections.test.js
  server/tests/planReviewLoop.test.js
Labels: frontend, backend, documentation, admin, api, testing

docs: add standalone OpenAI-compatible API guide (#1605)
  docs/SUMMARY.md
  docs/openai-compatible-api.md
  docs/server-config.md
Labels: documentation

docs: add Tiptap editor integration research & plan
  concepts/2026-06-16 Tiptap Editor Integration.md
Labels: documentation

ci: install client deps via npm ci so builds honor the lockfile
  .github/workflows/build-binaries.yml
  .github/workflows/build-client-binaries.yml
Labels: github-actions

docs: Tiptap editor integration research & plan (#1608)
  concepts/2026-06-16 Tiptap Editor Integration.md
Labels: documentation

docs: add Workflow Run Experience design concept
  concepts/workflow-run-experience/2026-06-16 Workflow Run Experience Design.md
  concepts/workflow-run-experience/README.md
Labels: documentation
