Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

fix(agent-factory): give Planner agents a goal
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
Labels: backend, api

fix(agent-factory): inject planner goal for legacy profiles
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
Labels: backend, api

fix(agent-factory): planner taskTemplate shape + text-model fallback
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
Labels: frontend, backend, admin, api

fix(workflow): break planner sub-workflow state cycle
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/utils/deepMerge.js
Labels: backend

fix(agent-factory): three planner issues after re-save
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/PromptNodeExecutor.js
Labels: backend, api

fix order
  server/migrations/V040__move_workflow_tools_to_workflows.js
  server/migrations/V041__rename_workflow_agent_to_prompt.js
  server/migrations/V043__rename_agent_in_persisted_state.js
Labels: backend

Fix issue with 5.3.17 not starting due to module type warning (#1516)
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

custom back button with localstorage set
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

fixing href var, getting it into a catch
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back button handler
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

custom back now with specific url through window.open
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

chore(jwt-auth): switch authenticated user log to debug level
  server/middleware/jwtAuth.js
Labels: backend, auth

chore(jwt-auth): switch authenticated user log to debug level (#1517)
  server/middleware/jwtAuth.js
Labels: backend, auth

fix(agent-factory): wire end-to-end agent runs on Gemini, restructure planner orchestration
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/pages/AgentRunsPage.jsx
  client/src/features/workflows/hooks/useWorkflowExecution.js
  concepts/agent-factory/2026-05-20 V1 Status and Next Steps.md
  examples/agents/profiles/research-and-summarize.json
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/BedrockConverter.js
  server/adapters/toolCalling/GenericToolCalling.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/toolNameValidator.js
  server/agents/profile/profileWorkflowSerializer.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/taskRecord.js
  server/migrations/V044__normalize_agent_planner_task_template.js
  server/migrations/V045__ensure_agent_tools_registered.js
  server/migrations/V046__restore_agent_tools_after_admin_strip.js
  server/routes/admin/tools.js
  server/routes/agents/runs.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tools/agentTools.js
Labels: frontend, backend, documentation, admin, chat, api, tools

Add closing functionality to auth dialog after login selection (#1489)
  client/src/auth-gate/auth-gate.css
  client/src/auth-gate/auth-gate.js
  client/src/auth-gate/i18n.js
Labels: frontend

feat(mcp): integrate MCP client + gateway (closes #1460, closes #1461)
  client/src/App.jsx
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/pages/AdminMcpGatewayPage.jsx
  client/src/features/admin/pages/AdminMcpServersPage.jsx
  docs/SUMMARY.md
  docs/mcp-integration.md
  docs/models.md
  docs/server-config.md
  docs/tool-calling.md
  server/config.js
  server/configCache.js
  server/defaults/config/mcpServers.json
  server/middleware/mcpAuth.js
  server/migrations/V042__add_mcp_config.js
  server/package-lock.json
  server/package.json
  server/routes/admin/mcpServers.js
  server/routes/adminRoutes.js
  server/routes/mcpServer.js
  server/routes/wellKnown.js
  server/server.js
  server/services/mcp/McpClientManager.js
  server/services/mcp/McpServerConnection.js
  server/services/mcp/McpServerService.js
  server/services/mcp/safeFetch.js
  server/services/mcp/scopes.js
  server/tests/mcp/clientManager.test.js
  server/tests/mcp/configSchema.test.js
  server/tests/mcp/safeFetch.test.js
  server/tests/mcp/scopes.test.js
  server/toolLoader.js
  server/validators/mcpServerConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, auth, admin, api, testing, dependencies, i18n

fix(mcp): replace polynomial regex with linear string trim
  server/routes/mcpServer.js
Labels: backend, api

feat(mcp): land the three deferred follow-ups
  client/src/features/admin/pages/AdminMcpGatewayPage.jsx
  docs/mcp-integration.md
  server/migrations/V042__add_mcp_config.js
  server/routes/mcpServer.js
  server/services/mcp/McpServerService.js
  server/services/mcp/a2aHandler.js
  server/services/mcp/appInvoker.js
  server/services/mcp/resourceAdapter.js
  server/tests/mcp/a2aHandler.test.js
  server/tests/mcp/appInvoker.test.js
  server/tests/mcp/resourceAdapter.test.js
  server/validators/mcpServerConfigSchema.js
Labels: frontend, backend, documentation, admin, api, testing

fix(mcp): pre-validate IDs at the MCP boundary
  server/services/mcp/a2aHandler.js
  server/services/mcp/appInvoker.js
  server/services/mcp/resourceAdapter.js
  server/tests/mcp/a2aHandler.test.js
  server/tests/mcp/appInvoker.test.js
  server/tests/mcp/resourceAdapter.test.js
Labels: backend, testing

fix(mcp): launder IDs through path.basename + configCache lookup
  server/services/mcp/a2aHandler.js
  server/services/mcp/appInvoker.js
  server/services/mcp/resourceAdapter.js
Labels: backend

feat(agent-factory): lifecycle redesign, grounding, observability, downloads
  client/src/features/admin/components/ArtifactDownloadMenu.jsx
  client/src/features/admin/components/ArtifactViewer.jsx
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  client/src/features/admin/utils/artifactDownload.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  concepts/agent-factory/2026-05-20 Agent Lifecycle Redesign.md
  server/adapters/toolCalling/GoogleConverter.js
  server/agents/profile/profileWorkflowSerializer.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/artifactStore.js
  server/agents/runtime/titleGenerator.js
  server/middleware/authRequired.js
  server/migrations/V047__split_planner_synthesizer_and_scrub_orchestration.js
  server/routes/agents/artifacts.js
  server/routes/agents/runs.js
  server/services/workflow/ExecutionRegistry.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/WorkflowLLMHelper.js
  server/services/workflow/executors/InboxFinalizeNodeExecutor.js
  server/services/workflow/executors/InboxLoadNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/services/workflow/executors/index.js
  server/toolLoader.js
  server/tools/agentTools.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, documentation, auth, admin, chat, api, tools

[WIP] Handle network error better after multiple SSL searches (#1521)
  client/src/shared/utils/parseSseStream.js
  concepts/2026-05-21 SSE Parsing Error Handling Enhancement.md
  server/adapters/BaseAdapter.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, chat, api, i18n

feat(i18n): allow parent frames to set language via postMessage
  client/src/services/i18nService.js
  docs/localization.md
Labels: frontend, documentation

fix(i18n): require same-origin for postMessage language switching
  client/src/services/i18nService.js
  docs/localization.md
Labels: frontend, documentation

fix(i18n): tighten postMessage handler against further CodeQL findings
  client/src/services/i18nService.js
Labels: frontend

refactor(i18n): use intrafind BroadcastChannel for cross-product sync
  client/src/services/i18nService.js
  docs/localization.md
Labels: frontend, documentation

feat(i18n): allow parent frames to set language via postMessage (#1523)
  client/src/services/i18nService.js
  docs/localization.md
Labels: frontend, documentation

fix(admin/backup): create contents/ base dir before path validation
  server/routes/admin/backup.js
Labels: backend, admin, api

feat(admin/backup): run pending migrations after config import
  server/migrations/runner.js
  server/routes/admin/backup.js
Labels: backend, admin, api

fix(admin/backup): config import failed with "No contents directory found" (#1524)
  server/migrations/runner.js
  server/routes/admin/backup.js
Labels: backend, admin, api

fix(agent-factory): dynamic tasks, app-as-tool persistence, model propagation
  client/src/features/admin/components/StepDetails.jsx
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/appAsToolGateway.js
  server/migrations/V048__remove_stale_platform_feature_flags.js
  server/routes/agents/runs.js
  server/services/chat/ChatService.js
  server/services/chat/streamSink/InMemorySink.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/InboxFinalizeNodeExecutor.js
  server/services/workflow/executors/InboxLoadNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tools/agentTools.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin, api, tools

fix(agent-factory): three planner issues after re-save
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/PromptNodeExecutor.js
Labels: backend, api

fix(agent-factory): planner taskTemplate shape + text-model fallback
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
Labels: frontend, backend, admin, api

feat(agent-factory): use shared i18n components in AgentEditPage
  client/src/features/admin/pages/AdminAgentEditPage.jsx
Labels: frontend, admin

agent-factory: security hardening, migration squash, UX polish
  client/src/features/admin/pages/AdminAgentApprovalsPage.jsx
  client/src/features/admin/pages/AdminAgentInboxEditPage.jsx
  client/src/features/admin/pages/AdminAgentInboxesPage.jsx
  client/src/features/admin/pages/AdminAgentMemoryPage.jsx
  client/src/features/admin/pages/AdminAgentsPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  server/agents/runtime/artifactStore.js
  server/migrations/V043__rename_agent_in_persisted_state.js
  server/migrations/V044__normalize_agent_planner_task_template.js
  server/migrations/V045__ensure_agent_tools_registered.js
  server/migrations/V046__restore_agent_tools_after_admin_strip.js
  server/migrations/V047__split_planner_synthesizer_and_scrub_orchestration.js
  server/migrations/V048__remove_stale_platform_feature_flags.js
  server/routes/admin/agents.js
  server/routes/agents/artifacts.js
  server/routes/agents/runs.js
  server/services/chat/streamSink/InMemorySink.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/tests/agent-artifact-quota.test.js
  server/tests/agent-artifacts-name.test.js
  server/tests/inmemory-sink-overflow.test.js
  server/tests/planner-budget.test.js
  server/tools/agentTools.js
  server/utils/atomicWrite.js
  server/utils/sseEmitter.js
Labels: frontend, backend, admin, api, testing, tools

fix(agent-factory): dynamic tasks, app-as-tool persistence, model propagation
  client/src/features/admin/components/StepDetails.jsx
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  client/src/features/admin/pages/AgentRunDetailPage.jsx
  server/agents/profile/profileWorkflowSerializer.js
  server/agents/runtime/agentToolRegistrar.js
  server/agents/runtime/appAsToolGateway.js
  server/migrations/V048__remove_stale_platform_feature_flags.js
  server/routes/agents/runs.js
  server/services/chat/ChatService.js
  server/services/chat/streamSink/InMemorySink.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/InboxFinalizeNodeExecutor.js
  server/services/workflow/executors/InboxLoadNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/PromptNodeExecutor.js
  server/tools/agentTools.js
  server/validators/agentProfileSchema.js
Labels: frontend, backend, admin, api, tools

fix(agent-factory): give Planner agents a goal
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
Labels: backend, api

fix(agent-factory): stronger CodeQL-recognized sanitizers
  client/src/features/admin/pages/AdminAgentEditPage.jsx
  server/agents/inbox/inboxStore.js
  server/agents/memory/memoryFile.js
  server/routes/admin/agents.js
  server/routes/agents/artifacts.js
  server/tools/agentTools.js
Labels: frontend, backend, admin, api, tools

fix order
  server/migrations/V040__move_workflow_tools_to_workflows.js
  server/migrations/V041__rename_workflow_agent_to_prompt.js
  server/migrations/V043__rename_agent_in_persisted_state.js
Labels: backend

fix(agent-factory): inject planner goal for legacy profiles
  server/agents/profile/profileWorkflowSerializer.js
  server/routes/agents/runs.js
Labels: backend, api

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
