Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

fix: emit the "knowledge source" badge reliably on every completion path (#1672) (#1675)
  client/office/taskpane.html
  client/public/office/callback.html
  docs/releases/5.5.0/features.md
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  tests/unit/server/tool-executor-knowledge-sources.test.js
Labels: frontend, backend, documentation

docs: add comprehensive code review findings and triage board
  concepts/2026-07-06 Comprehensive Code Review.md
  concepts/review-triage.html
Labels: documentation

fix: align createUser with loginUser by storing internalGroups, fix default group name (#1808)
  server/middleware/localAuth.js
Labels: backend, auth

fix(admin/apps): DELETE uses findAppFile; POST checks configCache for duplicate IDs (#1813)
  server/routes/admin/apps.js
Labels: backend, admin, api

fix: correct browser-extension README to match actual Vite/React architecture (#1818)
  browser-extension/README.md
Labels: none

Mitigate local-auth username enumeration via timing side channel (#1837)
  server/middleware/localAuth.js
  server/tests/localAuth.test.js
Labels: backend, auth, testing

Centralize safe-ID validation and remove regex drift across validators/routes (#1840)
  server/routes/admin/browserExtension.js
  server/routes/workflow/workflowRoutes.js
  server/tests/pathSecurity.test.js
  server/utils/pathSecurity.js
  server/validators/common.js
  server/validators/credentialSchema.js
  server/validators/groupConfigSchema.js
  server/validators/index.js
  server/validators/mcpServerConfigSchema.js
  server/validators/openApiToolDefSchema.js
  server/validators/sourceConfigSchema.js
  tests/unit/server/zSafeId.test.js
Labels: backend, admin, api, testing

Remove dead no-op statements in chat session and magic-prompt routes (#1856)
  server/routes/chat/sessionRoutes.js
  server/routes/magicPromptRoutes.js
Labels: backend, chat, api
