Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Delete docs/gemini3-function-calling-fix.md
  docs/gemini3-function-calling-fix.md
Labels: documentation

Delete docs/office365-404-errors-explained.md
  docs/office365-404-errors-explained.md
Labels: documentation

Delete docs/office365-admin-consent-removal.md
  docs/office365-admin-consent-removal.md
Labels: documentation

Delete docs/office365-drive-listing-debugging.md
  docs/office365-drive-listing-debugging.md
Labels: documentation

Delete docs/office365-rate-limiting-fix.md
  docs/office365-rate-limiting-fix.md
Labels: documentation

Delete docs/office365-scope-update.md
  docs/office365-scope-update.md
Labels: documentation

fix defaults
  server/defaults/apps/file-analysis.json
  server/defaults/apps/web-chat.json
Labels: backend

fix missing package
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

feat: add in-place update system for binary installations
  build-sea.cjs
  client/src/features/admin/pages/AdminSystemPage.jsx
  server/cli/update.js
  server/routes/admin/update.js
  server/routes/admin/version.js
  server/routes/adminRoutes.js
  server/services/updateService.js
Labels: frontend, backend, admin, api

chore: fix trailing newline and update package-lock
  server/defaults/apps/file-analysis.json
  server/package-lock.json
Labels: backend, dependencies

Potential fix for code scanning alert no. 404: Uncontrolled command line
  server/services/updateService.js
Labels: backend

docs: comprehensive documentation audit - fill schema gaps, expand stubs, fix inaccuracies
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
  docs/SUMMARY.md
  docs/apps.md
  docs/architecture.md
  docs/ask-user-tool.md
  docs/configuration-validation.md
  docs/custom-renderers.md
  docs/developer-onboarding.md
  docs/external-authentication.md
  docs/frontend-optimization-plan.md
  docs/ifinder-jwt-key-generation.md
  docs/ihub-as-oidc-idp.md
  docs/jwt-authentication.md
  docs/jwt-well-known-endpoints.md
  docs/ldap-ntlm-authentication.md
  docs/magic-prompt-feature.md
  docs/microphone-feature.md
  docs/mimetypes.md
  docs/models.md
  docs/oauth-authorization-code.md
  docs/office365-integration.md
  docs/oidc-authentication.md
  docs/per-user-rate-limiting-proposal.md
  docs/platform.md
  docs/production-reverse-proxy-guide.md
  docs/prompts.md
  docs/rate-limiting.md
  docs/security.md
  docs/server-config.md
  docs/styles.md
  docs/tool-calling.md
  docs/tools.md
  docs/troubleshooting.md
  docs/ui.md
  docs/value-encryption-tool.md
Labels: documentation

Add in-place update system for binary installations (#1123)
  build-sea.cjs
  client/src/features/admin/pages/AdminSystemPage.jsx
  server/cli/update.js
  server/defaults/apps/file-analysis.json
  server/package-lock.json
  server/routes/admin/update.js
  server/routes/admin/version.js
  server/routes/adminRoutes.js
  server/services/updateService.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, dependencies, i18n

docs: fix five accuracy issues flagged in review (#1126)
  docs/magic-prompt-feature.md
  docs/models.md
  docs/platform.md
  docs/rate-limiting.md
  docs/styles.md
Labels: documentation

docs: comprehensive documentation audit - fill schema gaps, expand stubs, fix inaccuracies
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
  docs/SUMMARY.md
  docs/apps.md
  docs/architecture.md
  docs/ask-user-tool.md
  docs/configuration-validation.md
  docs/custom-renderers.md
  docs/developer-onboarding.md
  docs/external-authentication.md
  docs/frontend-optimization-plan.md
  docs/ifinder-jwt-key-generation.md
  docs/ihub-as-oidc-idp.md
  docs/jwt-authentication.md
  docs/jwt-well-known-endpoints.md
  docs/ldap-ntlm-authentication.md
  docs/magic-prompt-feature.md
  docs/microphone-feature.md
  docs/mimetypes.md
  docs/models.md
  docs/oauth-authorization-code.md
  docs/office365-integration.md
  docs/oidc-authentication.md
  docs/per-user-rate-limiting-proposal.md
  docs/platform.md
  docs/production-reverse-proxy-guide.md
  docs/prompts.md
  docs/rate-limiting.md
  docs/security.md
  docs/server-config.md
  docs/styles.md
  docs/tool-calling.md
  docs/tools.md
  docs/troubleshooting.md
  docs/ui.md
  docs/value-encryption-tool.md
Labels: documentation

docs: comprehensive documentation audit (#1124)
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
  docs/SUMMARY.md
  docs/apps.md
  docs/architecture.md
  docs/ask-user-tool.md
  docs/configuration-validation.md
  docs/custom-renderers.md
  docs/developer-onboarding.md
  docs/external-authentication.md
  docs/frontend-optimization-plan.md
  docs/ifinder-jwt-key-generation.md
  docs/ihub-as-oidc-idp.md
  docs/jwt-authentication.md
  docs/jwt-well-known-endpoints.md
  docs/ldap-ntlm-authentication.md
  docs/magic-prompt-feature.md
  docs/microphone-feature.md
  docs/mimetypes.md
  docs/models.md
  docs/oauth-authorization-code.md
  docs/office365-integration.md
  docs/oidc-authentication.md
  docs/per-user-rate-limiting-proposal.md
  docs/platform.md
  docs/production-reverse-proxy-guide.md
  docs/prompts.md
  docs/rate-limiting.md
  docs/security.md
  docs/server-config.md
  docs/styles.md
  docs/tool-calling.md
  docs/tools.md
  docs/troubleshooting.md
  docs/ui.md
  docs/value-encryption-tool.md
Labels: documentation

fix update service
  build-sea.cjs
  server/services/updateService.js
Labels: backend

Update installation instructions in README.md
  README.md
Labels: documentation

fix: binary restart and versioned backup retention
  README.md
  docs/INSTALLATION.md
  server/services/updateService.js
Labels: backend, documentation

fix: binary restart and versioned backup retention (#1129)
  README.md
  docs/INSTALLATION.md
  server/services/updateService.js
Labels: backend, documentation

added concepts
  concepts/2026-02-27 iHub Workflows PRD.md
  concepts/2026-03-09 Simplification Proposal.md
Labels: documentation

feat: Phase 1 - Planner node, Verifier node, and sub-workflow execution engine
  server/services/workflow/StateManager.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/WorkflowEngine.js
  server/services/workflow/executors/PlannerNodeExecutor.js
  server/services/workflow/executors/VerifierNodeExecutor.js
  server/services/workflow/executors/index.js
  server/validators/workflowConfigSchema.js
Labels: backend

fix: address Phase 1 code quality issues
  server/services/workflow/StateManager.js
  server/services/workflow/SubWorkflowMaterializer.js
  server/services/workflow/executors/PlannerNodeExecutor.js
Labels: backend

fix: address Phase 1 code quality issues
  server/services/workflow/executors/PlannerNodeExecutor.js
Labels: backend

feat: Phase 2 - Loop, Parallel, and Join node executors
  server/services/workflow/executors/JoinNodeExecutor.js
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/ParallelNodeExecutor.js
  server/services/workflow/executors/index.js
Labels: backend

fix: address Phase 2 code quality issues
  server/services/workflow/executors/LoopNodeExecutor.js
  server/services/workflow/executors/ParallelNodeExecutor.js
Labels: backend

feat: Phase 3 - HTTP request node and Code execution node
  server/services/workflow/executors/CodeNodeExecutor.js
  server/services/workflow/executors/HttpNodeExecutor.js
  server/services/workflow/executors/index.js
Labels: backend

fix: address Phase 3 code quality issues
  server/services/workflow/executors/CodeNodeExecutor.js
  server/services/workflow/executors/HttpNodeExecutor.js
Labels: backend

feat: Phase 4 - Context summarization for long-running agentic workflows
  server/services/workflow/ContextSummarizer.js
  server/services/workflow/executors/AgentNodeExecutor.js
Labels: backend

feat: Phase 5 - Workflow trigger system
  server/routes/workflow/index.js
  server/routes/workflow/triggerRoutes.js
  server/server.js
  server/services/workflow/triggers/ScheduleTrigger.js
  server/services/workflow/triggers/TriggerManager.js
  server/services/workflow/triggers/WebhookTrigger.js
  server/validators/workflowConfigSchema.js
Labels: backend, api

feat: Phase 6 - Workflow version control
  server/routes/workflow/workflowRoutes.js
Labels: backend, api

feat: Phase 7 - Visual workflow builder
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/features/admin/pages/WorkflowEditorPage.jsx
  client/src/features/workflows/editor/WorkflowEditor.jsx
  client/src/features/workflows/editor/edges/ConditionalEdge.jsx
  client/src/features/workflows/editor/nodes/WorkflowNode.jsx
  client/src/features/workflows/editor/panels/NodeConfigPanel.jsx
  client/src/features/workflows/editor/workflowEditorUtils.js
Labels: frontend, admin, dependencies

feat: Phase 8 - Client updates for agentic workflow visibility
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/hooks/useWorkflowExecution.js
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/features/workflows/pages/WorkflowsPage.jsx
Labels: frontend

chore: add croner dependency for workflow trigger scheduling
  package-lock.json
  package.json
Labels: backend, dependencies

fix: ReferenceError crash in OpenAI proxy on model-not-found path (#1133)
  server/routes/openaiProxy.js
Labels: backend, api

Fix login input losing focus on every keystroke (#1135)
  client/src/features/auth/components/LoginForm.jsx
Labels: frontend, auth

chore: add .worktrees/ to .gitignore
  .gitignore
Labels: none

feat: secure STT model endpoint with auth, admin download, and error handling
  client/src/features/voice/hooks/useVoiceRecognition.js
  client/src/utils/sttModelLoader.js
  docs/SUMMARY.md
  docs/stt-models.md
  server/defaults/config/platform.json
  server/migrations/V020__update_stt_models_path.js
  server/routes/admin/sttModels.js
  server/routes/adminRoutes.js
  server/routes/staticRoutes.js
  server/routes/sttModelRoutes.js
  server/server.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, admin, api

Potential fix for code scanning alert no. 408: Uncontrolled data used in path expression
  server/routes/admin/sttModels.js
Labels: backend, admin, api

feat: add in-browser STT integration (Whisper, Parakeet, Moonshine)
  client/package-lock.json
  client/package.json
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/voice/components/VoiceFeedback.jsx
  client/src/features/voice/components/VoiceInputComponent.jsx
  client/src/features/voice/hooks/useVoiceRecognition.js
  client/src/utils/audioUtils.js
  client/src/utils/moonshineRecognitionService.js
  client/src/utils/parakeetRecognitionService.js
  client/src/utils/sttModelLoader.js
  client/src/utils/whisperRecognitionService.js
  client/vite.config.js
  concepts/stt-browser/2026-03-11 Step 10+11 Loading Progress UI and Admin Dropdown.md
  concepts/stt-browser/2026-03-11 useVoiceRecognition hook integration.md
  package-lock.json
  server/defaults/config/platform.json
  server/migrations/V019__add_stt_platform_config.js
  server/package-lock.json
  server/routes/staticRoutes.js
  server/validators/appConfigSchema.js
  server/validators/platformConfigSchema.js
Labels: frontend, backend, documentation, admin, api, dependencies

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
