Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

feat: Enhanced usage tracking with accurate token capture, fingerprinting, time-series storage, and timeline dashboard
  client/src/api/adminApi.js
  client/src/features/admin/components/UsageTimeline.jsx
  client/src/features/admin/pages/AdminUsageReports.jsx
  server/adapters/anthropic.js
  server/adapters/google.js
  server/adapters/mistral.js
  server/adapters/openai-responses.js
  server/adapters/openai.js
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/MistralConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/adapters/vllm.js
  server/migrations/V013__enhanced_usage_tracking.js
  server/routes/admin/usage.js
  server/routes/adminRoutes.js
  server/server.js
  server/services/UsageAggregator.js
  server/services/UsageEventLog.js
  server/services/UserFingerprint.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/usageTracker.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, admin, chat, api

fix: resolve open issues in enhanced usage tracking
  client/src/api/adminApi.js
  client/src/features/admin/components/UsageTimeline.jsx
  client/src/features/admin/pages/AdminUsageReports.jsx
  server/routes/admin/usage.js
  server/server.js
  server/services/UsageAggregator.js
  server/services/UsageEventLog.js
  server/usageTracker.js
Labels: frontend, backend, admin, api

fix: rollup feedback, identified tracking mode, and breakdown UI
  client/src/api/adminApi.js
  client/src/features/admin/components/UsageTimeline.jsx
  server/routes/admin/usage.js
  server/routes/chat/feedbackRoutes.js
  server/routes/magicPromptRoutes.js
  server/services/UsageAggregator.js
  server/services/UsageEventLog.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/usageTracker.js
Labels: frontend, backend, admin, chat, api

Add comprehensive usage tracking and timeline analytics (#1066)
  client/src/api/adminApi.js
  client/src/features/admin/components/UsageTimeline.jsx
  client/src/features/admin/pages/AdminUsageReports.jsx
  server/adapters/anthropic.js
  server/adapters/google.js
  server/adapters/mistral.js
  server/adapters/openai-responses.js
  server/adapters/openai.js
  server/adapters/toolCalling/AnthropicConverter.js
  server/adapters/toolCalling/GoogleConverter.js
  server/adapters/toolCalling/MistralConverter.js
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolCalling/OpenAIResponsesConverter.js
  server/adapters/vllm.js
  server/migrations/V013__enhanced_usage_tracking.js
  server/routes/admin/usage.js
  server/routes/adminRoutes.js
  server/routes/chat/feedbackRoutes.js
  server/routes/magicPromptRoutes.js
  server/server.js
  server/services/UsageAggregator.js
  server/services/UsageEventLog.js
  server/services/UserFingerprint.js
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/usageTracker.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, admin, chat, api

Warn user when uploaded document may exceed model's context window (#1074)
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  concepts/2026-03-09 Document Context Window Warning.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

Print proxy configuration on startup if used (#1089)
  server/server.js
Labels: backend

Fix streaming fetch error: improve proxy support and network error messages
  server/services/chat/StreamingHandler.js
  server/utils.js
  server/utils/httpConfig.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, i18n

Improve network error handling and diagnostics for LLM API calls (#1094)
  server/services/chat/StreamingHandler.js
  server/utils.js
  server/utils/httpConfig.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: backend, i18n

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: github-actions

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: github-actions

Add Claude Code GitHub Workflow (#1095)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: github-actions

rewrite .env.example to clarify it is optional (#1097)
  .env.example
Labels: configuration

Update README quickstart to remove .env editing requirement (#1098)
  README.md
Labels: documentation

refactor: remove .env copy from setup:dev onboarding (#1099)
  README.md
  package.json
Labels: backend, documentation, dependencies

refactor: move OAuth tokens and consent from config to data dir (#1100)
  server/migrations/V016__move_oauth_data_to_data_dir.js
  server/utils/consentStore.js
  server/utils/refreshTokenStore.js
Labels: backend

Add allowed_bots parameter to code review workflow
  .github/workflows/claude-code-review.yml
Labels: github-actions

feat: remove old iAssistant (Basic) service, models, and apps (#1101)
  docs/apps.md
  docs/ifinder-iassistant-admin-guide.md
  server/adapters/iassistant.js
  server/adapters/index.js
  server/adapters/toolCalling/IAssistantConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/defaults/apps/iassistant-demo.json
  server/defaults/config/tools.json
  server/defaults/models/iassistant.json
  server/migrations/V017__remove_iassistant_basic.js
  server/routes/openaiProxy.js
  server/services/chat/StreamingHandler.js
  server/services/integrations/iAssistantService.js
  server/tools/iAssistant.js
  server/utils.js
  server/utils/ApiKeyVerifier.js
  server/validators/modelConfigSchema.js
Labels: backend, documentation, chat, api, tools

docs: restructure README with binary quickstart, marketing copy, and SEO content (#1105)
  README.md
Labels: documentation

feat: comprehensive IHUB_* environment variable config overrides (#1106)
  docs/SUMMARY.md
  docs/environment-variables.md
  server/configCache.js
Labels: backend, documentation

Delete .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Labels: github-actions

feat: add zero-config quickstart docker-compose and Docker Hub docs (#1110)
  docker-compose.quickstart.yml
  docker/DOCKER.md
Labels: docker

feat: add provider health dashboard to admin providers page (#1111)
  client/src/features/admin/pages/AdminProvidersPage.jsx
Labels: frontend, admin

clean up models
  server/defaults/models/claude-4-haiku.json
  server/defaults/models/claude-4-sonnet.json
  server/defaults/models/gemini-2.0-flash-exp.json
  server/defaults/models/gemini-2.0-flash-thinking-exp-01-21.json
  server/defaults/models/gemini-2.5-flash-image.json
  server/defaults/models/gemini-2.5-flash.json
  server/defaults/models/gemini-3.1-flash-image.json
  server/defaults/models/gemini-3.1-flash-light.json
  server/defaults/models/gemini-3.1-pro.json
  server/defaults/models/gemini-flash-latest.json
  server/defaults/models/gemini-flash-lite-latest.json
  server/defaults/models/mistral-large.json
  server/defaults/models/mistral-medium.json
Labels: backend

feat: add first-run setup wizard (#1079) (#1112)
  client/index.html
  client/src/App.jsx
  client/src/features/setup/SetupWizard.jsx
  client/src/shared/contexts/PlatformConfigContext.jsx
  client/src/utils/runtimeBasePath.js
  server/defaults/models/claude-4-haiku.json
  server/defaults/models/claude-4-sonnet.json
  server/defaults/models/gemini-2.0-flash-exp.json
  server/defaults/models/gemini-2.0-flash-thinking-exp-01-21.json
  server/defaults/models/gemini-2.5-flash-image.json
  server/defaults/models/gemini-2.5-flash.json
  server/defaults/models/gemini-3.1-flash-image.json
  server/defaults/models/gemini-3.1-flash-light.json
  server/defaults/models/gemini-3.1-pro.json
  server/defaults/models/gemini-flash-latest.json
  server/defaults/models/gemini-flash-lite-latest.json
  server/defaults/models/mistral-large.json
  server/defaults/models/mistral-medium.json
  server/migrations/V018__add_setup_configured_flag.js
  server/routes/auth.js
  server/routes/setup.js
  server/server.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, auth, api, i18n

feat: include login step in setup wizard (#1114)
  client/src/App.jsx
  client/src/features/auth/components/LoginForm.jsx
  client/src/features/setup/SetupWizard.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, auth, i18n

fix: prevent setup wizard restart after login by avoiding same-page redirect
  client/src/features/setup/SetupWizard.jsx
  client/src/shared/contexts/AuthContext.jsx
Labels: frontend

fix: persist setup wizard step in sessionStorage to survive remounts
  client/src/features/setup/SetupWizard.jsx
Labels: frontend

Add authentication step to setup wizard (#1115)
  client/src/App.jsx
  client/src/features/auth/components/LoginForm.jsx
  client/src/features/setup/SetupWizard.jsx
  client/src/shared/contexts/AuthContext.jsx
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, auth, i18n

feat: add curl one-line installer script (install.sh) (#1109)
  README.md
  install.sh
Labels: documentation, tools

fix install script
  install.sh
Labels: tools

Potential fix for code scanning alert no. 399: Server-side request forgery
  server/routes/integrations/office365.js
  server/services/marketplace/RegistryService.js
Labels: backend, api

Remove allowed hosts check for registry URLs
  server/services/marketplace/RegistryService.js
Labels: backend

Consolidate HTTP clients to node-fetch with centralized httpFetch()
  server/middleware/oidcAuth.js
  server/middleware/proxyAuth.js
  server/package-lock.json
  server/package.json
  server/requestThrottler.js
  server/routes/admin/version.js
  server/routes/integrations/ifinder.js
  server/services/integrations/EntraService.js
  server/services/integrations/JiraService.js
  server/services/integrations/Office365Service.js
  server/sources/SourceManager.js
  server/sources/URLHandler.js
  server/tests/azure-openai-test.js
  server/tests/comprehensive-api-documentation.test.js
  server/tests/integration-test-jwt-validation.js
  server/tests/manual-auth-test.js
  server/tests/real-llm-integration.test.js
  server/tests/tool-call-verification.test.js
  server/utils/httpConfig.js
Labels: backend, auth, admin, api, testing, dependencies

Replace axios with node-fetch for HTTP requests (#1113)
  server/middleware/oidcAuth.js
  server/middleware/proxyAuth.js
  server/package-lock.json
  server/package.json
  server/requestThrottler.js
  server/routes/admin/version.js
  server/routes/integrations/ifinder.js
  server/routes/integrations/office365.js
  server/routes/setup.js
  server/services/integrations/EntraService.js
  server/services/integrations/JiraService.js
  server/services/integrations/Office365Service.js
  server/services/marketplace/RegistryService.js
  server/sources/SourceManager.js
  server/sources/URLHandler.js
  server/tests/azure-openai-test.js
  server/tests/comprehensive-api-documentation.test.js
  server/tests/integration-test-jwt-validation.js
  server/tests/manual-auth-test.js
  server/tests/real-llm-integration.test.js
  server/tests/tool-call-verification.test.js
  server/utils/httpConfig.js
Labels: backend, auth, admin, api, testing, dependencies

disabled all env settings, because not necessary anymore
  config.env
Labels: configuration

improved install.sh and removed config.env
  install.sh
Labels: tools

feat: add Google Drive integration for cloud storage (#1116)
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/GoogleDriveFileBrowser.jsx
  client/src/features/upload/hooks/useGoogleDriveBrowser.js
  server/routes/integrations/googledrive.js
  server/server.js
  server/services/integrations/GoogleDriveService.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, admin, api, i18n

Potential fix for code scanning alert no. 402: Server-side request forgery
  server/routes/integrations/googledrive.js
Labels: backend, api

fix gemini latest urls
  server/defaults/models/gemini-flash-latest.json
  server/defaults/models/gemini-flash-lite-latest.json
Labels: backend

Add Google Drive integration for cloud file browsing and upload (#1117)
  client/src/features/admin/components/CloudStorageConfig.jsx
  client/src/features/upload/components/CloudStoragePicker.jsx
  client/src/features/upload/components/GoogleDriveFileBrowser.jsx
  client/src/features/upload/hooks/useGoogleDriveBrowser.js
  docs/SUMMARY.md
  docs/google-drive-integration.md
  server/defaults/models/gemini-flash-latest.json
  server/defaults/models/gemini-flash-lite-latest.json
  server/routes/integrations/googledrive.js
  server/server.js
  server/services/integrations/GoogleDriveService.js
  server/validators/cloudStorageSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n
