Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Fix path traversal vulnerability in admin routes (#429)
  server/routes/admin/apps.js
  server/routes/admin/auth.js
  server/routes/admin/groups.js
  server/routes/admin/models.js
  server/routes/admin/pages.js
  server/routes/admin/prompts.js
  server/routes/admin/sources.js
  server/utils/pathSecurity.js
Labels: backend, admin, api

added necessary permissions
  .github/workflows/label.yml
Labels: github-actions

Potential fix for code scanning alert no. 240: Workflow does not contain permissions
  .github/workflows/test-suite.yml
Labels: github-actions

Potential fix for code scanning alert no. 234: Workflow does not contain permissions
  .github/workflows/test-suite.yml
Labels: github-actions

added concept for llm sdk extraction
  concepts/llm-sdk-extraction/2025-08-10 LLM SDK Extraction Detailed Implementation Plan.md
  concepts/llm-sdk-extraction/2025-08-10 LLM SDK Extraction Implementation Concept.md
Labels: documentation

Potential fix for code scanning alert no. 240: Workflow does not contain permissions
  .github/workflows/test-suite.yml
Labels: github-actions

Potential fix for code scanning alert no. 234: Workflow does not contain permissions
  .github/workflows/test-suite.yml
Labels: github-actions

Implement Comprehensive Test Framework for E2E, API, and Model Integration Testing (#431)
  .env.test
  .github/workflows/test-suite.yml
  .gitignore
  concepts/2025-01-24 Comprehensive Test Concept for E2E Tests.md
  package-lock.json
  package.json
  tests/AI_DEVELOPER_GUIDELINES.md
  tests/IMPLEMENTATION_SUMMARY.md
  tests/README.md
  tests/config/jest.config.js
  tests/config/jest.setup.js
  tests/config/playwright.config.js
  tests/e2e/chat.spec.js
  tests/fixtures/test-document.txt
  tests/integration/api/chat.test.js
  tests/integration/models/model-integration.test.js
  tests/unit/client/chat-component.test.jsx
  tests/utils/fixtures.js
  tests/utils/helpers.js
  tests/validate-framework.sh
Labels: backend, configuration, documentation, github-actions, dependencies

feat: implement LLM SDK foundation with core classes and configuration
  llm-sdk/.eslintrc.js
  llm-sdk/jest.config.js
  llm-sdk/package.json
  llm-sdk/rollup.config.js
  llm-sdk/src/config/ModelConfig.js
  llm-sdk/src/config/ProviderConfig.js
  llm-sdk/src/config/index.js
  llm-sdk/src/core/LLMClient.js
  llm-sdk/src/core/Message.js
  llm-sdk/src/core/Provider.js
  llm-sdk/src/core/Response.js
  llm-sdk/src/core/index.js
  llm-sdk/src/index.js
  llm-sdk/src/types/index.js
  llm-sdk/src/utils/ErrorHandler.js
  llm-sdk/src/utils/Logger.js
  llm-sdk/src/utils/Validator.js
  llm-sdk/src/utils/index.js
  llm-sdk/tests/setup.js
  llm-sdk/tests/unit/core/Message.test.js
Labels: none

feat: implement core LLM providers with comprehensive functionality
  llm-sdk/src/core/LLMClient.js
  llm-sdk/src/providers/AnthropicProvider.js
  llm-sdk/src/providers/GoogleProvider.js
  llm-sdk/src/providers/OpenAIProvider.js
  llm-sdk/src/providers/index.js
  llm-sdk/tests/unit/providers/OpenAIProvider.test.js
Labels: none

feat: complete LLM SDK with integration layer and comprehensive documentation
  llm-sdk/README.md
  llm-sdk/examples/basic-usage.js
  llm-sdk/src/adapters/LegacyAdapter.js
Labels: none

feat: complete LLM SDK with all missing providers and integration
  concepts/llm-sdk-extraction/2025-08-10 LLM SDK Implementation Gap Analysis.md
  concepts/llm-sdk-extraction/2025-08-10 LLM SDK Integration Validation Guide.md
  llm-sdk/src/adapters/LegacyAdapter.js
  llm-sdk/src/core/LLMClient.js
  llm-sdk/src/providers/MistralProvider.js
  llm-sdk/src/providers/VLLMProvider.js
  llm-sdk/src/providers/index.js
  llm-sdk/src/streaming/StreamingClient.js
  llm-sdk/src/streaming/StreamingParser.js
  llm-sdk/src/streaming/index.js
  llm-sdk/src/tools/ToolExecutor.js
  llm-sdk/src/tools/ToolRegistry.js
  llm-sdk/src/tools/index.js
  llm-sdk/tests/unit/providers/MistralProvider.test.js
  llm-sdk/tests/unit/providers/VLLMProvider.test.js
  llm-sdk/tests/unit/streaming/StreamingClient.test.js
  llm-sdk/tests/unit/tools/ToolRegistry.test.js
  server/adapters/index.js
  server/adapters/sdk-bridge.js
  server/services/chat/RequestBuilder.js
  test-sdk-integration.js
Labels: frontend, backend, documentation, chat, api

fixed prompt db rendering
  client/src/features/prompts/pages/PromptsList.jsx
  server/routes/staticRoutes.js
  tests/config/jest.config.js
  tests/unit/client/chat-component.test.jsx
Labels: frontend, backend, api

Add iAssistant API adapter and integrate with existing architecture
  server/adapters/iassistant.js
  server/adapters/index.js
  server/defaults/models/iassistant-dama-dev.json
  server/services/chat/StreamingHandler.js
  server/tests/iFinderAdapter.test.js
  server/utils.js
  server/validators/modelConfigSchema.js
Labels: backend, chat, api, testing

Implement iAssistant integration with service layer and update related adapters
  server/adapters/iassistant.js
  server/configCache.js
  server/services/chat/StreamingHandler.js
  server/services/integrations/iAssistantService.js
  server/tools/iAssistant.js
  server/utils.js
  server/utils/ApiKeyVerifier.js
Labels: backend, chat, api, tools

Refactor user editing routes and improve new user initialization logic
  client/src/App.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  client/src/features/admin/pages/AdminUsersPage.jsx
Labels: frontend, admin

feat: Add iAssistant tool calling support with streaming capabilities
  concepts/iassistant-consolidation/2025-08-11 iAssistant Code Consolidation Technical Plan.md
  concepts/iassistant-consolidation/2025-08-11 iAssistant SSE Parsing Logic Consolidation Implementation.md
  server/actionTracker.js
  server/adapters/iassistant.js
  server/adapters/toolCalling/IAssistantConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/configCache.js
  server/defaults/models/iassistant.json
  server/routes/openaiProxy.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/services/integrations/iAssistantService.js
  server/tools/iAssistant.js
Labels: backend, documentation, chat, api, tools

url is needed right now
  server/defaults/models/iassistant.json
Labels: backend

Removed logging
  server/routes/openaiProxy.js
Labels: backend, api

Apply suggestion from @Copilot
  server/services/chat/ToolExecutor.js
Labels: backend

Apply suggestion from @Copilot
  server/utils.js
Labels: backend

Apply suggestion from @Copilot
  server/validators/modelConfigSchema.js
Labels: backend

Update iassistant.js
  server/adapters/iassistant.js
Labels: backend, chat, api

Update iAssistantService.js
  server/services/integrations/iAssistantService.js
Labels: backend

Update iassistant.js
  server/adapters/iassistant.js
Labels: backend, chat, api

iAssistant-integration (#434)
  client/src/App.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  client/src/features/admin/pages/AdminUsersPage.jsx
  concepts/iassistant-consolidation/2025-08-11 iAssistant Code Consolidation Technical Plan.md
  concepts/iassistant-consolidation/2025-08-11 iAssistant SSE Parsing Logic Consolidation Implementation.md
  server/actionTracker.js
  server/adapters/iassistant.js
  server/adapters/index.js
  server/adapters/toolCalling/IAssistantConverter.js
  server/adapters/toolCalling/ToolCallingConverter.js
  server/configCache.js
  server/defaults/models/iassistant.json
  server/routes/openaiProxy.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/services/integrations/iAssistantService.js
  server/tests/iFinderAdapter.test.js
  server/tools/iAssistant.js
  server/utils.js
  server/utils/ApiKeyVerifier.js
  server/validators/modelConfigSchema.js
Labels: frontend, backend, documentation, admin, chat, api, testing, tools

feat: Update logo assets and improve error handling
  client/public/favicon.ico
  client/public/header_company_logo.svg
  client/public/icons/apps-svg-logo.svg
  client/public/logo.jpg
  client/public/logo.png
  client/public/logo.svg
  client/public/logo.webp
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/HeaderCustomization.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  configs/config/ui.json
  server/defaults/config/tools.json
  server/defaults/config/ui.json
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/services/integrations/iFinderService.js
  server/utils/ErrorHandler.js
  server/validators/appConfigSchema.js
  server/validators/promptConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, configuration, admin, i18n

feat: Update logo assets and improve error handling
  client/public/favicon.ico
  client/public/header_company_logo.svg
  client/public/icons/apps-svg-logo.svg
  client/public/logo.jpg
  client/public/logo.png
  client/public/logo.svg
  client/public/logo.webp
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/HeaderCustomization.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  configs/config/ui.json
  server/defaults/config/tools.json
  server/defaults/config/ui.json
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/services/integrations/iFinderService.js
  server/utils/ErrorHandler.js
  server/validators/appConfigSchema.js
  server/validators/promptConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, configuration, admin, i18n

added example for ifinder and iassistant
  server/defaults/apps/iassistant-demo.json
  server/defaults/apps/ifinder-document-actions.json
  server/defaults/config/tools.json
Labels: backend

Refactor tool name handling across adapters and configuration
  client/src/features/chat/hooks/useChatMessages.js
  docs/ifinder-iassistant-admin-guide.md
  server/adapters/toolCalling/OpenAIConverter.js
  server/adapters/toolFormatter.js
  server/configCache.js
  server/defaults/config/tools.json
  server/toolLoader.js
Labels: frontend, backend, documentation, chat, api

adjusted build to use new default
  .github/workflows/build-binaries.yml
Labels: github-actions

allow web access by claude
  .github/workflows/claude-dispatch.yml
Labels: github-actions

fix error handling frontend
  client/src/features/chat/hooks/useChatMessages.js
  server/utils/ErrorHandler.js
Labels: frontend, backend, chat

added docs for llm provider
  CLAUDE.md
  docs/local-llm-providers.md
Labels: documentation

fixed base64 build
  .github/workflows/build-binaries.yml
Labels: github-actions

Updated attribution requirements
  LICENSE
Labels: none

Update ui.json
  configs/config/ui.json
Labels: configuration

Adjusted docs link in defaults
  server/defaults/config/ui.json
Labels: backend

fix: Update modelConfigSchema URL validation
  .claude/settings.local.json
  bash.exe.stackdump
  configs/apps/nda-risk-analyzer.json
  package.json
  server/validators/modelConfigSchema.js
Labels: backend, configuration, dependencies

adjusted jira url to use the new endpoint
  server/services/integrations/JiraService.js
Labels: backend
