Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

Add Value Encryption Tool to Admin System Page (#973)
  client/package-lock.json
  client/src/features/admin/pages/AdminSystemPage.jsx
  docs/SUMMARY.md
  docs/ldap-ntlm-authentication.md
  docs/value-encryption-tool-ui.md
  docs/value-encryption-tool.md
  server/package-lock.json
  server/routes/admin/cache.js
  shared/i18n/de.json
  shared/i18n/en.json
  tests/test-encryption-workflow.js
Labels: frontend, backend, documentation, admin, api, dependencies, i18n

Remove admin consent requirement from Office 365 integration (#985)
  concepts/2026-02-20 Office 365 Admin Rights Removal.md
  docs/office365-admin-consent-removal.md
  package-lock.json
  server/services/integrations/Office365Service.js
Labels: backend, documentation, dependencies

Remove legacy admin password authentication (#980)
  SECURITY_AUDIT_SUMMARY.md
  client/src/features/admin/components/AdminAuth.jsx
  client/src/features/admin/hooks/useAdminAuth.jsx
  client/src/features/admin/pages/AdminSystemPage.jsx
  concepts/2026-02-03 Client Secret Overwrite Fix.md
  concepts/2026-02-19 Remove Admin Password Feature.md
  docs/INSTALLATION.md
  docs/platform.md
  examples/config/platform.json
  server/middleware/adminAuth.js
  server/routes/admin/auth.js
  server/routes/admin/configs.js
  tests/test-client-secret-preservation.js
Labels: frontend, backend, documentation, auth, admin, api

Clean code block UI elements from HTML copy/download exports (#982)
  COPY_DOWNLOAD_FIX.md
  client/src/api/endpoints/apps.js
  client/src/features/chat/components/ChatMessage.jsx
  client/src/utils/markdownUtils.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

Add Agent Skills integration as first-class capability
  client/src/App.jsx
  client/src/api/adminApi.js
  client/src/api/endpoints/admin.js
  client/src/api/endpoints/skills.js
  client/src/api/index.js
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/GroupFormEditor.jsx
  client/src/features/admin/pages/AdminSkillEditPage.jsx
  client/src/features/admin/pages/AdminSkillsPage.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/components/ChatMessage.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/prompts/components/PromptSearch.jsx
  client/src/shared/components/SkillsSelector.jsx
  client/src/shared/hooks/useEventSource.js
  package-lock.json
  package.json
  server/actionTracker.js
  server/configCache.js
  server/defaults/config/groups.json
  server/defaults/config/skills.json
  server/routes/admin/groups.js
  server/routes/admin/skills.js
  server/routes/adminRoutes.js
  server/routes/skillRoutes.js
  server/server.js
  server/services/PromptService.js
  server/services/skillLoader.js
  server/toolLoader.js
  server/utils/authorization.js
  server/validators/appConfigSchema.js
  shared/unifiedEventSchema.js
Labels: frontend, backend, auth, admin, chat, api, dependencies, ui

Update lock files after dependency installation
  client/package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Potential fix for code scanning alert no. 358: Uncontrolled data used in path expression
  server/routes/admin/skills.js
Labels: backend, admin, api

Potential fix for code scanning alert no. 361: Uncontrolled data used in path expression
  server/services/skillLoader.js
Labels: backend

Add missing German translations for AI hint and disclaimer UI elements (#989)
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  concepts/2026-02-22 AI Hint Translation Fix.md
  docs/models.md
  examples/models/MODEL_HINTS_EXAMPLES.md
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, documentation, chat, i18n

Consolidate duplicated LLM call logic into shared utilities
  server/services/chat/NonStreamingHandler.js
  server/services/chat/StreamingHandler.js
  server/services/chat/ToolExecutor.js
  server/services/chat/utils/StreamResponseCollector.js
  server/services/chat/utils/llmRequestExecutor.js
  server/services/chat/utils/requestLifecycle.js
  server/services/chat/utils/resultEmitters.js
  server/services/chat/utils/toolCallAccumulator.js
  server/services/workflow/WorkflowLLMHelper.js
Labels: backend

Update package-lock.json files after dependency install
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Guard workflow API calls with feature flag checks (#987)
  client/src/App.jsx
  client/src/features/chat/components/AIDisclaimerBanner.jsx
  client/src/features/chat/components/ChatInputActionsMenu.jsx
  client/src/features/chat/components/WorkflowMentionSearch.jsx
  client/src/features/workflows/hooks/useMyExecutions.js
  client/src/features/workflows/hooks/useWorkflowExecution.js
  client/src/features/workflows/hooks/useWorkflowList.js
  concepts/2026-02-22 Workflow Feature Flag Implementation.md
Labels: frontend, documentation, chat

Potential fix for code scanning alert no. 362: Uncontrolled data used in path expression
  server/services/skillLoader.js
Labels: backend

clean up
  ai-disclaimer-banner-fix-demo.png
  concepts/2026-02-20 Configuration Migration System.md
  concepts/2026-02-22 Agent Skills Integration PRD.md
  concepts/AI_DISCLAIMER_BANNER_FIX_SUMMARY.md
  concepts/AUDIO_EXTRACTION_IMPLEMENTATION.md
  concepts/COPY_DOWNLOAD_FIX.md
  concepts/FIREFOX_FIX_SUMMARY.md
  concepts/FIREFOX_FIX_TESTING.md
  concepts/IMPLEMENTATION_SUMMARY.md
  concepts/IMPLEMENTATION_SUMMARY_AUTOSTART.md
  concepts/IMPLEMENTATION_SUMMARY_OFFICE365_LAZY_LOADING.md
  concepts/IMPLEMENTATION_SUMMARY_OFFICE365_RENAME.md
  concepts/IMPLEMENTATION_SUMMARY_RENAME_RAG.md
  concepts/IMPLEMENTATION_SUMMARY_UPLOAD_MODEL_METADATA.md
  concepts/INVESTIGATION_UPDATE.md
  concepts/LDAP-IMPLEMENTATION-SUMMARY.md
  concepts/OAUTH_IMPLEMENTATION_SUMMARY.md
  concepts/OIDC_IMPLEMENTATION_SUMMARY.md
  concepts/OIDC_MODAL_MOCKUP.md
  concepts/OIDC_PROVIDER_SELECTOR_FEATURE.md
  concepts/PR_FEEDBACK_RESPONSE.md
  concepts/QUOTA_FIX.md
  concepts/RESEND_FIX_SUMMARY.md
  concepts/SECURITY_AUDIT_SUMMARY.md
  concepts/STRUCTURED_LOGGING_SUMMARY.md
  concepts/TESTING_AUDIO_UPLOAD.md
  tests/test-nda-prompt.js
  tests/test-oidc-provider-selector.sh
  tests/test-resend-fix.md
Labels: documentation

Potential fix for pull request finding 'Duplicate property'
  client/src/utils/exportFormats.js
Labels: frontend

adjust formatting for html export
  client/src/api/endpoints/apps.js
Labels: frontend

removed logging
  client/src/api/endpoints/apps.js
Labels: frontend

Replace export menu with modal dialog and add XLSX, CSV, DOCX, TXT, PPTX formats with comprehensive markdown support (#981)
  ai-disclaimer-banner-fix-demo.png
  client/package-lock.json
  client/package.json
  client/src/api/endpoints/apps.js
  client/src/features/chat/components/ChatActionsMenu.jsx
  client/src/features/chat/components/ExportDialog.jsx
  client/src/shared/components/Icon.jsx
  client/src/utils/exportFormats.js
  concepts/2026-02-20 Configuration Migration System.md
  concepts/2026-02-22 Agent Skills Integration PRD.md
  concepts/AI_DISCLAIMER_BANNER_FIX_SUMMARY.md
  concepts/AUDIO_EXTRACTION_IMPLEMENTATION.md
  concepts/COPY_DOWNLOAD_FIX.md
  concepts/FIREFOX_FIX_SUMMARY.md
  concepts/FIREFOX_FIX_TESTING.md
  concepts/IMPLEMENTATION_SUMMARY.md
  concepts/IMPLEMENTATION_SUMMARY_AUTOSTART.md
  concepts/IMPLEMENTATION_SUMMARY_OFFICE365_LAZY_LOADING.md
  concepts/IMPLEMENTATION_SUMMARY_OFFICE365_RENAME.md
  concepts/IMPLEMENTATION_SUMMARY_RENAME_RAG.md
  concepts/IMPLEMENTATION_SUMMARY_UPLOAD_MODEL_METADATA.md
  concepts/INVESTIGATION_UPDATE.md
  concepts/LDAP-IMPLEMENTATION-SUMMARY.md
  concepts/OAUTH_IMPLEMENTATION_SUMMARY.md
  concepts/OIDC_IMPLEMENTATION_SUMMARY.md
  concepts/OIDC_MODAL_MOCKUP.md
  concepts/OIDC_PROVIDER_SELECTOR_FEATURE.md
  concepts/PR_FEEDBACK_RESPONSE.md
  concepts/QUOTA_FIX.md
  concepts/RESEND_FIX_SUMMARY.md
  concepts/SECURITY_AUDIT_SUMMARY.md
  concepts/STRUCTURED_LOGGING_SUMMARY.md
  concepts/TESTING_AUDIO_UPLOAD.md
  shared/i18n/de.json
  shared/i18n/en.json
  tests/test-nda-prompt.js
  tests/test-oidc-provider-selector.sh
  tests/test-resend-fix.md
Labels: frontend, documentation, chat, dependencies, ui, i18n

docs: add configuration migration guidance to all LLM instruction files
  .github/copilot-instructions.md
  .github/instructions/configuration-files.instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  LLM_GUIDELINES.md
Labels: documentation, github-actions, ai-copilot

Add versioned configuration migration system
  server/migrations/V001__baseline.js
  server/migrations/V002__ensure_default_providers.js
  server/migrations/runner.js
  server/migrations/utils.js
  server/server.js
  server/tests/migrations-runner.test.js
Labels: backend, testing

Update package-lock.json files after dependency installation
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Add versioned configuration migration system (#993)
  .github/copilot-instructions.md
  .github/instructions/configuration-files.instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  LLM_GUIDELINES.md
  client/package-lock.json
  package-lock.json
  server/migrations/V001__baseline.js
  server/migrations/V002__ensure_default_providers.js
  server/migrations/runner.js
  server/migrations/utils.js
  server/package-lock.json
  server/server.js
  server/tests/migrations-runner.test.js
Labels: frontend, backend, documentation, github-actions, testing, dependencies, ai-copilot

Potential fix for pull request finding 'Unused variable, import, function or class'
  server/routes/admin/skills.js
Labels: backend, admin, api

lock
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

fix basepath
  server/routes/admin/logging.js
  server/routes/admin/ssl.js
  server/routes/swagger.js
Labels: backend, admin, api

fix(skills): security hardening, remove skills.json, add feature flag and migration
  server/configCache.js
  server/defaults/config/features.json
  server/defaults/config/platform.json
  server/defaults/config/skills.json
  server/featureRegistry.js
  server/migrations/001-skills-config.js
  server/migrations/runner.js
  server/routes/admin/groups.js
  server/routes/admin/skills.js
  server/routes/skillRoutes.js
  server/server.js
  server/services/PromptService.js
  server/services/skillLoader.js
  server/toolLoader.js
Labels: backend, admin, api

feat(skills): hide Skills nav and app editor section when feature is disabled
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/AppFormEditor.jsx
Labels: frontend, admin

fix(skills): handle 'skills' cache key in refreshCacheEntry to prevent EISDIR error
  server/configCache.js
Labels: backend

Potential fix for code scanning alert no. 367: Uncontrolled data used in path expression
  server/services/skillLoader.js
Labels: backend

Potential fix for code scanning alert no. 365: Uncontrolled data used in path expression
  server/routes/admin/skills.js
Labels: backend, admin, api

feat(skills): slash command integration, skill activation, and search improvements
  client/src/api/adminApi.js
  client/src/api/endpoints/admin.js
  client/src/features/apps/pages/AppChat.jsx
  client/src/features/chat/components/ChatInput.jsx
  client/src/features/chat/hooks/useAppChat.js
  client/src/features/prompts/components/PromptSearch.jsx
  client/src/shared/components/SearchModal.jsx
  server/configCache.js
  server/defaults/skills/interview-to-blog/SKILL.md
  server/defaults/skills/interview-to-blog/references/phase-1-interview.md
  server/defaults/skills/interview-to-blog/references/phase-2-research.md
  server/defaults/skills/interview-to-blog/references/phase-3-architecture.md
  server/defaults/skills/interview-to-blog/references/phase-4-writing.md
  server/migrations/V004__add_skills_to_groups.js
  server/routes/chat/sessionRoutes.js
  server/serverHelpers.js
  server/services/PromptService.js
  server/services/chat/ChatService.js
  server/services/chat/RequestBuilder.js
  server/utils/authorization.js
  server/validators/index.js
Labels: frontend, backend, auth, chat, api, ui

docs: add Skill Store and iHub Marketplace PRD concept documents
  concepts/2026-02-23 Skill Store PRD.docx
  concepts/2026-02-23 iHub Marketplace PRD.docx
Labels: documentation

Potential fix for pull request finding 'Superfluous trailing arguments'
  server/routes/swagger.js
Labels: backend, api

Potential fix for code scanning alert no. 364: Type confusion through parameter tampering
  server/services/skillLoader.js
Labels: backend

chore: add skills and untracked files
  .agents/skills/claude-automation-recommender/SKILL.md
  .agents/skills/claude-automation-recommender/references/hooks-patterns.md
  .agents/skills/claude-automation-recommender/references/mcp-servers.md
  .agents/skills/claude-automation-recommender/references/plugins-reference.md
  .agents/skills/claude-automation-recommender/references/skills-reference.md
  .agents/skills/claude-automation-recommender/references/subagent-templates.md
  .claude/agents/i18n-checker.md
  .claude/skills/add-app/SKILL.md
  .claude/skills/claude-automation-recommender
  .claude/skills/create-migration/SKILL.md
  .mcp.json
  skills-lock.json
Labels: none

chore: add .worktrees to .gitignore
  .gitignore
Labels: none

feat: add iHub Marketplace for registry-based content discovery (#997)
  client/src/App.jsx
  client/src/api/adminApi.js
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemCard.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  client/src/features/admin/components/marketplace/MarketplaceTypeTabs.jsx
  client/src/features/admin/components/marketplace/RegistryFormDialog.jsx
  client/src/features/admin/pages/AdminHome.jsx
  client/src/features/admin/pages/AdminMarketplacePage.jsx
  client/src/features/admin/pages/AdminMarketplaceRegistriesPage.jsx
  concepts/marketplace/2026-02-24 Backend Implementation Summary.md
  concepts/marketplace/2026-02-24 Marketplace Frontend Implementation.md
  server/configCache.js
  server/defaults/config/installations.json
  server/defaults/config/registries.json
  server/featureRegistry.js
  server/migrations/V005__add_marketplace.js
  server/routes/admin/marketplace.js
  server/routes/adminRoutes.js
  server/services/marketplace/ContentInstaller.js
  server/services/marketplace/RegistryService.js
  server/validators/catalogSchema.js
  server/validators/registryConfigSchema.js
  shared/i18n/de.json
  shared/i18n/en.json
Labels: frontend, backend, documentation, admin, api, i18n

fix: always register marketplace routes in React Router tree
  client/src/App.jsx
Labels: frontend

fix: test connection for unsaved marketplace registries returns 404
  server/routes/admin/marketplace.js
  server/services/marketplace/RegistryService.js
Labels: backend, admin, api

feat: resolve marketplace plugins to individual skills via GitHub tree API
  server/services/marketplace/ContentInstaller.js
  server/services/marketplace/RegistryService.js
Labels: backend

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md
