Repository intrafind/ihub-apps, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, docker, github-actions, auth, admin, chat, api, testing, dependencies, tools, ui, i18n, bug, enhancement, performance, ai-claude, ai-copilot, ai-codex, ai-gemini

.github/labeler.yml:

# Configuration for GitHub Auto-Labeler
# https://github.com/actions/labeler

# Frontend related changes
'frontend':
  - client/**/*
  - '*.html'
  - '*.css'
  - '*.js'
  - '*.jsx'
  - '*.ts'
  - '*.tsx'
  - vite.config.js
  - tailwind.config.js

# Backend related changes
'backend':
  - server/**/*
  - '*.cjs'
  - package.json
  - package-lock.json

# Configuration changes
'configuration':
  - contents/config/**/*
  - contents/apps/**/*
  - contents/models/**/*
  - contents/prompts/**/*
  - contents/sources/**/*
  - configs/**/*
  - config.env
  - .env*

# Documentation changes
'documentation':
  - docs/**/*
  - '*.md'
  - README.md
  - CLAUDE.md
  - concepts/**/*
  - book.toml

# Docker related changes
'docker':
  - docker/**/*
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# GitHub Actions/Workflows
'github-actions':
  - .github/workflows/**/*
  - .github/**/*

# Authentication & Security
'auth':
  - server/middleware/**/*
  - server/utils/authorization.js
  - server/routes/auth.js
  - client/src/features/auth/**/*
  - contents/config/groups.json

# Admin features
'admin':
  - client/src/features/admin/**/*
  - server/routes/admin/**/*

# Chat features
'chat':
  - client/src/features/chat/**/*
  - server/routes/chat/**/*
  - server/adapters/**/*

# API changes
'api':
  - server/routes/**/*
  - server/adapters/**/*
  - openapi.yaml

# Testing
'testing':
  - server/tests/**/*
  - '*.test.js'
  - '*.spec.js'
  - jest.config.js

# Dependencies
'dependencies':
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

# Tools & Utilities
'tools':
  - server/tools/**/*
  - scripts/**/*
  - '*.sh'

# UI/UX
'ui':
  - client/src/shared/components/**/*
  - contents/config/ui.json
  - contents/config/styles.json

# Localization
'i18n':
  - shared/i18n/**/*
  - contents/locales/**/*
  - client/src/i18n/**/*

# Bug fixes (based on commit patterns)
'bug':
  - any:
    - '**/*fix*'
    - '**/*bug*'

# Features (based on commit patterns)
'enhancement':
  - any:
    - '**/*feature*'
    - '**/*feat*'
    - '**/*enhance*'

# Performance improvements
'performance':
  - any:
    - '**/*perf*'
    - '**/*performance*'
    - '**/*optimize*'

# AI Assistant related changes
'ai-claude':
  - any:
    - '**/*claude*'
    - '**/claude/**/*'
    - CLAUDE.md

'ai-copilot':
  - any:
    - '**/*copilot*'
    - '**/copilot*'
    - .github/copilot-instructions.md

'ai-codex':
  - any:
    - '**/*codex*'
    - '**/codex*'

'ai-gemini':
  - any:
    - '**/*gemini*'
    - '**/gemini*'
    - GEMINI.md

Add gemini-3.1-flash-image.json file
  server/defaults/models/gemini-3.1-flash-image.json
Labels: backend

Update and rename gemini-3.1-pro-image.json to gemini-3-pro-image.json
  server/defaults/models/gemini-3-pro-image.json
Labels: backend

Addressing PR comments (#1192)
  server/defaults/models/claude-haiku-4-5.json
  server/defaults/models/gemini-3-pro-image.json
  server/defaults/models/gemini-3.1-flash-lite.json
  server/migrations/V023__rename_model_files_to_match_ids.js
Labels: backend

fix: upgrade canvas from v2 to v3 for Node.js 24 compatibility (#1194)
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

fix: upgrade canvas to v3 for Node.js 24 compatibility (#1196)
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

fix: upgrade jsdom to v26 to resolve canvas v3 peer dependency conflict (#1194)
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

fix: upgrade jsdom to v26 for canvas v3 compatibility (#1198)
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

fix: replace canvas (node-canvas) with @hyzyla/pdfium for PDF rendering
  package-lock.json
  server/package-lock.json
  server/package.json
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api, dependencies

fix: replace canvas with @hyzyla/pdfium (pure WASM PDF renderer) (#1200)
  package-lock.json
  server/package-lock.json
  server/package.json
  server/routes/toolsService/processors/ocrProcessor.js
Labels: backend, api, dependencies

Delete .github/workflows/agentics-maintenance.yml
  .github/workflows/agentics-maintenance.yml
Labels: github-actions

Delete .github/workflows/test-suite.yml
  .github/workflows/test-suite.yml
Labels: github-actions

fix: add warnings for 0.0.0.0 bind address cookie issues (#1210)
  concepts/2026-03-30 Cookie Setting Issue with 0.0.0.0 Binding.md
  docs/INSTALLATION.md
  docs/server-config.md
  package-lock.json
  server/package-lock.json
  server/server.js
Labels: backend, documentation, dependencies

Potential fix for code scanning alert no. 315: Type confusion through parameter tampering
  server/routes/auth.js
Labels: backend, auth, api

Potential fix for code scanning alert no. 315: Type confusion through parameter tampering (#1211)
  server/routes/auth.js
Labels: backend, auth, api

Add OSV-Scanner workflow for vulnerability scanning
  .github/workflows/osv-scanner.yml
Labels: github-actions

fix: Use LANGUAGE_CODE_PATTERN constant and correct speech recognition service enum (#1215)
  server/validators/appConfigSchema.js
Labels: backend

Fix missing `changes++` for deletion paths in V023 migration (#1214)
  server/migrations/V023__rename_model_files_to_match_ids.js
Labels: backend

fix(security): resolve GitHub CodeQL scanning alerts across all batches
  .github/workflows/build-binaries.yml
  .github/workflows/docker-ci.yml
  .github/workflows/mdbook.yml
  client/package-lock.json
  client/src/auth-gate/auth-gate.js
  client/src/features/teams/TeamsAuthStart.jsx
  client/src/shared/components/Icon.jsx
  client/src/utils/sessionManager.js
  client/vite-plugins/vite-plugin-auth-gate.js
  examples/oauth-client/server.js
  package-lock.json
  server/configCache.js
  server/middleware/jwtAuth.js
  server/middleware/localAuth.js
  server/middleware/setup.js
  server/middleware/teamsAuth.js
  server/package-lock.json
  server/routes/admin/marketplace.js
  server/routes/admin/ui.js
  server/routes/auth.js
  server/routes/chat/dataRoutes.js
  server/routes/integrations/googledrive.js
  server/routes/integrations/office365.js
  server/routes/openaiProxy.js
  server/services/marketplace/ContentInstaller.js
  server/services/workflow/StateManager.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/shortLinkManager.js
  server/usageTracker.js
  server/utils/authDebugService.js
  server/utils/basePath.js
  server/utils/deepMerge.js
  server/utils/httpConfig.js
  server/utils/oauthClientManager.js
  server/utils/refreshTokenStore.js
Labels: frontend, backend, github-actions, auth, admin, chat, api, dependencies, ui

fix(security): resolve GitHub CodeQL scanning alerts (Batch 1-3) (#1216)
  .github/workflows/build-binaries.yml
  .github/workflows/docker-ci.yml
  .github/workflows/mdbook.yml
  client/package-lock.json
  client/src/auth-gate/auth-gate.js
  client/src/features/teams/TeamsAuthStart.jsx
  client/src/shared/components/Icon.jsx
  client/src/utils/sessionManager.js
  client/vite-plugins/vite-plugin-auth-gate.js
  examples/oauth-client/server.js
  package-lock.json
  server/configCache.js
  server/middleware/jwtAuth.js
  server/middleware/localAuth.js
  server/middleware/setup.js
  server/middleware/teamsAuth.js
  server/package-lock.json
  server/routes/admin/marketplace.js
  server/routes/admin/ui.js
  server/routes/auth.js
  server/routes/chat/dataRoutes.js
  server/routes/integrations/googledrive.js
  server/routes/integrations/office365.js
  server/routes/openaiProxy.js
  server/services/marketplace/ContentInstaller.js
  server/services/workflow/StateManager.js
  server/services/workflow/executors/TransformNodeExecutor.js
  server/shortLinkManager.js
  server/usageTracker.js
  server/utils/authDebugService.js
  server/utils/basePath.js
  server/utils/deepMerge.js
  server/utils/httpConfig.js
  server/utils/oauthClientManager.js
  server/utils/refreshTokenStore.js
Labels: frontend, backend, github-actions, auth, admin, chat, api, dependencies, ui

Security: Remove JWT tokens from auth JSON responses, fix session regeneration error handling (#1213)
  server/routes/auth.js
Labels: backend, auth, api

Fix undefined `err` references and generic loop variable in server.js (#1212)
  server/server.js
Labels: backend

Update Node.js version in workflow
  .github/workflows/auto-lint-format.yml
Labels: github-actions

Update Node.js version in CI workflow
  .github/workflows/docker-ci.yml
Labels: github-actions

Update Node.js version from 22 to 24
  .github/workflows/mdbook.yml
Labels: github-actions

fix build eslint comp
  eslint.config.js
  package-lock.json
  package.json
Labels: frontend, backend, dependencies

Regenerate package-lock.json to fix CI npm ci failure
  eslint.config.js
  package-lock.json
Labels: frontend, backend, dependencies

fix: resolve all 53 ESLint errors after @eslint-react migration
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/FileUploader.jsx
  client/src/features/admin/components/GroupFormEditor.jsx
  client/src/features/admin/components/ModelFormEditor.jsx
  client/src/features/admin/components/PlatformFormEditor.jsx
  client/src/features/admin/components/PromptFormEditor.jsx
  client/src/features/admin/components/SourceContentEditor.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  client/src/features/admin/pages/AdminFeaturesPage.jsx
  client/src/features/admin/pages/AdminGroupEditPage.jsx
  client/src/features/admin/pages/AdminLoggingPage.jsx
  client/src/features/admin/pages/AdminModelEditPage.jsx
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  client/src/features/admin/pages/AdminPageEditPage.jsx
  client/src/features/admin/pages/AdminPromptEditPage.jsx
  client/src/features/admin/pages/AdminProviderEditPage.jsx
  client/src/features/admin/pages/AdminSkillEditPage.jsx
  client/src/features/admin/pages/AdminToolEditPage.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  client/src/features/admin/pages/AdminWorkflowEditPage.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/apps/pages/RedirectApp.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  client/src/features/chat/components/WorkflowMentionSearch.jsx
  client/src/features/chat/hooks/useIntegrationAuth.js
  client/src/features/prompts/components/PromptSearch.jsx
  client/src/features/prompts/pages/PromptsList.jsx
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/pages/LoginPage.jsx
  client/src/services/i18nService.js
  client/src/shared/components/ModelDetailsPopup.jsx
  client/src/shared/components/SmartSearch.jsx
  client/src/shared/contexts/AuthContext.jsx
Labels: frontend, admin, chat, ui

fix basepath
  server/utils/basePath.js
Labels: backend

fix: resolve all 53 ESLint errors after @eslint-react migration (#1217)
  client/src/features/admin/components/AdminNavigation.jsx
  client/src/features/admin/components/AppFormEditor.jsx
  client/src/features/admin/components/FileUploader.jsx
  client/src/features/admin/components/GroupFormEditor.jsx
  client/src/features/admin/components/ModelFormEditor.jsx
  client/src/features/admin/components/PlatformFormEditor.jsx
  client/src/features/admin/components/PromptFormEditor.jsx
  client/src/features/admin/components/SourceContentEditor.jsx
  client/src/features/admin/components/UserFormEditor.jsx
  client/src/features/admin/components/marketplace/MarketplaceItemDetail.jsx
  client/src/features/admin/pages/AdminAppEditPage.jsx
  client/src/features/admin/pages/AdminFeaturesPage.jsx
  client/src/features/admin/pages/AdminGroupEditPage.jsx
  client/src/features/admin/pages/AdminLoggingPage.jsx
  client/src/features/admin/pages/AdminModelEditPage.jsx
  client/src/features/admin/pages/AdminOAuthClientEditPage.jsx
  client/src/features/admin/pages/AdminOAuthClientsPage.jsx
  client/src/features/admin/pages/AdminOAuthServerPage.jsx
  client/src/features/admin/pages/AdminPageEditPage.jsx
  client/src/features/admin/pages/AdminPromptEditPage.jsx
  client/src/features/admin/pages/AdminProviderEditPage.jsx
  client/src/features/admin/pages/AdminSkillEditPage.jsx
  client/src/features/admin/pages/AdminToolEditPage.jsx
  client/src/features/admin/pages/AdminUserEditPage.jsx
  client/src/features/admin/pages/AdminWorkflowEditPage.jsx
  client/src/features/apps/pages/AppsList.jsx
  client/src/features/apps/pages/RedirectApp.jsx
  client/src/features/canvas/pages/AppCanvas.jsx
  client/src/features/chat/components/WorkflowMentionSearch.jsx
  client/src/features/chat/hooks/useIntegrationAuth.js
  client/src/features/prompts/components/PromptSearch.jsx
  client/src/features/prompts/pages/PromptsList.jsx
  client/src/features/workflows/components/ExecutionProgress.jsx
  client/src/features/workflows/pages/WorkflowExecutionPage.jsx
  client/src/pages/LoginPage.jsx
  client/src/services/i18nService.js
  client/src/shared/components/ModelDetailsPopup.jsx
  client/src/shared/components/SmartSearch.jsx
  client/src/shared/contexts/AuthContext.jsx
  server/utils/basePath.js
Labels: frontend, backend, admin, chat, ui

cve fixes
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Labels: frontend, backend, dependencies

fix: regenerate package-lock.json for npm 11.11.0 compatibility
  package-lock.json
Labels: backend, dependencies

lock sync
  client/package-lock.json
  server/package-lock.json
Labels: frontend, backend, dependencies

Fix login failure after expired token by relying on HTTP-only cookies (#1219)
  client/src/auth-gate/auth-gate.js
  client/src/shared/contexts/AuthContext.jsx
Labels: frontend

fix crypto usage
  client/src/api/client.js
  client/src/utils/sessionManager.js
Labels: frontend

custom app menu replaced by new chat functionality
  client/src/features/chat/components/ChatHeader.jsx
Labels: frontend, chat

chore: update version to 5.2.10-luis for release v5.2.10-luis
  client/package.json
  docs/README.md
  docs/theme/head.hbs
  package.json
  server/package.json
Labels: frontend, backend, documentation, dependencies

fix(security): remediate CodeQL code scanning alerts
  .github/codeql/extensions/ihub-custom-models.yml
  client/src/auth-gate/auth-gate.js
  client/src/utils/markdownHelpers.js
  server/configCache.js
  server/middleware/oidcAuth.js
  server/routes/auth.js
  server/shortLinkManager.js
  server/sources/URLHandler.js
  server/tools/webContentExtractor.js
  server/utils/oauthClientManager.js
  server/utils/pathSecurity.js
  server/utils/pkceUtils.js
  server/utils/refreshTokenStore.js
Labels: frontend, backend, github-actions, auth, api, tools

fix: remove broken CodeQL model extensions YAML
  .github/codeql/extensions/ihub-custom-models.yml
Labels: github-actions

Potential fix for code scanning alert no. 444: Incomplete multi-character sanitization
  server/package.json
  server/sources/URLHandler.js
Labels: backend, dependencies

fix(security): remediate CodeQL code scanning alerts (#1224)
  client/src/auth-gate/auth-gate.js
  client/src/utils/markdownHelpers.js
  server/configCache.js
  server/middleware/oidcAuth.js
  server/package.json
  server/routes/auth.js
  server/shortLinkManager.js
  server/sources/URLHandler.js
  server/tools/webContentExtractor.js
  server/utils/oauthClientManager.js
  server/utils/pathSecurity.js
  server/utils/pkceUtils.js
  server/utils/refreshTokenStore.js
Labels: frontend, backend, auth, api, dependencies, tools
